/*
    Author: Dexter Harrison
*/
body.login {
    background: url('img/login_bg2.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.logincont {
    color: white;
    box-sizing: border-box;
    background: rgba(255,255,255,0.6);
    border-radius: 10px;
    width: 480px;
    margin: 120px auto 0 auto;
}

.login .logo img {
    width: 220px;
    padding-top: 40px;
}

#login {
    margin-bottom: 0;
    box-shadow: none;
    background: transparent;
}

#hd.topbar {
    background: transparent;
}

#hd.topbar h1 {
    display: none;
}

#login .bd {
    background: transparent;
}

#login .bd form label {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    padding-bottom: 8px;
}

#login .bd form input {
    text-align: center;
    background: grey;
    border: none;
    background: rgba(255,255,255,.5);
    box-shadow: none;
    box-sizing: border-box;
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    padding: 8px;
}

#login .bd form input[type=submit] {
    border: none;
    width: 50%;
    text-align: center;
    display: block;
    margin: 20px auto 0 auto;
}

#login .bd form input[type=submit]:hover {
    opacity: 0.6;
}

#login .bd form div {
    border-bottom: none;
    margin: 0 auto;
    text-align: center;
}

.login form p.submit {
    text-align: center;
    margin-left: auto;
}

.login form p.submit a:link {
    text-align: center;
    margin-top: 20px;
    display: inline-block;
}

form .tiny {
    height: 25px;
    min-height: 25px;
}

.smartbar .filter ul.open {
    width: 420px;
}

.smartbar .filter .open li {
    width: 140px;
    float: left;
}

.smartbar .filter .open li:first-of-type {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

form .number, form .text {
    font-family: Arial,Helvetica,clean,sans-serif;
}

.redactor-toolbar, .redactor-dropdown {
    z-index: 2 !important;
}


/* SLIM IT DOWN FOR MOBILE */
@media only screen and (max-width: 767px) {
    .logincont {
        margin: 20px auto 0 auto;
        width: 300px;
    }
}