<perch:if exists="paging">
  <ul class="pager">
    <perch:if exists="not_first_page">
      <li class="prev"><a href="<perch:content id="myurl" /><perch:content id="prev_page_number"/>">Prev</a></li>
    </perch:if>
    <li class="active"><a href="<perch:content id="myurl" /><perch:content id="current_page"/>"><perch:content id="current_page"/></a></li>
      <perch:if exists="not_last_page">
      <li class="next"><a href="<perch:content id="myurl" /><perch:content id="next_page_number"/>">Next</a></li>
    </perch:if>
  </ul>
</perch:if>