<title><perch:pages type="textarea" escape="true" label="Page Title" id="title" divider-before="SEO" count="chars" chars="55" size="xs" /></title>
<meta name="description" content="<perch:pages id="description" label="Description" type="textarea" size="xs" escape="true" count="chars" help="Max 155 Characters" chars="155" />">
 
<perch:template path="pages/attributes/facebook.html" />
<perch:template path="pages/attributes/twitter.html" />


<meta name="robots" content="<perch:pages id="noindex" label="Do not index" type="checkbox" value="noindex" append="," divider-before="Search engine indexing" /><perch:pages id="nofollow" label="Do not follow links" type="checkbox" value="nofollow" append="," /><perch:pages id="nosnippet" label="Do not show a snippet" type="checkbox" value="nosnippet" append="," />" />