<h2 class="expo-title hlfrow"><perch:events id="selected_month" format="%B %Y" /></h2>

<table class="calendar hlfrow">
    <thead>
        <perch:events id="header" encode="false" />
    </thead>
    <tbody>
        <perch:events id="body" encode="false" />
    </tbody>
</table>

<div class="calNav">
    <a class="prevMonth" href="?d=<perch:events id="prev_month" format="Y-m" />">&lt; <perch:events id="prev_month" format="%b %Y" /></a>
    <a class="nextMonth" href="?d=<perch:events id="next_month" format="Y-m" />"><perch:events id="next_month" format="%b %Y" /> &gt;</a>
</div>