<div class="vevent">
    <perch:events id="map" type="map" label="Address" zoom="20" />
    <h2 class="summary"><perch:events id="eventTitle" order="1" /><perch:if exists="eventLocation"> - </perch:if><perch:events order="2" id="eventLocation" label="Location" type="text" /></h2>

    <p class="dtstart"><span class="value-title" title="<perch:events id="eventDateTime" format="c" />"><perch:events id="eventDateTime" format="%c" /></span></p>

    <div class="description"><perch:events id="eventDescHTML" type="textarea" textile="true" editor="markitup" encode="false" /></div>
    
    <perch:if exists="stand">
        <p><strong>Stand Number<perch:content type="text" label="Stand Number" id="stand"/></strong></p>
    </perch:if>    
    <perch:if exists="image">
        <img src="<perch:events id="image" type="image" label="Image" width="640" crop="true" />" alt="<perch:events id="eventTitle" />" />
    </perch:if>

</div>