<perch:before>
    <ul>
</perch:before>
    <li class="two columns hlfrow">
        <a data-title="<perch:gallery id="imageAlt" />" data-lightbox="awards" href="<perch:gallery id="main" />">
            <img class="circle" src="<perch:gallery id="small" />" alt="<perch:gallery id="imageAlt" />" />
        </a>
    </li>
<perch:after></ul></perch:after>