<title><perch:events type="text" id="eventTitle"/> - LapSafe® Event</title>
<meta name="description" content="<perch:events id="eventDescHTML" chars="150" type="textarea" striptags="true" />...">
<meta property="og:title" content="<perch:events type="text" id="eventTitle"/>" >
<meta property="og:description" content="<perch:events id="eventDescHTML" chars="150" type="textarea" striptags="true" />...">
<meta property="og:image" content="http://www.lapsafe.com<perch:events id="image" type="image" label="Image" width="640" crop="true" />">
<meta property="og:url" content="http://www.lapsafe.com<perch:events id="eventURL" />">
<meta property="og:site_name" content="LapSafe Products">
 
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<perch:events type="text" id="eventTitle"/>">
<meta name="twitter:description" content="<perch:events id="eventDescHTML" chars="150" type="textarea" striptags="true" />...">
<meta name="twitter:image" content="http://www.lapsafe.com<perch:events id="image" type="image" label="Image" width="640" crop="true" />">
<meta name="twitter:url" content="http://www.lapsafe.com<perch:events id="eventURL" />">