<ul class="breadcrumbs nohead">
    <li class="home"><img src="/images/icons/home.jpg"></li>
    <li><a href="/news/">News</a></li>
    <li><a href="/news/exhibitions/">Events & Exhibitions</a></li>
    <li><perch:events id="eventTitle" order="1" label="Event Name" /></li>
</ul>

<div class="page exhibition noPadding">
    <section id="map">
        <div id="eventLocation">
            <perch:events divider-before="Location" order="5" id="map" type="map" label="Map" zoom="15" />
            <h1 class="summary"><perch:events id="eventTitle" /></h1>
        </div>
    </section>
    <div class="container">
        <div class="sixteen columns row">
            
        </div>

        <div class="row">
            <div class="eight columns">
                <perch:events order="2" id="eventDescHTML" type="textarea" editor="redactor" html="true" />
            </div>

            <div class="eight columns">
                <perch:if exists="image">
                    <img src="<perch:events order="3" id="image" type="image" label="Image" bucket="events" width="640" crop="true" />" alt="<perch:events id="eventTitle" />" />
                </perch:if>
                <p class="stand">Come visit us on stand<br><span><perch:events type="text" id="stand" label="Stand Number" order="4" required="true" /></span></p>
            </div>
        </div>

        <div class="row">
            <div class="eight columns">
                <h3>Opening Days/Times</h3>
                <table class="openingTimes">

                    <tr>
                        <td class="day">Day</td>
                        <td class="time">Open</td>
                        <td class="time">Close</td>
                    </tr>
                    <tr>
                        <td class="day"><perch:events type="text" id="day1" label="Day" required="true" divider-before="Opening Times Day 1"/></td>
                        <td class="time"><perch:events type="text" id="openTime1" label="Opening Time" required="true"/></td>
                        <td class="time"><perch:events type="text" id="closeTime1" label="Closing Time" required="true"/></td>
                    </tr>
                    <perch:if exists="day2"><tr>
                        <td class="day"><perch:events type="text" id="day2" label="Day" divider-before="Day 2 (if applicable)"/></td>
                        <td class="time"><perch:events type="text" id="openTime2" label="Opening Time"/></td>
                        <td class="time"><perch:events type="text" id="closeTime2" label="Closing Time"/></td>
                    </tr></perch:if>
                    <perch:if exists="day3"><tr>
                        <td class="day"><perch:events type="text" id="day3" label="Day" divider-before="Day 3 (if applicable)"/></td>
                        <td class="time"><perch:events type="text" id="openTime3" label="Opening Time"/></td>
                        <td class="time"><perch:events type="text" id="closeTime3" label="Closing Time"/></td>
                    </tr></perch:if>
                    <perch:if exists="day4"><tr>
                        <td class="day"><perch:events type="text" id="day4" label="Day" divider-before="Day 4 (if applicable)"/></td>
                        <td class="time"><perch:events type="text" id="openTime4" label="Opening Time" /></td>
                        <td class="time"><perch:events type="text" id="closeTime4" label="Closing Time" /></td>
                    </tr></perch:if>
                    <perch:if exists="day5"><tr>
                        <td class="day"><perch:events type="text" id="day5" label="Day" divider-before="Day 5 (if applicable)"/></td>
                        <td class="time"><perch:events type="text" id="openTime5" label="Opening Time" /></td>
                        <td class="time"><perch:events type="text" id="closeTime5" label="Closing Time" /></td>
                    </tr></perch:if>
                </table>
            </div>
            <div class="six columns">
                <ul class="eventIcons">
                    <a href="<perch:events order="6" divider-before="Miscellaneous" type="file" id="ics" label="Calendar Entry" bucket="ics" />"><li class="addTo">Add to Calendar</li></a>
                    <a target="_blank" href="<perch:events order="7" type="text" id="register" label="Register Link" />"><li class="register">Register to attend this event</li></a>
                </ul>
            </div>
        </div>


    </div>
</div>