<li>
    <h2>Forthcoming Event</h2>
    <h3 class="latestTitle"><perch:events type="text" id="eventTitle"/></h3>
    <a href="<perch:events id="eventURL" />">
        <div class="menuLatest">
            <img src="<perch:events order="3" id="image" type="image" label="Image" width="640" crop="true" />">
        </div>
    </a>
    <p><perch:events words="20" append="..." order="2" id="eventDescHTML" type="text" striptags="true" /></p>
</li>