<perch:before>
<ul class="breadcrumbs">
    <li class="home"><a href="/"><img src="/images/icons/home.jpg"></a></li>
</perch:before>
    <li>
        <perch:if exists="perch_item_last">
            <perch:pages id="pageNavText" />
        <perch:else />
            <a href="<perch:pages id="pagePath" />"><perch:pages id="pageNavText" /></a>
        </perch:if>
    </li>
<perch:after>
</ul>
</perch:after>