<perch:before>
<ul class="breadcrumbs">
    <li class="home"><img src="/images/icons/home.jpg"></li>
</perch:before>
    <li>
        <perch:if exists="perch_item_last">
            <perch:pages id="pageNavText" />
        <perch:else />
            <a href="<perch:pages id="pagePath" />"><perch:pages id="pageNavText" /></a>
        </perch:if>
    </li>
    <li><perch:pages id="cspage" /></li>
<perch:after>
    
</ul>
</perch:after>