// Colours
$mainColour         : #6b0035;
$secondaryColour    : #9a4264;
$borderColour       : #dfccd5;
$bgColour           : #eee2e8;

//Fonts
$bodyFont           : "source-sans-pro";
$headingFont        : "proxima-nova";
$heavy              : 600;
$normal             : 400;
$light              : 300;

$border             : 1px solid $borderColour;
$hover              : 0.8;

$tabletPT           : "only screen and (min-width: 768px) and (max-width: 959px)";
$mobilePT           : "only screen and (max-width: 767px)";
$mobileLS           : "only screen and (min-width: 480px) and (max-width: 767px)";
$table              : "(min-width: 480px)";

@mixin fontFix {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-feature-settings: "liga", "kern";
}

@mixin transition($property : all, $duration : 500ms, $function : ease, $delay : 0) {
	-moz-transition: $property $duration $function $delay;
	-webkit-transition: $property $duration $function $delay;
    transition: $property $duration $function $delay;
}

@mixin borderRadius($radius : 6px) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin LapSafeRGBA($alpha : 1) {
    background: $mainColour;
    background: rgba(107,0,53,$alpha);
}

$LapSafeRGBA : rgba(107,0,53,0.9);

@import 'reset';
@import 'general';
@import 'news';
@import 'plugins';
@import 'layout';
@import 'header';
@import 'products';
@import 'responsive';
