html {
    position: relative;
    min-height: 100%;
}

html, body {
    height: 100%;
}

body {
	background: $bgColour;
    @include fontFix;
    font-family: $bodyFont
}

// Headings
h1 {
	font-size: 48px;
	font-weight: 300;
	text-align: center;
	padding: 5px 0;
}

h2 {
    font-family: $headingFont;
	font-size: 32px;
	font-weight: 200;
	border-bottom: $border;
	display: inline-block;
    padding: 0 20px 5px 5px;
    margin-bottom: 15px;
}

h3 {
	font-size: 28px;
	font-weight: 200;
	margin-bottom: 15px;
	text-align: center;
}

h4 {
	font-weight: bolder;
	font-size: 1.4em;
}

// P and other elements
p {
	text-align: left;
	font-size: 16px;
	padding: 5px 0;
	line-height: 1.4em;
}

strong {
	color: $mainColour;
	font-weight: $heavy;
}

a {
    color: $mainColour;
}

p a {
	@extend strong;
    text-decoration: none;
    &:hover {
        opacity: $hover;
    }
}

em {
	font-style: italic;
}

small {
	font-size: 11px;
}

ul {
	list-style: disc;
    li {
        line-height: 1.4;
        margin-left: 20px;
    }
}

ol {
    list-style: decimal;
    li {
        line-height: 1.4;
        margin-left: 20px;
    }
}

p + ul {
	margin-top: 20px;
}

// STANDARD BUTTON
.button {
    text-align: center;
    margin-top: 20px;
    @extend .centerObject;
    cursor: pointer;
	width: 200px;
    padding: 12px;
    background: $secondaryColour;
    color: white;
    @include borderRadius;
    @include transition(background);
    &:hover {
        background: $mainColour;
        opacity: 1;
    }
}

// IMAGES
.border {
	display: block;
    width: 100%;
    box-sizing: border-box;
	border: 6px solid $mainColour;
    @include transition(opacity);
    &:hover {
        opacity: $hover;
    }
}

.circle {
    box-sizing: border-box;
    @include borderRadius(100%);
    border: 2px solid $borderColour;
}

.centerImg {
    @extend .centerObject;
}

.ieLogo {
    display: none !important;
}

.noPadding {
	padding: 0 !important;
}

.opacity-block {
	margin-top: 20px;
	padding: 20px;
	background: white;
	background: rgba(255,255,255,0.9);
}

// CONTACT PAGE
#googlemaps {
	height: 300px;
	position: absolute;
	width: 100%;
	z-index: 0;
}

.contactForm {
    form {
        padding: 20px;
        .field {
            margin-bottom: 20px;
            display: inline-block;
            width: 100%;
        }
        label, input, textarea {
            display: block;
            float: left;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
        label {
            &.error {
                margin-top: 5px;
                color: red;
            }
        }
        textarea {
            padding-left: 10px;
            margin-top: 5px;
            box-sizing: border-box;
            height: 40px;
            background: white;
            border: 1px solid $borderColour;
            font-size: 14px;
            &.error {
                border: 1px solid $bgColour;
                background: url('/images/icons/forms/error.jpg') no-repeat center right;
                padding-right: 30px;
            }
        }
        input {
            border: 1px solid $borderColour;
            @inherit textarea;
            font-size: 14px;
            &.error {
                border: 1px solid $bgColour;
                background: url('/images/icons/forms/error.jpg') no-repeat center right;
                padding-right: 30px;
            }
            &[type=submit] {
                font-size: 16px;
                @include fontFix;
                @include LapSafeRGBA(0.6);
                margin-bottom: 20px;
                color: white;
                cursor: pointer;
                @include transition;
                border: none;
                &:hover {
                    opacity: $hover;
                }
                -webkit-appearance: none;
            }
        }
        textarea {
            resize: none;
            height: 80px;
            font-size: 14px;
        }
    }
    h2 {
        text-align: center;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-bottom: none;
        font-size: 20px;
        @include LapSafeRGBA(.6);
        box-sizing: border-box;
        color: white;
        font-weight: 600;
    }
}

// RECAPTCHA
.g-recaptcha { display: block; width: 304px; margin: 0 auto; }

p.address {
    padding-top: 20px;
    text-align: center;
    font-size: 1.6em;
    font-weight: 200;
}

p.direct {
    @inherit p.address;
    padding-bottom: 20px;
}

.contact-area, .address-area {
	margin-top: 160px;
	width: 1000px;
	position: relative;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
}

.cta {
    line-height: 2;
    font-size: 28px;
    color: white;
    font-weight: 600;
    text-align: center;
    display: block;
}

.normalContact {
	padding: 10px;
    p, a {
        text-align: center;
    }
}

.address-area {
	margin-top: 30px;
    p {
        padding: 10px 0;
        font-size: 1.2em;
        text-align: center;
        color: $mainColour;
    }
}

.address ul, .contactDetails ul, .socialDetails ul {
	padding-left: 140px;
	list-style: none;
	background-size: 50px;
    li {
        margin-left: 0;
    }
}

.address ul {
	background: url('/images/icons/address-icon.jpg') no-repeat 40px center;
	background-size: 55px;
}

.contactDetails ul {
	background: url('/images/icons/phone-icon.jpg') no-repeat 50px center;
	background-size: 30px;
}

.socialDetails ul {
	background: url('/images/icons/social-icon.jpg') no-repeat 35px center;
	background-size: 60px;
}

.contactDetails ul, .socialDetails ul {
	margin-top: 20px;
}

.contactDetails ul li, .socialDetails ul li {
	margin-bottom: 6px;
}

/* Social Sidebar */
#social-sidebar {
	width: 50px;
	z-index: 1;
	left: 0;
	margin-top: -75px;
	position: fixed;
	top: 50%;
    ul {
        list-style: none;
        li {
            margin: 0;
            &:first-child a {
                border-radius: 0 5px 0 0;
            }
            &:last-child a {
                border-radius: 0 0 5px 0;
            }
        }
    }
    a {
        @include LapSafeRGBA(0.9);
        color: white;
        display: block;
        height: 50px;
        font-size: 18px;
        line-height: 50px;
        position: relative;
        text-align: center;
        width: 50px;
        &:hover span {
            left: 130%;
            opacity: 1;
        }
        span {
            border-radius: 3px;
            line-height: 24px;
            left: -100%;
            margin-top: -16px;
            -ms-filter: "";
            filter: alpha(opacity=0);
            opacity: 0;
            padding: 4px 8px;
            position: absolute;
            -webkit-transition: opacity .3s, left .4s;
            -moz-transition: opacity .3s, left .4s;
            -ms-transition: opacity .3s, left .4s;
            -o-transition: opacity .3s, left .4s;
            transition: opacity .3s, left .4s;
            top: 50%;
            white-space: nowrap;
            z-index: -1;
            &:before {
                content: "";
                display: block;
                height: 8px;
                left: -4px;
                margin-top: -4px;
                position: absolute;
                top: 50%;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                width: 8px;
                z-index: -2;
            }
        }
    }
}

#social-sidebar a[class*="twitter"]:hover, #social-sidebar a[class*="twitter"] span, #social-sidebar a[class*="twitter"] span:before {
	background: #00aced;
}

#social-sidebar a[class*="facebook"]:hover, #social-sidebar a[class*="facebook"] span, #social-sidebar a[class*="facebook"] span:before {
	background: #3B5998;
}

#social-sidebar a[class*="linkedin"]:hover, #social-sidebar a[class*="linkedin"] span, #social-sidebar a[class*="linkedin"] span:before {
	background: #4875B4;
}

#social-sidebar a[class*="youtube"]:hover, #social-sidebar a[class*="youtube"] span, #social-sidebar a[class*="youtube"] span:before {
	background: #E52D27;
}

#social-sidebar a[class*="google"]:hover, #social-sidebar a[class*="google"] span, #social-sidebar a[class*="google"] span:before {
	background: #D34836;
}


// MEET THE TEAM
.teamMember {
	position: relative;
	height: 440px;
	margin-top: 110px;
    img {
        display: block;
        margin: -100px auto 0 auto;
        border-radius: 100%;
        border: 2px solid $borderColour;
        box-sizing: border-box;
	   -webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	   -o-transition: all 1s ease;
	   -ms-transition: all 1s ease;
	   transition: all 1s ease;
	   -webkit-filter: grayscale(100%);
	   filter: grayscale(100%);
    }
    &:hover img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
    h3 {
        margin-top: 10px;
        color: $mainColour;
        margin-bottom: 10px;
    }
    h4 {
        font-weight: 400;
        text-align: center;
        font-style: italic;
    }
    p {
        padding: 0 20px;
        margin-top: 10px;
        text-align: center;
    }
    a {
        position: absolute;
        bottom: 0;
        width: 50%;
        text-align: center;
        @include LapSafeRGBA(.5);
        color: white;
        padding: 10px 0;
        box-sizing: border-box;
        &:first-of-type {
            left: 0;
            border-right: 1px solid white;
        }
        &:last-of-type {
            border-left: 1px solid white;
            right: 0;
        }
        &:hover {
            opacity: 0.6;
        }
    }
}

// PAGING
.pager {
    width: 170px;
	list-style: none;
	margin: 0 auto;
	display: block;
	margin-bottom: 200px;
    li {
        background: white;
        height: 50px;
        box-sizing: border-box;
        border: 1px solid $borderColour;
        @include borderRadius;
        text-align: center;
        line-height: 50px;
        width: 50px;
        float: left;
        margin-left: 10px;
        &:first-of-type {
            margin-left: 0;
        }
        &.active {
            background: $mainColour;
            a {
                color: white;
            }
        }
    }
}

// HOME
.home {
    background: white;
    #testimonials {
        background: #eee2e8;
        padding: 40px 0;
    }
    footer {
        margin: 0;
    }
    .cd-testimonials-wrapper {
        margin: 0 auto !important;
    }
}

.intro {
    padding: 40px 0;
    h1 {
        font-size: 38px;
        line-height: 1.8;
    }
}

section#introduction h2 {
	font-weight: 400;
	text-align: center;
}

.homeSection {
    height: 460px;
}

.homeContent {
    box-sizing: border-box;
    margin-top: 40px;
    padding: 20px;
    background: white;
    background: rgba(255,255,255,0.9);
    h2 {
        font-size: 36px;
        line-height: 1.2;
    }
    p {
        line-height: 1.6;
    }
    a.button {
        margin-top: 20px;
    }
}

.homeImage {
    position: absolute;
    bottom: 0;
}

.parallaxHeader {
    background: none repeat scroll bottom center / cover rgba(107,0,53,0.9);
    margin: 0;
    &.large {
        height: 420px;
    }
    &.xlarge {
        height: 460px;
    }
    &.small {
        height: 300px;
        h1 {
            height: 70px;
            line-height: 70px;
            display: inline-block;
            color: white;
            box-sizing: border-box;
            padding: 0 40px;
            margin-top: 145px;
            @include LapSafeRGBA(0.9);
        }
    }
}

.chromebooks h1 {
	font-family: 'Anton', sans-serif;
	background: rgba(7,158,217,0.9) !important;
}

.contact h1 {
	position: relative;
}

// footer
footer {
    margin: 100px 0 0 0;
    left: 0px;
    bottom: 0px;
    width: 100%;
    .content {
        @include LapSafeRGBA(0.9);
        padding: 20px 0;
        width: 100%;
        .title {
            color: $bgColour;
            display: inline-block;
            font-size: 18px;
            margin-bottom: 18px;
        }
        .copyright {
            margin-top: 20px;
            color: white;
            font-size: 12px;
            text-align: center;
        }
        ul {
            list-style: none;
            li {
                margin-left: 0;
                margin-bottom: 14px;
                a {
                    color: $bgColour;
                    font-size: 14px;
                    .fa {
                        margin-right: 10px;
                    }
                }
                &:hover {
                    color: $bgColour;
                    text-decoration: underline;
                }
            }
        }
        .signup {
            label, input {
                display: block;
            }
            span {
                color: white;
            }
            label {
                color: white;
                font-size: 14px;
                margin-bottom: 8px;
            }
            input {
                margin-bottom: 20px;
                width: 100%;
                background: $secondaryColour;
                border: none;
                box-sizing: border-box;
                padding: 10px;
                color: white;
                &[type=submit] {
                    width: 60px;
                    height: 60px;
                    @include borderRadius(60px);
                    text-align: center;
                    display: block;
                    margin: 0 auto;
                    @include transition;
                    cursor: pointer;
                    &:hover {
                        opacity: $hover;
                    }
                    -webkit-appearance: none;
                }
            }
        }
    }
    .message {
        font-size: 30px;
        color: #6b0035;
        text-align: center;
        font-weight: 600;
        box-sizing: border-box;
        line-height: 100px;
        height: 100px;
        background: $secondaryColour;
        width: 100%;
        .footerButton {
            display: inline-block;
            height: 50px;
            padding: 0 20px;
            line-height: 50px;
            margin-left: 40px;
            color: $secondaryColour;
            @include borderRadius(6px);
            @include LapSafeRGBA(0.9);
            &:hover {
            opacity: 0.8;
        }
        }
    }
}


// Progress Bar
#progress {
    position:fixed;
    top:60px;
    z-index: 98;
    height: 4px;
    width: 100%;
    left:0;
    width:100%;
    @include LapSafeRGBA(0.9);
}

#bar {
    width:0%;
    height:100%;
    position:relative;
    background: $borderColour;
    -webkit-transition:width 0.6s;
    -moz-transition:width 0.6s;
    -o-transition:width 0.6s;
    -ms-transition:width 0.6s;
    transition:width 0.3s;
}

// General Layout
.centerObject {
    display: block;
	margin: 0 auto;
}

.boxed {
    box-sizing: border-box;
	background: white;
	border: 1px solid $borderColour;
}

//Breadcrumbs
.breadcrumbs {
    @extend .boxed;
	margin: 20px auto 0 auto;
	width: 1024px;
	background: white;
	box-sizing: border-box;
	border: $border;
	padding: 0 10px;
	height: 40px;
    &.nohead {
	   margin-top: 115px;
    }
    .home {
        background: url('/images/icons/next.jpg') no-repeat center right;
        background-size: 10px;
        padding: 0 20px 0 0;
        width: auto;
        img {
	       height: 20px;
	       margin-top: 10px;
        }
    }
    li {
        margin: 0;
        color: grey;
        height: 40px;
        line-height: 40px;
        display: block;
        float: left;
        background: url('/images/icons/next.jpg') no-repeat center right;
        background-size: 10px;
        padding: 0 20px 0 10px;
        overflow: hidden;
        &:last-of-type {
	       background: none;
        }
        a {
	       color: grey;
            &:hover {
                cursor: pointer;
	           color: black;
            }
        }
    }
}


.page {
    width: 1024px;
    padding: 40px 0 40px 0;
    background: white;
    margin: 20px auto 0 auto;
    box-sizing: border-box;
    border: 1px solid #dfccd5;
}

.hlfrow {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1020px) {
    .page, .breadcrumbs {width: 960px;}
}

/* 960 */
@media only screen and (max-width: 1020px) {
	.floatContainer {
		width: 960px;
	}

	.floatContainer .floatThree {
		width: 306.666px;
	}
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .parallaxHeader {
        background-attachment: scroll !important;
    }
}


// Tablet Portrait
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .homeSection { overflow: hidden; }
    .homeImage { position: relative; margin-top: 240px; }
    .parallaxHeader {
        background-attachment: scroll !important;
        &.xlarge {
            height: 500px;
        }
    }
    .intro {
        h1 {
            font-size: 26px;
        }
    }
    .homeSection { height: 500px; }
    footer {
        .message {
            font-size: 22px;
        }
    }
}

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .intro {
            h1 {
                line-height: 1.2;
            }
        }
    }
