/* reset */
.lapsafe-menu ul,
.lapsafe-menu li,
.lapsafe-menu a,
.lapsafe-menu p,
.lapsafe-menu ul li ul img,
.lapsafe-menu h2,
.lapsafe-menu h3 {
    text-align: left;
	margin: 0;
	padding: 0;
	display: block;
	line-height: normal;
	text-decoration: none !important;
	list-style: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    font-weight: 400;
}

.lapsafe-menu a:hover {
    opacity: 1;
}

.lapsafe-menu > ul,
.lapsafe-menu .login-form input[type=submit],
.lapsafe-menu .search-bar ul input[type=submit] {
	background-color: none;
}

.lapsafe-menu > ul > li {
	border-left-color: #73053c !important;
}

.lapsafe-menu .login-form:hover,
.lapsafe-menu .search-bar:hover,
.lapsafe-menu > ul > li:hover > a {
	color: #6b0035 !important;
}

.lapsafe-menu .drop-down,
.lapsafe-menu .social-bar ul {
	border-bottom-color: #6b0035 !important;
}

@media screen and (max-width:767px) {
	.lapsafe-menu > ul > li {
		border-bottom-color: #73053c !important;
	}
}

/* menu container */
.lapsafe-menu {
    font-family: "source-sans-pro";
	margin: 0 auto;
			/* margin for align container center */
	padding: 0;
	position: relative;
	z-index: 999;
	font-size: 1em;
	display: block;
	max-width: 1280px;
 		/* container max-width 1280px */
	min-height: 60px;
	width: 100%;
	min-width: 180px;
}

/* ul tag layout */
.lapsafe-menu > ul {
	float: left;
	width: 100%;
	min-height: 60px;
}

/* li tag layout */
.lapsafe-menu > ul > li {
    margin: 0;
    padding: 0;
	float: left;
	min-height: 60px;
	line-height: 60px;
	color: #FFFFFF;
	width: 11.111111%;
	font-weight: 300;
}

/* a tag layout */
.lapsafe-menu > ul > li > a {
	line-height: 60px;
	color: #FFFFFF;
	text-align: center;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1em;
}

/* .title class layout */
.lapsafe-menu > ul > .title > a {
	text-transform: uppercase;
	font-size: 1.4em;
	line-height: 60px;
	padding-left: 20px;
	text-align: left;
	padding-right: 20px;
}

.lapsafe-menu > ul > .title {
	border-left: none;
	min-width: 25%;
}

/* hover animation */
.lapsafe-menu > ul > li:hover > a {
	background: #FFFFFF;
	color: #9C59B8;
	/* animation */
	transition: background 0.3s linear 0s, color 0.3s linear 0s;
	-moz-transition: background 0.3s linear 0s, color 0.3s linear 0s;
	-ms-transition: background 0.3s linear 0s, color 0.3s linear 0s;
	-o-transition: background 0.3s linear 0s, color 0.3s linear 0s;
	-webkit-transition: background 0.3s linear 0s, color 0.3s linear 0s;
}

.lapsafe-menu > ul > .title:hover > a {
	background: inherit;
	color: inherit !important;
}

/*------- Drop down layout start ------*/
.lapsafe-menu .drop-down {
	position: absolute;
	background: #FFFFFF;
	z-index: 999;
	margin-left: 0px;
	width: 100%;
	float: left;
	width: 150px;
	border: 1px solid rgba(0,0,0,0.10);
	border-top: none;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 3px solid;
}

.lapsafe-menu .drop-down .drop-down {
	border-top: 1px solid rgba(0,0,0,0.10);
}

.lapsafe-menu .drop-down li {
	float: left;
	width: 100%;
	position: relative;
}

.lapsafe-menu .drop-down li a {
	color: #555658;
	font-size: 0.9em;
	text-align: left;
	padding: 10px 20px 10px 25px;
	background-color: #FFFFFF;
	/* animation */
	transition: color 0.2s linear 0s, padding-left 0.2s linear 0s;
	-moz-transition: color 0.2s linear 0s, padding-left 0.2s linear 0s;
	-ms-transition: color 0.2s linear 0s, padding-left 0.2s linear 0s;
	-o-transition: color 0.2s linear 0s, padding-left 0.2s linear 0s;
	-webkit-transition: color 0.2s linear 0s, padding-left 0.2s linear 0s;
}

/* drop down hover animation */
.lapsafe-menu .drop-down li:hover > a {
	color: #6b003b;
}

/* default hover animation to show drop down */
.lapsafe-menu > ul > li:hover .drop-down {
	display: block;
}

.lapsafe-menu ul li .drop-down li:hover > .drop-down {
	display: block;
}

/* .hover-fade animation to show drop down */
.lapsafe-menu > ul > li .drop-down.hover-fade {
	display: none;
}

.lapsafe-menu > ul > li:hover > .drop-down.hover-fade,
.lapsafe-menu > ul > li .drop-down li:hover > .drop-down.hover-fade {
	display: block;
	/* keyframes animation */
	animation: hover-fade 0.3s linear 0s forwards;
	-moz-animation: hover-fade 0.3s linear 0s forwards;
	-ms-animation: hover-fade 0.3s linear 0s forwards;
	-o-animation: hover-fade 0.3s linear 0s forwards;
	-webkit-animation: hover-fade 0.3s linear 0s forwards;
}

li.logo img {
    -webkit-transition: all 600ms ease-in-out;
-moz-transition: all 600ms ease-in-out; 
-o-transition: all 600ms ease-in-out; 
-ms-transition: all 600ms ease-in-out; 

}

li.logo img:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); 
-moz-transform: rotate(360deg); 
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg); 

}

@keyframes hover-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes hover-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes hover-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes hover-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes hover-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.lapsafe-menu .drop-down li i {
	position: absolute;
	z-index: 999;
	top: 0;
	right: 20px;
	bottom: 0;
	height: 16px;
	margin: auto;
	color: #555658;
}

/* level 2 .drop-down layout */
.lapsafe-menu .drop-down .drop-down {
	left: 100%;
	top: -10px;
	width: 150px;
}

/*------- one column layout ----------*/
.lapsafe-menu .drop-down.one-column {
	width: 250px;
}

.lapsafe-menu .drop-down .drop-down.one-column {
	width: 250px;
}

/*-------- two column layout ---------*/
.lapsafe-menu .drop-down.two-column {
	width: 322px;
}

.lapsafe-menu .drop-down.two-column ul {
	float: left;
	width: 160px;
	margin: 0;
	padding: 0;
}

/*--------- .full-width with 4 columns layout -----------*/
.lapsafe-menu .drop-down.full-width {
	width: 100%;
	margin-left: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.lapsafe-menu .drop-down.full-width ul {
	float: left;
	width: 25%;
	cursor: default;
}

.lapsafe-menu .drop-down.full-width ul li {
	margin: 0;
	padding: 10px 0;
	float: left;
	width: 100%;
}

.lapsafe-menu .drop-down.full-width ul li a {
	margin: 0;
	border: none;
	padding: 0;
	float: left;
	margin-right: 10%;
	margin-left: 10%;
}

.lapsafe-menu .drop-down.full-width ul li p {
	margin: 0;
	padding: 10px 10px 10px 11%;
	float: left;
	width: 100%;
	clear: both;
	font-size: 0.9em;
	color: #949598;
}

/* hr tag layout */
.lapsafe-menu hr {
	margin: 0;
	padding: 0;
	display: block;
}

/* image layout */
.lapsafe-menu ul li ul img {
	width: 100%;
	float: left;
	border-style: solid;
	border-width: 4px;
	border-color: rgb(255, 255, 255);
}

/* image hover animation */
.lapsafe-menu ul li ul img:hover {
	opacity: 0.8;
}

/* h2 layout */
.lapsafe-menu h2, .lapsafe-menu h3 {
	color: #535456;
	font-size: 1.2em;
	font-weight: normal;
	margin: 0;
	padding: 5px 5px 5px 10%;
	padding-top: 10px;
}

.lapsafe-menu h3 {
	font-size: 1em;
}

@media screen and (max-width:767px) {

/* li tag layout */
	.lapsafe-menu > ul > li {
		width: 100%;
		border-left: none !important;
		border-right: none !important;
		border-bottom: 1px solid;
	}
    
	.lapsafe-menu > ul > li:hover > a,
.lapsafe-menu > ul > .login-form:hover,
.lapsafe-menu > ul > .search-bar:hover {
		color: #ffffff !important;
	}

/* .title class layout */
	.lapsafe-menu > ul > .title a {
		text-align: center;
	}

/* .full-width class layout */
	.lapsafe-menu .drop-down.full-width {
		position: relative;
		left: 0px !important;
	}

/* all drop-downs layout */
	.lapsafe-menu .drop-down.one-column,
.lapsafe-menu .drop-down.two-column,
.lapsafe-menu .drop-down.full-width,
.lapsafe-menu .drop-down .drop-down,
.lapsafe-menu .social-bar ul,
.lapsafe-menu .search-bar ul,
.lapsafe-menu .login-form ul {
		width: 100% !important;
		display: block !important;
		position: relative;
		left: 0px;
		transform: scale(1.0, 1.0), rotateY(90deg);
		-moz-transform: scale(1.0, 1.0), rotateY(90deg);
		-ms-transform: scale(1.0, 1.0), rotateY(90deg);
		-o-transform: scale(1.0, 1.0), rotateY(90deg);
		-webkit-transform: scale(1.0, 1.0), rotateY(90deg);
	}

	.lapsafe-menu .drop-down .drop-down {
		border: none;
		border-top: 1px solid #E8E8E8;
		border-bottom: 1px solid #E8E8E8;
		top: 0;
		padding: 0;
	}

	.lapsafe-menu .drop-down .drop-down.one-column {
		padding-left: 20px;
	}

	.lapsafe-menu > ul > li .drop-down.hover-expand,
.lapsafe-menu > ul > li .drop-down.hover-fade,
.lapsafe-menu > ul > li .drop-down.hover-zoom {
		display: none;
		border: none;
	}

	.lapsafe-menu > ul > li:hover > .drop-down.hover-expand,
.lapsafe-menu > ul > li:hover > .drop-down.hover-fade,
.lapsafe-menu > ul > li:hover > .drop-down.hover-zoom,
.lapsafe-menu > ul > li .drop-down li:hover > .drop-down.hover-expand,
.lapsafe-menu > ul > li .drop-down li:hover > .drop-down.hover-fade,
.lapsafe-menu > ul > li .drop-down li:hover > .drop-down.hover-zoom {
		display: block;
	/* keyframes animation */
		animation: hover-default 0.2s linear 0s forwards;
		-moz-animation: hover-default 0.2s linear 0s forwards;
		-ms-animation: hover-default 0.2s linear 0s forwards;
		-o-animation: hover-default 0.2s linear 0s forwards;
		-webkit-animation: hover-default 0.2s linear 0s forwards;
	}

	.lapsafe-menu > ul > .login-form:hover,
.lapsafe-menu > ul > .search-bar:hover,
.lapsafe-menu > ul > li:hover > a {
		color: #FFFFFF;
		background: inherit;
	}

	.lapsafe-menu ul .login-form,
.lapsafe-menu ul .search-bar {
		margin: 0;
		padding: 0;
	}

	.lapsafe-menu ul .login-form label {
		text-align: left;
		text-indent: 10px;
	}

	.lapsafe-menu ul .login-form table td {
		cursor: default;
	}

	.lapsafe-menu .drop-down.two-column ul,
.lapsafe-menu .drop-down.full-width ul {
		width: 50%;
	}

	.lapsafe-menu .drop-down.one-column a,
.lapsafe-menu .drop-down.two-column a {
		width: auto;
		float: left;
	}

	.lapsafe-menu ul .social-bar {
		text-align: center;
	}

	.lapsafe-menu ul .social-bar ul li {
		display: inline-block;
		float: none;
	}

/* fontAwesome icons layout */
	.lapsafe-menu .drop-down li .fa.fa-angle-right {
		position: relative;
		z-index: 9999;
		right: 0px;
		float: right;
		height: auto;
		color: #555658;
		padding: 0;
		margin: 0 17px 0 0;
		display: block;
		line-height: 38px;
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
	}

/* mobile button layout */
	.lapsafe-menu #mobile-button {
		position: absolute;
		display: none;
	}

	.lapsafe-menu > ul {
		height: 60px;
		overflow: hidden;
	}

/* mobile button click to show drop down */
	.lapsafe-menu #mobile-button:checked + ul {
		height: auto;
		overflow: visible;
	}

/* label tag layout */
	.lapsafe-menu > label {
		width: 60px;
		height: 60px;
		background-color: rgba(0,0,0,0.10);
		display: block;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		line-height: 60px;
		font-size: 2em;
		color: #FFFFFF;
		cursor: pointer;
	}

	.lapsafe-menu > label i {
		-ms-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		-webkit-user-select: none;
	}

	.lapsafe-menu ul .title {
		padding-left: 60px;
	}

/* collapse class layout */
	.lapsafe-menu .collapse .drop-down.one-column,
.lapsafe-menu .collapse .drop-down.two-column,
.lapsafe-menu .collapse .drop-down.full-width,
.lapsafe-menu .collapse .drop-down .drop-down,
.lapsafe-menu .collapse .social-bar ul,
.lapsafe-menu .collapse .search-bar ul,
.lapsafe-menu .collapse .login-form ul {
		width: 100% !important;
		display: none !important;
		position: relative;
		left: 0px;
		transform: scale(1.0, 1.0), rotateY(90deg);
		-moz-transform: scale(1.0, 1.0), rotateY(90deg);
		-ms-transform: scale(1.0, 1.0), rotateY(90deg);
		-o-transform: scale(1.0, 1.0), rotateY(90deg);
		-webkit-transform: scale(1.0, 1.0), rotateY(90deg);
	}

	.lapsafe-menu > .collapse > li:hover > .drop-down.hover-expand,
.lapsafe-menu > .collapse > li:hover > .drop-down.hover-fade,
.lapsafe-menu > .collapse > li:hover > .drop-down.hover-zoom,
.lapsafe-menu > .collapse > li .drop-down li:hover > .drop-down.hover-expand,
.lapsafe-menu > .collapse > li .drop-down li:hover > .drop-down.hover-fade,
.lapsafe-menu > .collapse > li .drop-down li:hover > .drop-down.hover-zoom {
		display: block !important;
	/* keyframes animation */
		animation: hover-fade 0.2s linear 0s forwards;
		-moz-animation: hover-fade 0.2s linear 0s forwards;
		-ms-animation: hover-fade 0.2s linear 0s forwards;
		-o-animation: hover-fade 0.2s linear 0s forwards;
		-webkit-animation: hover-fade 0.2s linear 0s forwards;
	}

@keyframes hover-fade {
		0% {opacity: 0;
	}

	100% {
		opacity: 1
	}
}

@-moz-keyframes hover-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1
	}
}

@-ms-keyframes hover-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1
	}
}

@-o-keyframes hover-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1
	}
}

@-webkit-keyframes hover-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1
	}
}

}

.lapsafe-menu > label, .lapsafe-menu > input {
    display: none;
}

/* media query */
@media screen and (max-width:320px) {

/* ul tag layout */
	.lapsafe-menu .drop-down.two-column ul,
.lapsafe-menu .drop-down.full-width ul {
		width: 100%;
	}


/* .search-bar layout */
	.lapsafe-menu ul .search-bar td {
		width: 100% !important;
		float: left;
		padding: 5px 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		cursor: default;
	}

	.lapsafe-menu ul .search-bar input[type=text],
.lapsafe-menu ul .search-bar input[type=submit] {
		width: 100%;
		margin: 0;
		border: none;
	}

/* .login-form layout */
	.lapsafe-menu ul .login-form ul {
		padding: 20px;
	}

	.lapsafe-menu ul .login-form td {
		float: left;
		width: 100%;
		cursor: default;
	}

	.lapsafe-menu ul .login-form input[type=submit] {
		width: 100%;
	}

/* .title class layout */
	.lapsafe-menu ul .title {
		padding-left: 0px;
		text-indent: 60px;
	}
}

li.logo {
	line-height: 0;
	margin-left: 2%;
	border: none;
	padding-top: 15px;
}

.logo img {
	height: 75px;
	display: block;
    margin: 10px auto;
}

.mobile-logo {
	display: none;
}

header {
	z-index: 99;
    height: 60px;
	border: none;
	position: fixed;
	width: 100%;
	top: 0;
	@include LapSafeRGBA(0.9);
}

.lapsafe-menu > ul > li.logo {
	border-left: none;
}

.latestTitle {
    height: 60px;
}

.menuLatest {
	height: 150px;
	overflow: hidden;
}

.menuRollover {
    display: none;
    opacity: 0;
    transition-duration: 200ms;
}

a:hover .menuRollover {
    display: block;
    opacity: 1;
}

/* TABLET PORTRAIT Note: Design for a width of 768px */

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	
    a.notice {
        font-size: 14px;
    }
    
    .drop {
        display: none !important;
    }
    
    .lapsafe-menu > ul > li {
        width: 14.2%;
    }
    
}

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .lapsafe-menu > label, .lapsafe-menu > input {
    display: block;
}
	header {
        position: static;
		display: block;
	}
    
    .collapse {
        background: rgb(107,0,53);
    }
    
    li.logo {
        display: none;
    }

	.lapsafe-menu {
		min-height: 60px;
	}

	.lapsafe-menu > ul {
		min-height: 40px;
	}

	.lapsafe-menu > ul > li {
		min-height: 40px;
		line-height: 40px;
        border: none;
	}

	.lapsafe-menu > ul > li > a {
		line-height: 40px;
	}

	.lapsafe-menu > ul > .title > a {
		line-height: 40px;
	}

	.logo img {
		padding: 0;
		display: none
	}

	.mobile-logo {
		display: block;
        color: white;
		text-align: right;
		font-size: 24px;
		line-height: 30px;
        margin-top: 15px;
		padding-right: 15px;
	}
    
    #progress {
        top: 0;
    }

}