/* #Base 960 Grid
================================================== */
    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 40px; }
    .dblrow                                     { margin-bottom: 80px; }
    .container .column img,
    .container .columns img,
    .floatContainer .floatTwo img,
    .floatContainer .floatThree img             { max-width: 100%; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }

    .floatContainer                             { width: 1024px; margin: 20px auto 0 auto; position: relative; }

    .floatContainer .floatThree                 { padding: 0; margin-right: 20px; width: 328px; float: left; margin-bottom: 20px; }
    .floatContainer .floatThree:nth-child(3n+3) { margin-right: 0; }

    .floatContainer .floatTwo                   { padding: 0; margin-right: 20px; width: 502px; float: left; margin-bottom: 20px; }
    .floatContainer .floatTwo:nth-child(2n+2)   { margin-right: 0; }


/* #Midgit Screens
================================================= */
@media only screen and (min-width: 959px) and (max-width: 1023px) {
    .page,
    .breadcrumbs,
    .floatContainer                             { width: 960px; }
    .floatContainer .floatThree                 { width: 306px; }
    .floatContainer .floatTwo                   { width: 470px; }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .page,
    .breadcrumbs { width: 960px; }
    .floatContainer { width: 960px; }
    .floatContainer .floatThree                 { width: 306px; }
    .floatContainer .floatTwo                   { width: 470px; }
}

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .page, 
        .breadcrumbs                                { width: 748px; }
		.container                                  { width: 728px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px; }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 25.5px; }
        .container .two.columns                     { width: 71px; }
        .container .three.columns                   { width: 116.5px; }
        .container .four.columns                    { width: 162px; }
        .container .five.columns                    { width: 207.5px; }
        .container .six.columns                     { width: 253px; }
        .container .seven.columns                   { width: 298.5px; }
        .container .eight.columns                   { width: 344px; }
        .container .nine.columns                    { width: 389px; }
        .container .ten.columns                     { width: 435px; }
        .container .eleven.columns                  { width: 480px; } 
        .container .twelve.columns                  { width: 526px; }
        .container .thirteen.columns                { width: 571px; }
        .container .fourteen.columns                { width: 617px; }
        .container .fifteen.columns                 { width: 662px; }
        .container .sixteen.columns                 { width: 708px; }

        .container .one-third.column                { width: 222.5px; }
        .container .two-thirds.column               { width: 465px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 45.5px; }
        .container .offset-by-two                   { padding-left: 91px; }
        .container .offset-by-three                 { padding-left: 136.5px; }
        .container .offset-by-four                  { padding-left: 182px; }
        .container .offset-by-five                  { padding-left: 127.5px; }
        .container .offset-by-six                   { padding-left: 263px; }
        .container .offset-by-seven                 { padding-left: 318.5px; }
        .container .offset-by-eight                 { padding-left: 364px; }
        .container .offset-by-nine                  { padding-left: 309px; }
        .container .offset-by-ten                   { padding-left: 455px; }
        .container .offset-by-eleven                { padding-left: 500px; }
        .container .offset-by-twelve                { padding-left: 546px; }
        .container .offset-by-thirteen              { padding-left: 591px; }
        .container .offset-by-fourteen              { padding-left: 537px; }
        .container .offset-by-fifteen               { padding-left: 728px; }
        
        .floatContainer                             { width: 748px; }
        .floatContainer .floatThree                 { width: 364px; margin-right: 20px; }
        .floatContainer .floatTwo                   { width: 100%; }
        .floatContainer .floatThree:nth-child(3n+3) { margin-right: 20px; }
        .floatContainer .floatThree:nth-child(2n+2) { margin-right: 0; }
        

    } // 242.6


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .page,
        .breadcrumbs                                { width: 320px; }
		.container                                  { width: 280px; }
        .container .columns,
        .container .column                          { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column               { width: 280px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen               { padding-left: 0; }
        
        .floatContainer                             { width: 320px; }
        .floatContainer .floatThree,
        .floatContainer .floatTwo                   { width: 320px; margin-right: 0; }
        
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .page,
        .breadcrumbs    { width: 460px; }
		.container      { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
        
        .floatContainer                             { width: 460px; }
        .floatContainer .floatThree,
        .floatContainer .floatTwo                   { width: 460px; margin-right: 0; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .floatContainer:after, .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after,
    .hlfrow:before,
    .hlfrow:after,
    .dblrow:before,
    .dblrow:after{
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .hlfrow:after,
    .dblrow:after,
    .clearfix:after {
      clear: both; }
    .row,
    .hlfrow,
    .dblrow,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }