.caseStudy, .pressRelease {
	margin-top: 30px;
    h1 {
        font-size: 42px;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    article {
        padding: 20px 0;
        background: white;
    }
}

.listIcons {
	margin: 0 auto;
	height: 40px;
	overflow: visible;
	text-align: center;
    li {
        padding: 5px 10px 5px 10px;
        height: 30px;
        display: inline-block;
        *display: inline;
        /*IE7*/
        *zoom: 1;
        /*IE7*/
        width: 35px;
        margin: 0 auto;
        img {
            height: 30px;
            @extend .centerObject;
        }
    }
}

.tt {
	display: inline;
	position: relative;
    &:hover:after {
        width: 100px;
        opacity: 0.95;
        background: $mainColour;
        border-radius: 5px;
        bottom: 50px;
        color: white;
        text-align: center;
        content: attr(data-tip);
        left: 20%;
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
    }
    &:hover:before {
        border: solid;
        border-color: $mainColour transparent;
        border-width: 6px 6px 0 6px;
        bottom: 46px;
        content: "";
        left: 50%;
        position: absolute;
        z-index: 99;
    }
}




.caseStudyListContent, .productContent {
	margin-top: -3px;
}

.productList {
	position: relative;
}

.caseStudyList a, .productList a {
	text-decoration: none;
}

.caseStudyList h3, .productList h3 {
	font-size: 22px;
	font-weight: 300;
	background: #a7718b;
	height: 70px;
	text-align: center;
	color: white;
	padding: 0 20px;
	display: table-cell;
	vertical-align: middle;
	width: 600px;
}

.caseStudyList h4, .productList h4 {
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	padding: 0 20px;
	display: table-cell;
	vertical-align: middle;
	width: 600px;
	line-height: 1.3;
}

.productList h4 {
	height: 200px;
}

.caseStudyList a.btn, .productList a.btn {
	display: block;
	width: 100%;
	color: white;
	background: #a7718b;
	height: 38px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
}

.caseStudyList .share img {
	display: block;
	margin: 10px auto;
}

.caseStudyList h4 {
	height: 92px;
}


// NEWS / BLOG //
#articles, .contentSidebar {
	width: 1024px;
	margin: 20px auto 0 auto;
}

.contentSidebar {
    .content {
        padding: 40px;
    }
}

#articleList, .content {
	width: 700px;
	float: left;
}

#articleSideBar, .sidebar {
	box-sizing: border-box;
	width: 304px;
	float: left;
	margin-left: 20px;
}

.articlePost {
	padding-bottom: 20px !important;
	margin: 20px auto 0 auto;
}

.articlePost h1 {
	margin-bottom: 10px;
}

.articleHeader img {
	width: 100%;
}

.articlePostListing {
	margin-bottom: 40px;
}

.articlePostListing img {
	width: 100%;
	margin-bottom: 15px;
}

.articleContent {
	padding: 0 40px 0 40px;
    margin: 20px 0;
    h1 {
        margin-bottom: 25px;
        font-size: 40px;
        line-height: 1.2;
    }
}

figure img {
    display: block;
}

figcaption {
    margin: 0;
    font-style: italic;
}

.colouredBlock {
    padding: 40px;
    color: white;
    background: #6b0035;
    background: rgba(107, 0, 53, 0.9);
}

.articleListImage {
    min-height: 120px;
}

.articleListImage, .articleHeader {
	position: relative;
}

.date {
	padding: 10px 0;
	width: 80px;
	background: white;
	position: absolute;
	top: 0;
	right: 20px;
	border: 1px solid $borderColour;
	border-top: none;
    color: $mainColour;
}

.date .month, .date .year {
	text-align: center;
	display: block;
}

.date .day {
	text-align: center;
	display: block;
	font-size: 42px;
}

.articleButton {
	margin: -45px auto 0 auto;
	display: block;
	background: #6b0035;
	width: 70px;
	height: 70px;
	border-radius: 70px;
	color: white;
	text-align: center;
	line-height: 70px;
    border: 10px solid $bgColour;
}

.articlePostListing h2 a {
	color: #6b0035;
	margin-bottom: 20px;
}

.articlePostListing h2 a:visited {
	color: #6b0035;
}

.articlePostListing p {
	margin-bottom: 50px;
}

.articleButton a:visited {
	color: white;
}

.recentPosts {
    display: block;
    margin: 0 10px 20px 10px !important;
    img {
        padding-right: 15px;
    }
    &:last-of-type {
        margin: 0 10px 10px 10px !important;
    }
    a {
        font-weight: 600;
        line-height: 1;
    }
}

.slidesjs-pagination {
    margin: 10px 10px 0 0;
    float: right;
    list-style: none;
    li {
        float: left;
        margin: 0 2px;
        a {
            display: block;
            width: 13px;
            height: 0;
            padding-top: 13px;
            background-image: url(/images/pagination.png);
            background-position: 0 0;
            float: left;
            overflow: hidden;
        }
    }
}
 
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
    background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
    color: #333
}

#slides a:hover,
#slides a:active {
    color: #9e2020
}
#slides {
    display:none;
    margin-bottom: 10px;
}

.sidebarContent {
	margin-bottom: 20px;
    .otherItem {
        position: relative;
        h3 {
            position: absolute;  
            margin: 0;
            top: 20px;
            left: 0;
        }
    }
    .blogItem {
        padding: 10px;   
    }
    h3 {
        text-align: left;
        background: $LapSafeRGBA;
        display: inline-block;
        padding: 10px;
        color: white;
        margin: 10px 0;
    }
    .button {
        text-align: center;   
        margin: 10px auto 20px auto;
    }
    .categories, .year {
        padding: 10px;
        font-weight: 600;
        &:hover {
            opacity: $hover;
        }
    }
    .text {
        padding: 10px;
        text-align: center;
        line-height: 1.2;
    }
    .fit {
        width: 100%;   
    }
}

#articleSideBar ul {
	list-style: none;
}

#articleSideBar ul li {
	margin: 0;
	line-height: 1.8;
}

#articleSideBar .tweet {
	margin-bottom: 20px;
}

#articleSideBar .tweet:last-of-type {
	margin-bottom: 30px;
}

.tweetHeader img {
	display: block;
	float: left;
	width: 24px;
	height: 24px;
}

.tweetInfo {
	display: block;
	width: 252px;
	float: left;
	margin: 0 0 10px 6px;
	line-height: 24px;
}

.tweetContents {
	margin: 0 0 0 30px;
}

i {
	font-size: 13px;
}

.twitterActions span {
	float: left;
	margin-right: 10px;
	width: 16px;
	height: 16px;
	display: block;
	transition-duration: 300ms;
}

.twitterReply {
	background: url('/images/icons/twitter/reply.png');
}

.twitterReply:hover {
	background: url('/images/icons/twitter/reply_hover.png');
}

.twitterRetweet {
	width: 19px !important;
	background: url('/images/icons/twitter/retweet.png');
}

.twitterRetweet:hover {
	background: url('/images/icons/twitter/retweet_hover.png');
}

.twitterFav {
	background: url('/images/icons/twitter/favorite.png');
}

.twitterFav:hover {
	background: url('/images/icons/twitter/favorite_hover.png');
}


/* EXHIBITIONS */
.cmsmap {
	width: 100%;
	height: 300px;
}

.expo-title {
	text-align: center;
	margin-top: 20px;
}

.expo-title-block h2 {
	text-align: center;
	padding-bottom: 20px;
}

.dtstart {
	font-size: 1.2em;
	font-weight: bolder;
}

section#expo-intro {
	background: url(../images/exhibitions/exhibitions-header.jpg) top no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.mobile-cal {
	display: none;
}

.listed-event {
	height: 600px;
	margin: 20px 0;
}

table.openingTimes {
	margin-top: 20px;
	width: 100%;
}

table.openingTimes tr:first-of-type {
	font-weight: 600;
	color: #6b0035;
}

table.openingTimes tr {
	height: 30px;
	line-height: 30px;
}

table .day {
	width: 60%;
}

table .time {
	width: 20%;
}

ul.eventIcons {
	margin-top: 20px;
	list-style: none;
}

ul.eventIcons li {
	font-size: 16px;
	margin-left: 0;
}

ul.eventIcons li.addTo {
	background: url('/images/icons/calendar-icon.png') no-repeat left;
	height: 30px;
	padding-left: 40px;
	line-height: 30px;
	margin-bottom: 10px;
}

ul.eventIcons li.register {
	background: url('/images/icons/register.png') no-repeat left;
	height: 30px;
	padding-left: 40px;
	line-height: 30px;
}

p.stand {
	margin-top: 10px;
	text-align: center;
	font-size: 20px;
}

p.stand span {
	font-size: 34px;
	font-weight: 600;
	color: #6b0035;
}


/* CALANDER */
.calNav a {
	font-size: 24px;
    color: $mainColour;
}

.nextMonth {
	float: right;
}

table.calendar {
	width: 100%;
}

table.calendar tbody {
	border-top: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
}

table.calendar th {
	display: table-cell;
	width: 14.285714286%;
/* 1/7 of width as there's always 7 days in the week */ font-weight: bold; }
table.calendar th abbr {  font-weight: bold; letter-spacing: 1px; text-align: center; text-transform: uppercase; }
table.calendar td { border: 1px solid #e2e2e2; text-align: left; vertical-align: top; width: 14.285714286%;/* 1/7 of width as there's always 7 days in the week */
}

table.calendar td.notinmonth {
	background: #e2e2e2;
}

table.calendar .day {
	display: block;
}

table.calendar .vevent {
	border-top: 1px dotted #dee0e0;
	display: block;
	padding: .5em 0;
}

table.calendar a.vevent abbr {
	font-weight: bold;
	margin-right: .5em;
}

table.calendar .has-event {
 /* just highlight days which have events */
	background: #6b0035;
	color: #fff;
}

table.calendar .has-event .eventwrap {
	padding: 0.5em;
}

table.calendar .has-event a, table.calendar .has-event span {
	color: #fff;
}
/* on narrow widths we hide the summary */
table.calendar tr td .vevent span.summary {
	display: none;
}

/* LISTING VIEW */
ul.calendar {
	border-top: 1px solid #dee0e0;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
}

ul.calendar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.calendar > li {
	border-bottom: 1px solid #dee0e0;
	padding-bottom: .8em;
	margin-left: 0;
}

ul.calendar li h3 {
	background: #f0f0f0;
	margin-top: 0;
	margin-bottom: 0;
	padding: .3em .8em;
}

ul.calendar li .vevent {
	padding: .8em;
}

ul.calendar .vevent:nth-of-type(2n) {
	border-top: 1px dotted #dee0e0;
}

ul.calendar .vevent h4 {
	margin: 0;
}

ul.calendar .vevent h4 a {
	font-weight: normal;
}

@media only screen and (min-width: 460px) {
 
	ul.calendar-nav li {
		float: left;
		margin-right: 4.3478261%;
 /* 20 / 460 */
		width: 30.4347826%;
 /* 140 / 460 */
	}

	ul.calendar-nav li h2 {
		margin-top: 0;
		text-align: center;
	}

	ul.calendar-nav li:nth-child(3) {
		margin-right: 0;
		text-align: right
	}

	ul.calendar-nav li a {
		padding-left: 10%;
 /* 20 / 140 */
	}

	ul.calendar-nav li a#next_month {
		padding-right: 10%;
 /* 20 / 140 */
		padding-left: 0;
	}

	table.calendar td {
		height: 40px;
	}

	table.calendar td a.vevent {
		border-top: 1px dotted #e2e2e2;
	}

	table.calendar tr td .vevent span.summary {
		display: block;
	}
}

@media only screen and (min-width: 700px) {
	table.calendar thead {
 /* Reveal table */
		display: table-header-group;
	}

	table.calendar tbody {
 /* Reveal table */
		display: table-footer-group;
	}

	table.calendar:after {
		content: "";
		width: 100%;
	}

	table.calendar td {
		height: 100px;
	}
}

.comments {
	padding-top: 20px !important;
}

.comments h4 {
	margin-bottom: 20px;
}

#disqus_thread {
	margin-bottom: 20px;
}

// RESPONSIVE
/* #Midgit Screens
================================================= */
@media only screen and (min-width: 959px) and (max-width: 1023px) {
    #articles,
    .contentSidebar                 { width: 960px; }
    #articleList,
    .contentSidebar .content        { width: 636px; }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #articles,
    .contentSidebar                 { width: 960px; }
    #articleList,
    .contentSidebar .content        { width: 636px; }
}


/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        #articles,
        .contentSidebar             { width: 748px; }
        #articleList,
        .contentSidebar .content    { width: 424px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        #articles,
        #articleList,
        .contentSidebar, 
        .contentSidebar .content    { width: 320px; }
        
        #articleSideBar,
        .contentSidebar .sidebar { display: none; }
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        #articles,
        #articleList,
        .contentSidebar, 
        .contentSidebar .content    { width: 460px; }
    }