/* TESTIMONIALS */

.cd-testimonials-wrapper {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	max-width: 1024px;
	border: 1px solid #dfccd5;
	background-color: white;
	margin: 20px auto 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 20px 40px 70px;
	z-index: 1;
}

@media only screen and (min-width: 768px) {
	.cd-testimonials-wrapper {
		margin: 20px auto 0 auto;
		padding: 64px 50px 114px;
	}
}

.cd-testimonials {
	color: #6b0035;
	text-align: center;
}

.cd-testimonials:after {
	content: "";
	display: table;
	clear: both;
}

.cd-testimonials > li {
	margin-left: 0;
	position: absolute;
	opacity: 0;
}

.cd-testimonials > li:first-child {
	position: relative;
	opacity: 1;
}

.cd-testimonials p {
	font-style: italic;
	font-weight: 300;
	line-height: 1.4;
	margin-bottom: 1em;
	padding: 0 14px;
}

@media only screen and (min-width: 768px) {
	.cd-testimonials p {
		font-size: 22px;
		font-size: 1.375rem;
	}
}

@media only screen and (min-width: 1170px) {
	.cd-testimonials p {
		font-size: 20px;
		line-height: 1.6;
	}
}

.cd-author img, .cd-author .cd-author-info {
	display: inline-block;
	vertical-align: middle;
}

.cd-author img {
	margin-right: 5px;
}

.cd-author .cd-author-info {
	list-style: none;
	text-align: left;
	line-height: 1.2;
}

.cd-author .cd-author-info li:first-child {
	font-size: 14px;
	font-size: 0.875rem;
}

.cd-author .cd-author-info li:last-child {
	font-size: 12px;
	font-size: 0.75rem;
	color: #6b6b70;
}

@media only screen and (min-width: 768px) {
	.cd-author .cd-author-info {
		line-height: 1.4;
	}

	.cd-author .cd-author-info li:first-child {
		font-size: 16px;
		font-size: 1rem;
	}

	.cd-author .cd-author-info li:last-child {
		font-size: 14px;
		font-size: 0.875rem;
	}
}

.flex-direction-nav li {
    list-style: none;
	margin-left: 0 !important;
	position: absolute;
	height: 100%;
	width: 40px;
	top: 0;
}

.flex-direction-nav li:first-child {
	left: 0;
}

.flex-direction-nav li:last-child {
	right: 0;
}

.flex-direction-nav li a {
	display: block;
	height: 100%;
	width: 100%;
  /* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.no-touch .flex-direction-nav li a:hover {
	background-color: #6b0035;
}

.flex-direction-nav li a::before, .flex-direction-nav li a::after {
  /* left and right arrows in css only */
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 2px;
	height: 13px;
	background-color: #6b0035;
}

.flex-direction-nav li a::before {
	-webkit-transform: translateY(-35px) rotate(45deg);
	-moz-transform: translateY(-35px) rotate(45deg);
	-ms-transform: translateY(-35px) rotate(45deg);
	-o-transform: translateY(-35px) rotate(45deg);
	transform: translateY(-35px) rotate(45deg);
}

.flex-direction-nav li a::after {
	-webkit-transform: translateY(-27px) rotate(-45deg);
	-moz-transform: translateY(-27px) rotate(-45deg);
	-ms-transform: translateY(-27px) rotate(-45deg);
	-o-transform: translateY(-27px) rotate(-45deg);
	transform: translateY(-27px) rotate(-45deg);
}

.flex-direction-nav li:last-child a::before {
	-webkit-transform: translateY(-35px) rotate(-45deg);
	-moz-transform: translateY(-35px) rotate(-45deg);
	-ms-transform: translateY(-35px) rotate(-45deg);
	-o-transform: translateY(-35px) rotate(-45deg);
	transform: translateY(-35px) rotate(-45deg);
}

.flex-direction-nav li:last-child a::after {
	-webkit-transform: translateY(-27px) rotate(45deg);
	-moz-transform: translateY(-27px) rotate(45deg);
	-ms-transform: translateY(-27px) rotate(45deg);
	-o-transform: translateY(-27px) rotate(45deg);
	transform: translateY(-27px) rotate(45deg);
}

@media only screen and (min-width: 768px) {
	.flex-direction-nav li {
		width: 50px;
	}
}

@media only screen and (min-width: 1170px) {
	.flex-direction-nav li a::before, .flex-direction-nav li a::after {
		background-color: #5e5e63;
		-webkit-transition: background-color 0.2s;
		-moz-transition: background-color 0.2s;
		transition: background-color 0.2s;
	}

	.flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
		background-color: white;
	}
}

.cd-see-all {
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #dfccd5;
	text-align: center;
	text-transform: uppercase;
	color: #6b0035;
	font-weight: 700;
	font-size: 12px;
	font-size: 0.75rem;
	-webkit-transition: color, 0.2s;
	-moz-transition: color, 0.2s;
	transition: color, 0.2s;
}

.no-touch .cd-see-all:hover {
	color: #79b6e4;
}

.cd-testimonials-all {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 9999;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-testimonials-all .cd-testimonials-all-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.cd-testimonials-all .cd-testimonials-all-wrapper > ul {
	list-style: none;
	width: 90%;
	max-width: 1170px;
	margin: 4em auto;
}

.cd-testimonials-all .cd-testimonials-all-wrapper > ul:after {
	content: "";
	display: table;
	clear: both;
}

.cd-testimonials-all .cd-testimonials-item {
	margin-bottom: 2em;
	opacity: 0;
  /* Force Hardware Acceleration in WebKit */
	-webkit-transform: translate3d(0, 0, 0) scale(0.4);
	-moz-transform: translate3d(0, 0, 0) scale(0.4);
	-ms-transform: translate3d(0, 0, 0) scale(0.4);
	-o-transform: translate3d(0, 0, 0) scale(0.4);
	transform: translate3d(0, 0, 0) scale(0.4);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform .3s, opacity .3s;
	-moz-transition: -moz-transform .3s, opacity .3s;
	transition: transform .3s, opacity .3s;
}

.cd-testimonials-all p {
	position: relative;
	background: #eee2e8;
	color: #6b0035;
	padding: 2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.4;
	border-radius: 0.25em;
	margin-bottom: 1em;
}

.cd-testimonials-all p::after {
  /* creating the triangle in css */
	content: '';
	position: absolute;
	top: 100%;
	left: 2em;
	height: 0;
	width: 0;
	border: 8px solid transparent;
	border-top-color: #eee2e8;
}

.cd-testimonials-all .cd-author {
	text-align: left;
	margin-left: 1.5em;
}

.cd-testimonials-all .cd-author img {
	box-shadow: 0 0 0 transparent;
}

.cd-testimonials-all.is-visible {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-testimonials-all.is-visible .cd-testimonials-item {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	-moz-transform: translate3d(0, 0, 0) scale(1);
	-ms-transform: translate3d(0, 0, 0) scale(1);
	-o-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
}

@media only screen and (min-width: 768px) {
	.cd-testimonials-all .cd-testimonials-item {
		width: 46%;
		margin: 0 2% 3em;
	}

	.cd-testimonials-all .cd-author {
		margin-left: 1em;
	}
}

@media only screen and (min-width: 1170px) {
	.cd-testimonials-all .cd-testimonials-item {
		width: 30%;
		margin: 0 1.6666% 3em;
	}
}

.close-btn {
	position: fixed;
	display: block;
	width: 40px;
	height: 40px;
	top: 10px;
	right: 5%;
  /* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.close-btn::before, .close-btn::after {
  /* close icon in css */
	content: '';
	position: absolute;
	display: inline-block;
	width: 2px;
	height: 24px;
	top: 8px;
	left: 19px;
	background-color: #39393c;
}

.close-btn::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-btn::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.lapsafe-container a:active,
.lapsafe-slider a:active,
.lapsafe-container a:focus,
.lapsafe-slider a:focus  {outline: none;}
.slides,
.lapsafe-control-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.lapsafe-slider {margin: 0; padding: 0; width: 100%; overflow: hidden;}
.lapsafe-slider .slides > li {display: none; -webkit-backface-visibility: hidden; margin-left: 0;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.lapsafe-slider .slides img {width: 100%; display: block;}
.lapsafe-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.lapsafe-slider { background: #fff; position: relative; zoom: 1; }
.lapsafe-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .lapsafe-viewport { max-height: 300px; }
.lapsafe-slider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Control Nav */
.lapsafe-control-nav {width: 100%; position: absolute; bottom: 10px; text-align: center;}
.lapsafe-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.lapsafe-control-paging li a {width: 11px; height: 11px; display: block; background: #FFF; background: rgba(255,255,255,255.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }
.lapsafe-control-paging li a:hover { background: #6b0035; background: rgba(107,0,53,0.4); }
.lapsafe-control-paging li a.lapsafe-active { background: #6b0035; background: rgba(107,0,53,0.9); cursor: default; }

.lapsafe-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.lapsafe-control-thumbs li {width: 25%; float: left; margin: 0;}
.lapsafe-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.lapsafe-control-thumbs img:hover {opacity: 1;}
.lapsafe-control-thumbs .lapsafe-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .lapsafe-direction-nav .lapsafe-prev { opacity: 1; left: 10px;}
  .lapsafe-direction-nav .lapsafe-next { opacity: 1; right: 10px;}
}

@media only screen and (max-width: 767px) {
    .lapsafe-slider {margin: 0; }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
   .lapsafe-slider { margin-top: 60px; }
}

body:after { content: url(/images/assets/close.png) url(/images/assets/loading.gif) url(/images/assets/prev.png) url(/images/assets/next.png); display: none; }
.lightboxOverlay { position: absolute; top: 0; left: 0; z-index: 9999; background-color: black; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; display: none; }
.lightbox { position: absolute; left: 0; width: 100%; z-index: 10000; text-align: center; line-height: 0; font-weight: normal; }
.lightbox .lb-image { display: block; height: auto; max-width: inherit; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.lightbox a img { border: none; }
.lb-outerContainer { position: relative; background-color: white; *zoom: 1; width: 250px; height: 250px; margin: 0 auto; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.lb-outerContainer:after { content: ""; display: table; clear: both; }
lb-container { padding: 4px; }
.lb-loader { position: absolute; top: 43%; left: 0; height: 25%; width: 100%; text-align: center; line-height: 0; }
.lb-cancel { display: block; width: 32px; height: 32px; margin: 0 auto; background: url(/images/assets/loading.gif) no-repeat; }
.lb-nav { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
.lb-container > .nav { left: 0; }
.lb-nav a { outline: none; background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='); }
.lb-prev, .lb-next { height: 100%; cursor: pointer; display: block; }
.lb-nav a.lb-prev { width: 34%; left: 0; float: left; background: url(/images/assets/prev.png) left 48% no-repeat; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 0.6s; -moz-transition: opacity 0.6s; -o-transition: opacity 0.6s; transition: opacity 0.6s; }
.lb-nav a.lb-prev:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.lb-nav a.lb-next { width: 64%; right: 0; float: right; background: url(/images/assets/next.png) right 48% no-repeat; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 0.6s; -moz-transition: opacity 0.6s; -o-transition: opacity 0.6s; transition: opacity 0.6s; }
.lb-nav a.lb-next:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.lb-dataContainer { margin: 0 auto; padding-top: 5px; *zoom: 1; width: 100%; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;}
.lb-dataContainer:after { content: ""; display: table; clear: both; }
.lb-data { padding: 0 4px; color: #ccc; }
.lb-data .lb-details { width: 85%; float: left; text-align: left; line-height: 1.1em; }
.lb-data .lb-caption { font-size: 13px; font-weight: bold; line-height: 1em; }
.lb-data .lb-number { display: block; clear: left; padding-bottom: 1em; font-size: 12px; color: #999999; }
.lb-data .lb-close { display: block; float: right; width: 30px; height: 30px; background: url(/images/assets/close.png) top right no-repeat; text-align: right; outline: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; transition: opacity 0.2s; }
.lb-data .lb-close:hover { cursor: pointer; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

/* END TESTIMONIALS */
