// Chromebooks
#chromebookIntro {
	margin-top: 40px;
	color: #666666;
}

#chromebookComparison {
	margin-top: 40px;
    img {
        margin-bottom: 140px;
    }
}

// Chromebooks Comparison - It's pretty bloated needs to be shortened. Perhaps using Compass & Lemonade?
.comparison {
    .heading {
        text-align: center;
        > span {
            display: block;
            padding: 10px;
            color: white;
            background: rgba(107,0,53,0.2);
        }
    }
    .productName {
        height: 100px;
        line-height: 100px;
        span {
            color: white;
            font-size: 32px;
            font-weight: 600;
        }
    }
    .points {
        height: 180px;
        padding: 40px 0 20px 0;
        ul {
            list-style: none;
            li {
                margin: 0 0 10px 25px;
                padding-left: 38px;
            }
        }
    }
    a {
        display: block;
        background: url('../images/icons/grey-arrow.png') center top no-repeat #f49719;
        padding: 20px 0;
        text-align: center;
        color: #f3f3f3;
        @include transition;
        &:hover {
            opacity: $hover;
        }
    }
    &.red {
        .heading {
            background: #d22e2e;
        }
        a {
            background: url('../images/icons/grey-arrow.png') center top no-repeat #d22e2e;
        }
        .points {
	       background: url('../images/icons/comparison-table/red-arrow.png') center top no-repeat #f3f3f3;
            ul li {
                &.chromebook {
                    height: 26px;
                    line-height: 26px;
                    background: url('../images/icons/comparison-table/red-laptop.png') left no-repeat;
                }
                &.secure {
                    height: 30px;
                    line-height: 30px;
                    background: url('../images/icons/comparison-table/red-lock.png') left no-repeat;
                }
                &.smart {
                    height: 27px;
                    line-height: 27px;
                    background: url('../images/icons/comparison-table/red-lightbulb.png') left no-repeat;
                }
                &.ac {
                    height: 30px;
                    line-height: 30px;
                    background: url('../images/icons/comparison-table/red-cable.png') left no-repeat;
                }
                &.power {
                    height: 32px;
                    line-height: 32px;
                    background: url('../images/icons/comparison-table/red-pwer.png') left no-repeat;
                }
            }
        }
    }
    &.blue {
        .heading {
            background: #08a8de;
        }
        a {
            background: url('../images/icons/grey-arrow.png') center top no-repeat #08a8de;
        }
        .points {
	       background: url('../images/icons/comparison-table/blue-arrow.png') center top no-repeat #f3f3f3;
            ul li {
                &.chromebook {
                    height: 26px;
                    line-height: 26px;
                    background: url('../images/icons/comparison-table/blue-laptop.png') left no-repeat;
                }
                &.fan {
                    height: 27px;
                    line-height: 27px;
                    background: url('../images/icons/comparison-table/blue-fan.png') left no-repeat;
                }
                &.doors {
                    height: 32px;
                    line-height: 32px;
                    background: url('../images/icons/comparison-table/blue-doors.png') left no-repeat
                }
                &.wheel {
                    height: 32px;
                    line-height: 32px;
                    background: url('../images/icons/comparison-table/blue-wheel.png') left no-repeat
                }
                &.power {
                    height: 32px;
                    line-height: 32px;
                    background: url('../images/icons/comparison-table/red-pwer.png') left no-repeat;
                }
            }
        }
    }
    &.green {
        .heading {
            background: #3cb50d;
        }
        a {
            background: url('../images/icons/grey-arrow.png') center top no-repeat #3cb50d;
        }
        .points {
	       background: url('../images/icons/comparison-table/green-arrow.png') center top no-repeat #f3f3f3;
            ul li {
                &.chromebook {
                    height: 26px;
                    line-height: 26px;
                    background: url('../images/icons/comparison-table/green-laptop.png') left no-repeat;
                }
                &.cost {
                    height: 27px;
                    line-height: 27px;
                    background: url('../images/icons/comparison-table/green-pig.png') left no-repeat;
                }
                &.footprint {
                    height: 20px;
                    line-height: 20px;
                    background: url('../images/icons/comparison-table/green-footprint.png') left no-repeat;
                }
            }
        }
    }
}

// Weights & Dimensions Table
.stats {
    margin: 1em 0;
	min-width: 300px;
	width: 100%;
	color: #fff;
	overflow: hidden;
    @include LapSafeRGBA(0.9);
    @include borderRadius;
    tr {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-color: $LapSafeRGBA;
        &:hover {
            @include LapSafeRGBA(0.8);
        }
        &:first-of-type {
            font-weight: $heavy;   
        }
    }
    .rwd-table {
        text-align: left;
    }
    th {
        @extend .rwd-table;
        display: none;
        @include LapSafeRGBA(1);
        margin: .5em 1em;
    }
    td {
        margin: .5em 1em;
        display: block;
        &:first-child {
            padding-top: .5em;   
        }
        &:last-child {
            padding-bottom: .5em;   
        }
        &:before {
            content: attr(data-th) ": ";
            font-weight: bold;
            width: 6.5em;
            display: inline-block;
        }
    }
}

@media #{$table} {
    .stats {
        th {
            display: table-cell;
            padding: .25em .5em;
            padding: 1em !important;
            &:first-child {
                padding-left: 0;   
            }
            &:last-child {
                padding-right: 0;   
            }
            &:before {
                color: #fff;
                font-weight: 600;
            }
        }
        td {
            display: table-cell;
            padding: .25em .5em;
            padding: 1em !important;
            &:before {
                display: none;
                color: #fff;
                font-weight: 600;
            }
            &:first-child {
                padding-left: 0;   
            }
            &:last-child {
                padding-right: 0;   
            }
        }
    }
}

// Tabs
.tabContainer {
    width: 1024px;
	box-sizing: border-box;
	margin: 20px auto 0 auto;
    .tabs {
        margin: 0px;
        padding: 0px;
        list-style: none; 
        li {
            border: 1px solid $borderColour;
            border-bottom: 1px solid white;
            background: $borderColour;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            margin: 0 10px 0 0;
            color: #222;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
            transition-duration: 500ms;
            &.current {
                background: white;
                color: $mainColour;
            }
        }
    }
    .tab-content {
        margin-top: -2px;
        display: none;
        background: white;
        border: 1px solid $borderColour;
        padding: 40px 0;
        transition-duration: 1100ms;
        &.current {
            display: inherit;
        }
    }
}

#video {
    margin: 20px auto;
    width: 1024px;
    border: 1px solid #dfccd5;
    box-sizing: border-box;
    background: white;
}

.productIntroduction {
	padding-top: 120px;
    h1 {
        display: block;
        background: white;
        text-align: center;
        padding: 20px 0;
        font-size: 40px;
        color: $mainColour;
    }
    h2 {
        display: block;
        background: white;
        font-weight: 300;
        text-align: center;
        border: none;
        font-size: 28px;
        padding-bottom: 5px;
        margin: 0;
        text-decoration: none;
    }
    p {
        background: white;
        padding: 0 20px 20px 20px;
        text-align: center; 
    }
    a {
        display: block;
        width: 25%;
        float: left;
        background: $mainColour;
        color: white;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }
}

#productInfo {
    position: relative;
}

.overviewImg {
    position: absolute;
    width: 380px;
    right: 0;
    top: 60px;
}

.parallax {
    margin-top: 40px;
    height: 820px;
    background: $mainColour;
    width: 100%;
    margin: 20px 0;
    position: relative;
    .parallaxContent {
        position: absolute;
        bottom: 60px;
        right: 60px;
        background: white;
        padding: 40px;
        width: 580px;
        &:last-of-type {
            top: 60px;
            bottom: auto;
        }
    }
}

.newProduct {
	position: absolute;
	top: 0;
	right: 0;
}

/* PRODUCT PAGE SECTIONS */
.rangeDesc p {
	text-align: center;
}

.additionalOptions img {
	margin: 15px 0;
	border: 5px solid rgba(107,0,53,0.9);
    box-sizing: border-box;
}

#tooltip iframe {
	width: 940px;
	height: 500px;
}

.keyBenefit img {
	display: block;
	margin: 0 auto;
	height: 50px;
	margin-bottom: 8px;
}

.keyBenefit p {
	font-size: 14px;
	display: block;
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

// PRODUCT PAGE FORM
.productForm {
    @include LapSafeRGBA(.9);
    h2 {
        font-size: 44px;
        text-align: center;
        display: block;
        color: white;
        border: none;
        margin-bottom: 20px;
    }
    input {
        box-sizing: border-box;
        color: white;
        display: inline-block;
        width: 100%;
        background: $secondaryColour;
        border: none;
        padding: 15px;
        margin-bottom: 18px;
        font-size: 16px;
        &[type=submit] {
            -webkit-appearance: none;
            @include transition;
            margin-bottom: 0;
            &:hover {
                opacity: $hover;
                cursor: pointer;
            }
        }
    }
    label {
        color: white;
        display: inline-block;
        box-sizing: border-box;
        margin-bottom: 8px;
    }
    textarea {
        display: inline-block;
        color: white;
        box-sizing: border-box;
        width: 100%;
        background: $secondaryColour;
        border: none;
        height: 232px;
        resize: none;
        margin-bottom: 8px;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    #testimonials {
        display: none;
    }
    .parallaxHeader, .parallax {
        background-attachment: scroll !important;   
    }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    #testimonials {
        display: none;
    }
    .parallaxHeader, .parallax {
        background-attachment: scroll !important;   
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #video {
        width: 960px;
        iframe {
            width: 960px !important;
        }
    }
    .tabContainer {
		width: 960px
	}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #video {
        width: 748px;
        iframe {
            width: 748px !important;
            height: 432px;
        }
    }
    .tabContainer {
		width: 748px;
        .tabs li {
            display: block;
            @include borderRadius(0);
            border: none;
            margin: 0 auto;
        }
	}
}