/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .breadcrumbs.nohead {
        margin-top: 20px;   
    }
    
    footer .content .copyright {
        margin-top: 0;
    }
    .parallaxHeader.small {
        height: 200px;
        background-attachment: scroll !important;
        h1 {
            margin-top: 70px;   
            font-size: 24px;
        }
    }
    .parallaxHeader.large {
        height: 690px;
        background-attachment: scroll !important;
    }
    .productIntroduction a {
        width: 100%;   
    }
    #tooltip {
        display: none;   
    }
    .overviewImg {
        position: static;
    }
    .parallax {
        display: none;
    }
    
    .cmsmap {
        height: 150px; // EXPOS
    }
    
    #googlemaps {
        height: 200px;   
    }
    
    .homeContent {
        padding: 0;
    }
    
    
    
}


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    
	

	section#tooltip iframe {
		width: 768px;
		height: 400px;
	}

	#product-form input[type=text], #product-form input[type=tel], #product-form input[type=email] {
		width: 340px;
	}

	#product-form textarea {
		width: 360px;
	}

	section#fixed {
		height: 550px;
		background-attachment: scroll;
	}

	.contact-area, .address-area {
		width: 100%;
	}

	.contact-area {
		margin-top: 150px;
	}

	#button-container {
		display: none;
	}

	#social-sidebar {
		display: none;
	}

	.searchResultBody {
		width: 628px;
	}

	.chromebooks .header h1 {
		font-size: 60px;
		padding: 40px;
		margin: 150px auto 0 auto;
	}

	.listItem, .caseStudyFilter {
		height: 440px;
	}

	.listIcons {
		display: none;
	}

}

/* MOBILE PORTRAIT STYLES */
@media only screen and (max-width: 767px) {
	.tabContainer {
		width: 300px;
        .tabs li {
            display: block;
            @include borderRadius(0);
            border: none;
            margin: 0 auto;
        }
	}
    
    #testimonials, #video {
        display: none;
    }
    
	.breadcrumbs, #home {
		margin: 30px auto 0 auto;
		overflow: hidden;
	}

	a.button {
		margin-bottom: 10px;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 20px;
	}

	img {
		max-width: 100%;
	}

	section#trolleys {
		height: 698px;
	}

	section#fixed {
		height: 689px;
	}

	section#fixed img, section#trolleys img {
		height: auto;
	}

	.testimonial-right, .testimonial-left {
		margin-top: 15px;
		margin-bottom: 30px;
	}

	section#tooltip iframe {
		width: 300px;
		height: 200px;
	}

	.product-header .opacity-block {
		height: auto;
	}

	.floatedbutton {
		width: 100%;
		float: none;
	}

	#product-form input[type=text], #product-form input[type=tel], #product-form input[type=email] {
		width: 240px;
	}

	#product-form textarea, #product-form input[type=submit] {
		width: 260px;
	}

	.contact-area, .address-area {
		width: 100%;
	}

	.contact-area {
		margin-top: 150px;
	}

	#social-sidebar {
		display: none;
	}

	.mobile-cal {
		display: block;
	}

	.expo-cal {
		display: none;
	}

	a.paging-next {
		padding-right: 15%;
	}

	a.paging-prev {
		padding-left: 15%;
	}

	ul.calendar-nav li:nth-child(1) {
		float: left;
		width: 50%;
	}

	ul.calendar-nav li:nth-child(3) {
		float: right;
		width: 50%;
		text-align: right;
	}

	.searchIconCaseStudy, .searchIconMobile, .searchIconTrav, .searchIconFixed, .searchIconPress {
		display: none;
	}

	.searchResultBody {
		width: 280px;
	}

	.chromebooks .header h1 {
		font-size: 35px;
		margin: 50px auto 0 auto;
		width: auto;
		padding: 20px;
	}

	#wrapper {
		margin-top: 50px;
	}

	.fullBanner {
		margin-top: 0;
	}

	.caseStudyItem, .caseStudyFilter {
		margin-bottom: 20px !important;
	}

	.articleDate {
		display: none;
	}
	
	.productIntroduction {
		padding-top: 60px;
	}
	
	.keyBenefits, #productDimensions {
		display: none;
	}
	
	
    .message {
        display: none;
    }
}

/* MOBILE LANDSCAPE STYLES */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.tabContainer {
		width: 440px
	}

	section#trolleys {
		height: 711px;
	}

	section#fixed {
		height: 600px;
	}

	body {
		margin: 0 0 425px;
	}

	section#tooltip iframe {
		width: 100%;
	}

	#product-form input[type=text], #product-form input[type=tel], #product-form input[type=email] {
		width: 400px;
	}

	#product-form textarea, #product-form input[type=submit] {
		width: 420px;
	}

	section#case-study-image-header {
		top: 100px;
	}

	.contact-area, .address-area {
		width: 100%;
	}

	.contact-area {
		margin-top: 150px;
	}

	#button-container {
		display: none;
	}

	.searchIconCaseStudy, .searchIconMobile, .searchIconTrav, .searchIconFixed, .searchIconPress {
		display: block;
	}

	.chromebooks .header h1 {
		font-size: 50px;
		margin: 70px auto 0 auto;
	}

	.caseStudyItem {
		height: 590px;
	}

	.productList h4 {
		width: 438px;
	}
}