<perch:before>
<div class="cd-testimonials-all">
	<div class="cd-testimonials-all-wrapper">
		<ul>
</perch:before>
			<li class="cd-testimonials-item">
				<p>&quot;<perch:content id="testimonial" />&quot;</p>
				
				<div class="cd-author">
					<a href="/news/case-studies/<perch:content id="link" />"><img src="<perch:content type="image" id="image" label="Logo" height="50" required="true" bucket="testimonials" />" alt="<perch:content id="name" /> - <perch:content id="place" />"></a>
					<ul class="cd-author-info">
						<li><perch:content id="name" /></li>
						<li><perch:content id="place" /></li>
					</ul>
				</div> <!-- cd-author -->
			</li>
<perch:after>
		</ul>
	</div>	<!-- cd-testimonials-all-wrapper -->

	<a href="#0" class="close-btn">Close</a>
</div> <!-- cd-testimonials-all -->
</perch:after>