<perch:before><div class="cd-testimonials-wrapper cd-container">
    <h2 class="row">Testimonials</h2>
	<ul class="cd-testimonials">
</perch:before>
		<li>
			<p class="row">&quot;<perch:content type="textarea" id="testimonial" label="Testimonial" required="true" size="s" />&quot;</p>
			<div class="cd-author row">
				<a href="/news/case-studies/<perch:content id="link" label="Case Study Link" type="dataselect" page="/news/case-studies" region="Case Studies" options="url_slug" />"><img src="<perch:content type="image" id="image" label="Logo" height="50" required="true" bucket="testimonials" />" alt="<perch:content type="text" id="name" label="Person Name" required="true" /> - <perch:content type="text" id="place" label="Organisation" required="true" />"></a>
				<ul class="cd-author-info">
					<li><perch:content id="name" /></li>
					<li><perch:content id="place" /></li>
				</ul>
			</div>
            <a href="/news/case-studies/<perch:content id="link" />">Read the <perch:content id="place" /> Case Study</a>
		</li>
<perch:after>
	</ul>
	<a href="#0" class="cd-see-all">See all</a>
</div>
</perch:after>