<perch:content type="textarea" id="message" size="tiny" title="true" label="Message" required="true" count="chars" chars="50" help="Maximum of 50 Charactors" />
<perch:if exists="page"><a class="footerButton" href="<perch:content type="text" id="page" label="Page / URL" />">Read More!</a></perch:if>