<div id="tab-<perch:content id="perch_item_index" type="hidden" />" class="tab-content<perch:if id="perch_item_index" match="eq" value="1"> current</perch:if>">
    <div class="container">
        <div class="sixteen columns">
            <h2><perch:content type="text" id="title" label="Content Title" required="true" /></h2>
            <perch:content type="textarea" label="Content" id="content" editor="redactor" html="true" required="true" />
        </div>
    </div>
</div>