<perch:before>
<ul class="tabs">
</perch:before>
    <li class="tab-link<perch:if id="perch_item_index" match="eq" value="1"> current</perch:if>" data-tab="tab-<perch:content id="perch_item_index" type="hidden" />"><perch:content type="text" id="title" /></li>
<perch:after>
</ul>    
</perch:after>