<perch:before>
    <div class="floatContainer">
</perch:before>
    <div class="floatThree boxed teamMember">
        <img src="<perch:if exists="image" /><perch:content type="image" order="5" id="image" width="163" height="163" crop="true" bucket="staff" label="Staff Portrait" required="true" /><perch:else />/images/default.jpg</perch:if>">
        <h3><perch:content type="text" label="Name" id="name" order="1" required="true" /></h3>
        <h4><perch:content type="text" label="Job Title" id="job" order="3" required="true" /></h4>
        <p><perch:content type="textarea" id="text" size="xs" order="4" label="Short Description" /></p>
        <a href="mailto:<perch:content type="text" order="6" id="email" label="Email" />">Email <perch:content id="name" words="1" /></a>
        <a target="_blank" href="https://<perch:content type="text" order="7" label="LinkedIn" id="linkedin" help="without https://" />">Connect with <perch:content id="name" words="1" /></a>
    </div>
    <perch:content type="select" id="dept" label="Department" required="true" options="Sales,Marketing,Directors,Accounts,IT,Production,Product Develpment,Customer Service,Logistics" suppress="true" order="2" />
<perch:after>
    </div>
</perch:after>