                    <div class="eight columns">
                        <div class="<perch:every nth-child="odd">testimonial-left<perch:else />testimonial-right</perch:every>">
                            <perch:content id="testimonial" type="textarea" label="Testimonial" textile="true" editor="markitup" />
                            <span class="name"><perch:content id="name" label="Name" type="text" required="true"/></span>
                            <p class="place"><perch:content type="text" label="Job Title & Organistation" id="org" help="E.g. Marketing Executive, LapSafe Products"/></p>
                        </div>
                    </div>
                    <perch:every count="2">
                        <br class="clear">
                    </perch:every>