<perch:form id="filter" method="get">
    <div class="page">
        <div class="container">
            
            <div class="sixteen columns">
                <h2>What Devices?</h2>
            </div>
            <div class="three columns">
                <label>
                    <div class="device">
                        Laptops
                    <input name="device" type="radio" value="laptops" />
                    </div>
                    
                </label>
            </div>
            <div class="three columns">
                <label>
                    Chromebooks
                    <input name="device" type="radio" value="chromebooks" />
                </label>
            </div>
            <div class="three columns">
                <label>
                    iPads
                    <input name="device" type="radio" value="ipads" />
                </label>
            </div>
            <div class="three columns">
                <label>
                    Other Tablets
                    <input name="device" type="radio" value="tablets" />
                </label>
            </div>
            <div class="three columns">
                <label>
                    eReaders
                    <input name="device" type="radio" value="ereaders" />
                </label>
            </div>
            
        </div>
    </div>
    
    <div class="page">
        <div class="container">
            
            <div class="sixteen columns">
                <h2>How Many Devices Per Unit?</h2>
            </div>
            
            <div class="three columns">
                <label>
                    1 - 10
                    <input name="qty" type="radio" value="10" />
                </label>
            </div>
            
            <div class="three columns">
                <label>
                    11 - 20
                    <input name="qty" type="radio" value="20" />
                </label>
            </div>
            
            <div class="three columns">
                <label>
                    21 - 30
                    <input name="qty" type="radio" value="30" />
                </label>
            </div>
            
            <div class="three columns">
                <label>
                    31 +
                    <input name="qty" type="radio" value="31" />
                </label>
            </div>
            
        </div>
    </div>
    
    <div><perch:input type="submit" value="Filter" /></div>
</perch:form>