<perch:form id="filter" method="post">
    
    Laptops
    <perch:input type="checkbox" id="laptops" value="yes" /><br>
    
    Chromebooks
    <perch:input type="checkbox" id="chromebooks" value="yes" /><br>
    
    iPads
    <perch:input type="checkbox" id="ipads" value="yes" /><br>
    
    Tablets
    <perch:input type="checkbox" id="tablets" value="yes" /><br>
    
    eReaders
    <perch:input type="checkbox" id="ereaders" value="yes" /><br>
    
    <perch:input type="submit" value="Filter" />
    
</perch:form>