<perch:content type="text" id="text" label="Title" title="true" />

<perch:content type="text" id="productCode" label="Product Code" />

<perch:related id="productRange" collection="Product Ranges" label="Product Range"></perch:related>

<perch:content type="select" id="productType" options="Trolley,Case,Other" label="Product Type" />

<perch:content id="chargingMode" label="Charging Mode" type="select" options="USB,Pre-Configured (SmartLine),AC Adaptor (ChargeLine)" />

<perch:categories id="colour" label="Colour" set="colours"> </perch:categories>

<perch:content type="number" id="bpPrice" label="BP Price" />

<perch:content type="number" id="rrpPrice" label="RRP Price" />

<perch:categories set="devices" id="devices" label="Compatible with" divider-before="Product Specs" required="true"></perch:categories>
<perch:content type="select" id="charging" label="Charging Options" options="Charge Only|charge-only,Charge & Sync|charge-sync" required="true" />
<perch:content type="number" id="qty" label="Maxiumum Device Qty" required="true" />
<perch:related id="cases" collection="Cases" label="Fits These Cases"></perch:related>

<perch:content type="text" id="miscoSKU" label="Misco SKU" divider-before="BP Stuff" />