<perch:before>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Code</th>
                <th>Product Range</th>
                <th>Device Qty</th>
            </tr>
        </thead>
        <tbody>
</perch:before>
    <tbody>
        <tr>
            <td><perch:content type="text" id="text" label="Title" title="true" /></td>
            <td><perch:content type="text" id="productCode" label="Product Code" /></td>
            <td>
                <perch:related id="productRange" collection="Product Ranges" label="Product Range">
                    <perch:content id="productName" />
                </perch:related>
            </td>
            <td><perch:content id="qty" /></td>
        </tr>
    </tbody>
<perch:after>
</table>
</perch:after>

<perch:noresults>Sorry no items found</perch:noresults>