<title><perch:content id="title" /> | LapSafe® Case Study</title>
<meta name="description" content="<perch:content id="subtitle" />">

<meta property="og:site_name" content="LapSafe Products - Store, Charge & Sync" />
<meta property="og:url" content="http://www.lapsafe.com/news/case-studies/<perch:content id="url_slug" />" />
<meta property="og:title" content="<perch:content id="title" /> | LapSafe® Case Study" />
<meta property="og:description" content="<perch:content id="subtitle" />" />
<meta property="og:image" content="http://www.lapsafe.com<perch:content type="image" id="header" label="Header Image" />" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@lapsafe" />
<meta name="twitter:title" content="<perch:content id="title" /> | LapSafe® Case Study" />
<meta name="twitter:description" content="<perch:content id="subtitle" />" />
<meta property="twitter:image" content="http://www.lapsafe.com<perch:content type="image" id="header" label="Header Image" />" />
<meta name="twitter:url" content="http://www.lapsafe.com/news/case-studies/<perch:content id="url_slug" />" />