<perch:content order="1" id="date" type="date" label="Date" format="%A, %e %B %Y" required="true" suppress="true" />
<perch:content id="url_slug" order="3" type="slug" for="title" editable="true" label="Slug (URL)" indelible="true" suppress="true" /><!-- URL SLUG -->

<div class="boxed noPadding">
    
    <perch:if exists="header">
    <div class="articleHeader">
        <img src="<perch:content type="image" id="header" label="Header Image" width="700" height="400" crop="true" order="8" bucket="case-studies" />">
        <div class="date">
            <time datetime="<perch:blog id="date" />" class="icon">
                <span class="month"><perch:content id="date" format="%b" /></span>
                <strong class="day"><perch:content id="date" format="%e" /></strong>
                <span class="year"><perch:content id="date" format="%Y" /></span>
            </time>
        </div>
    </div>
    </perch:if>
    
    <article>
        <div class="articleContent">
            <h1><perch:content id="title" order="2" label="Title" type="text" /></h1>
            <h2><perch:content type="text" order="4" id="subtitle" label="Sub Title" words="15" required="true" /></h2>
            <perch:content order="4" type="textarea" label="Case Study" id="text" required="true" editor="redactor" html="true"/>
        </div>
    </article>
    
    
    <perch:blocks order="5">
        
        <perch:template path="content/_Blocks/text_block.html" />
        
        <perch:block type="image" label="Full Image">
            <figure>
                <img width="100%" src="<perch:content id="image" type="image" bucket="case-studies" width="700" label="Image" />" alt="<perch:content id="caption" type="smarttext" label="Caption" />" />
                <perch:if exists="caption"><figcaption class="colouredBlock">
                    <perch:content id="caption" />
                </figcaption></perch:if>
            </figure>
        </perch:block>
        
        <perch:template path="content/_Blocks/button.html" />
        
        <perch:template path="content/_Blocks/attention.html" />
        
        <perch:block type="slideshow" label="Slideshow">
            <div id="slides">
                <perch:repeater id="slideshowImages" max="10">
                    <img src="<perch:content id="images" type="image" label="Image" width="700" height="400" crop="true" bucket="case-studies" />">
                </perch:repeater>
            </div>
        </perch:block>
        
    </perch:blocks>
    
    <div class="articleContent">
        <div class="share">
            <a target="_blank" href="http://twitter.com/share?url=http://www.lapsafe.com/news/case-studies/<perch:content id="url_slug" />&text=Read the <perch:content id="title" /> Case Study!&via=lapsafe">
                <img class="centerObject" src="/images/icons/social/share-twitter.jpg">
            </a>
        </div>
    </div>
    
</div>

<perch:categories id="device" label="Devices" set="devices" required="true">

</perch:categories>

<perch:categories id="product" label="Products" set="products" required="true">

</perch:categories>

<perch:categories id="establishment" label="Sector" set="sectors" required="true">

</perch:categories>

<perch:content order="7" id="image" type="image" bucket="case-studies" label="List Image" divider-before="Images" width="460" height="384" crop="true" required="true" suppress="true" /><!-- LIST IMAGE -->
<perch:content id="image" type="image" label="Image" bucket="case-studies" width="100" height="100" crop="true" suppress="true" />