<div class="tweet blogItem">
    <div class="tweetHeader">
        <a target="_blank" rel="nofollow" href="https://twitter.com/<perch:twitter id="tweetUser" />">
            <img src="<perch:twitter id="tweetUserAvatar" encode="false" />" alt="<perch:twitter id="tweetUser" />" class="avatar" />
        </a>
        <div class="tweetInfo">
            <a target="_blank" rel="nofollow" href="https://twitter.com/<perch:twitter id="tweetUser" />">
                <strong><perch:twitter id="tweetUserRealName" /></strong> • 
            </a>
            <i><perch:twitter id="tweetDate" format="M j" /></i>
        </div>
    </div>
    <div class="tweetContents">
        <blockquote><p><perch:twitter id="tweetHTML" encode="false" /></p></blockquote>
        <div class="twitterActions">
            <a target="_blank" rel="nofollow" href="https://twitter.com/intent/tweet?in_reply_to=<perch:twitter id="tweetTwitterID" />">
                <span class="twitterReply"></span>
            </a>
            <a target="_blank" rel="nofollow" href="https://twitter.com/intent/retweet?tweet_id=<perch:twitter id="tweetTwitterID" />">
                <span class="twitterRetweet"></span>
            </a>
            <a target="_blank" rel="nofollow" href="https://twitter.com/intent/favorite?tweet_id=<perch:twitter id="tweetTwitterID" />">
                <span class="twitterFav"></span>
            </a>
        </div>
    </div>
    <!--
	<a href="https://twitter.com/" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @<perch:twitter id="tweetUser" /></a>
	
	<p class="user"><strong></strong>
	<br />@<perch:twitter id="tweetUser" /></p>
	
	
	
	<div class="timestamp"><perch:twitter id="tweetDate" format="j M y h:i a" /></div>
	
	-->
</div>