<div class="tweet clearfix">
    <div class="twitterAvatar">
        <a target="_blank" rel="nofollow" href="https://twitter.com/<perch:twitter id="tweetUser" />"><img src="<perch:twitter id="tweetUserAvatar" encode="false" />" alt="<perch:twitter id="tweetUser" />" /></a>
    </div>
    <div class="twitterContent">
        <div class="twitterUser">
            <a target="_blank" rel="nofollow" href="https://twitter.com/<perch:twitter id="tweetUser" />"><strong><perch:twitter id="tweetUserRealName" /></strong> <span class="twitterHandle">@<perch:twitter id="tweetUser" /></span></a>
        </div>
        <div class="twitterText">
            <blockquote><p><perch:twitter id="tweetHTML" encode="false" /></p></blockquote>
        </div>
        <div class="twitterActions">
            <div class="twitterReply">
                <a href="https://twitter.com/intent/tweet?in_reply_to=<perch:twitter id="tweetTwitterID" />">Reply</a>
            </div>
            <div class="twitterRetweet">
                <a class="twitter-retweet" href="https://twitter.com/intent/retweet?tweet_id=<perch:twitter id="tweetTwitterID" />">Retweet</a>
            </div>
            <div class="twitterFav">
                <a class="twitter-fav" href="https://twitter.com/intent/favorite?tweet_id=<perch:twitter id="tweetTwitterID" />">Favorite</a>
            </div>
        </div>
    </div>
</div>