<perch:content id="url_slug" order="3" type="slug" for="title" editable="true" label="Slug (URL)" indelible="true" suppress="true" /><!-- URL SLUG -->

<ul class="breadcrumbs nohead">
    <li class="home"><a href="/"><img src="/images/icons/home.jpg"></a></li>
    <li><a href="/news">News</a>
    <li><a href="/news/press-releases">Press Releases</a></li>
    <li><perch:content type="text" order="2" id="title" title="true" label="Press Release Title" required="true"/></li>
</ul>

<div class="page caseStudy noPadding">
    <perch:if exists="header">
    <div class="caseStudyHeader">
        <img src="<perch:content type="image" id="header" label="Header Image" width="1024px" height="300px" crop="true" order="7" bucket="case-studies" />">
    </div>
    </perch:if>
    <div class="container">
        <div class="sixteen columns">
            <article>
                <h1><perch:content type="text" order="2" id="title" title="true" label="Press Release Title" required="true"/></h1>
                <h2><perch:content type="text" order="4" id="subtitle" label="Sub Title" words="15" required="true" /></h2>
                <p><strong><perch:content order="1" id="date" type="date" label="Date" format="%A, %e %B %Y" required="true" /></strong></p>
                <perch:content order="5" type="textarea" label="Press Release" id="text" required="true" editor="redactor" html="true"/>
                <div class="share"><a target="_blank" href="http://twitter.com/share?url=http://www.lapsafe.com/news/press-releases/<perch:content id="url_slug" />&text=Read the <perch:content id="title" /> Press Release!&via=lapsafe"><img src="/images/icons/social/share-twitter.jpg"></a></div>
            </article>
        </div>
    </div>
</div>

<perch:content order="6" id="image" type="image" bucket="press-releases" label="List Image" divider-before="Images" width="460" height="384" crop="true" required="true" suppress="true" /><!-- LIST IMAGE -->
<perch:content id="image" type="image" label="Image" bucket="press-releases" width="250" height="200" crop="true" suppress="true" />