<perch:before>
<div class="floatContainer">
</perch:before>

			<div class="boxed floatThree caseStudyList">
				<a href="/news/press-releases/<perch:content id="date" format="%Y" />/<perch:content id="url_slug"/>">
					<img src="<perch:content id="image" type="image" width="460" height="384" crop="true" />" alt="">
				</a>
				<div class="caseStudyListContent">
                    <a href="/news/press-releases/<perch:content id="date" format="%Y" />/<perch:content id="url_slug"/>">
                        <div class="caseStudyTitle">
                            <h3>
                                <perch:content type="text" order="2" id="title" title="true" label="Press Release Title" required="true"/>
                            </h3>
                        </div>
                    </a>
                    <h4>
                        <perch:content id="subtitle" />
                    </h4>
                    <a class="btn" href="/news/press-releases/<perch:content id="date" format="%Y" />/<perch:content id="url_slug"/>">Read the whole press release</a>
                    <div class="share">
                        <a target="_blank" href="http://twitter.com/share?url=http://www.lapsafe.com/news/press-releases/<perch:content id="url_slug" />&text=Read the <perch:content id="title" /> Press Release!&via=lapsafe">
                            <img src="/images/icons/social/share-twitter.jpg">
                        </a>
                    </div>
                </div>
			</div>
<perch:after>
    </ul>
</div>
</perch:after>