<title><perch:content id="title" /> | LapSafe® Press Release</title>
<meta name="description" content="<perch:content id="subtitle" />">
 
<meta property="og:title" content="<perch:content id="title" /> | LapSafe® Press Release" >
<meta property="og:description" content="<perch:content id="subtitle" />">
<meta property="og:image" content="http://www.lapsafe.com<perch:content id="image" bucket="og" type="image" width="460" height="384" crop="true" />">
<meta property="og:url" content="http://www.lapsafe.com/news/press-releases/<perch:content id="url_slug" />">
<meta property="og:site_name" content="LapSafe Products">
 
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<perch:content id="title" />">
<meta name="twitter:description" content="<perch:content id="subtitle" />">
<meta name="twitter:image" content="http://www.lapsafe.com<perch:content id="image" type="image" bucket="og" width="460" height="384" crop="true" />">
<meta name="twitter:url" content="http://www.lapsafe.com/news/press-releases/<perch:content id="url_slug" />">