<div class="page noPadding">
    <img width="1022px" class="row" alt="Techbot Art Competition" src="<perch:content type="image" label="Logo" id="header" bucket="promotions" order="4" divider-before="Images" />">
    <div class="container row">
        <div class="eight columns">
            <img alt="Techbot Art Competition" src="<perch:content type="image" label="Prizes Text" id="prizes" bucket="promotions" order="5" />">
        </div>
        <div class="six columns offset-by-two">
            <img alt="Techbot Art Competition" src="<perch:content type="image" label="TechBot Head" id="head" bucket="promotions" order="6" />">
        </div>
    </div>
    <div class="container row">
        <div class="two-thirds column">
            <perch:content type="textarea" label="Text" id="text" textile="true" editor="markitup" order="1" />
        </div>
        <div class="one-third column">
            <img alt="Techbot Art Competition" src="<perch:content type="image" label="ClassBuddy" id="classbuddy" bucket="promotions" order="7" />">
        </div>
    </div>
</div>

<div class="page">
    <div class="container">
        <div class="sixteen columns row">
            <h2>Entries</h2>
        </div>
        <div class="row">
            <div class="eight columns">
                <h3>By Post</h3>
                <div class="address borderBottom">
                    <ul>
                        <li><strong>LapSafe® Products Ltd</strong></li>
                        <li>Unit 3 Wakes Hall Business Centre</li>
                        <li>Wakes Colne</li>
                        <li>Colchester</li>
                        <li>Essex</li>
                        <li>CO6 2DY</li>
                    </ul>
                </div>
            </div>
            <div class="eight columns">
                <h3>Simple to enter</h3>
                <perch:content type="textarea" label="Simple to Enter" id="enter" html="true" editor="redactor" order="2" />
            </div>
        </div>
        <div class="four columns offset-by-six">
            <a class="button" href="<perch:content type="file" bucket="promotions" id="flyer" label="Entry Form" order="8" />">Download your Entry Form!</a>
        </div>
    </div>
</div>

<div class="page">
    <div class="container">
        <div class="sixteen columns">
            <h2 class="hlfrow">Terms & Conditions</h2>
            <perch:content type="textarea" label="Terms and Conditions" id="tcs" html="true" editor="redactor" order="3" />
        </div>
    </div>
</div>