<perch:before>
<section id="productOptions" class="page additionalOptions">
    <div class="container">
        <div class="sixteen columns row">
            <h2>Additional Options</h2>
        </div>
</perch:before>
    <perch:every count="4"><div class="row"></perch:every>
        <div class="four columns">
            <h4><perch:content type="text" id="title" label="Title"/></h4>
            <img src="<perch:content bucket="options" width="420" height="300" crop="true" type="image" id="image" label="Image"/>" alt="<perch:content type="text" id="imageAlt" label="Image Description" />">
            <perch:content type="textarea" label="text" id="text" editor="markitup" textile="true"/>
        </div>
    <perch:every count="4"></div></perch:every>
<perch:after>  
    </div>
</section>
</perch:after>