<perch:before><section id="productCharging" class="page">
    <div class="container row">
</perch:before>
    
        <perch:every count="2"><div class="row"></perch:every>
            <div class="eight columns">
                <h2 class="hlfrow"><perch:content type="text" label="Title" id="title" required="true" /></h2>
                <perch:if exists="subtitle">
                    <h3><perch:content type="text" label="Subtitle (Optional)" id="subtitle" help="Mainly introduced for the Diplomat Range" /></h3>
                </perch:if>
                <img class="border hlfrow" src="<perch:content type="image" id="image" label="Image" bucket="products" required="true" width="460" height="250" crop="true" />" alt="<perch:content type="text" id="alt" label="Image Description" required="true" />">
                <perch:content type="textarea" label="Text" id="text" required="true" textile="true" editor="markitup" />
            </div>
        <perch:every count="2"></div></perch:every>

<perch:after>
    </div>
</section>
</perch:after>