<section id="productInfo" class="page">
    <div class="container row">
        <div class="sixteen columns">
            <h2><perch:content type="text" id="title" label="Title" /></h2>
        </div>
        <div class="ten columns">
            <perch:content type="textarea" editor="redactor" id="text" label="Features Text" html="true" />
        </div>            
    </div>
    
    <img class="overviewImg" src="<perch:content type="image" bucket="products" id="image" label="Image" />" alt="<perch:content type="text" id="imageAlt" label="Image Description" />">
    
    <perch:if exists="kb">
    <div class="container keyBenefits">
        <perch:repeater label="Key Benefits" id="kb">
            <perch:every nth-child="4n+1"><div class="row"></perch:every>
            <div class="four columns keyBenefit">
                <img src="<perch:content id="Icon" label="icon" bucket="benefit-icons" type="image" />" alt="<perch:content id="benefit" label="Key Benefit" type="text" />">
                <p><perch:content id="benefit" /></p>
            </div>
            <perch:every count="4"></div></perch:every>
        </perch:repeater>
    </div>
    </perch:if>
</section>