<perch:before>
<div class="parallax" style="background:url('<perch:content id="image" type="image" label="Image" width="1920" help="1920 x 1100 if possible!" order="2" bucket="products" />'); background-attachment: fixed; background-size: cover;">
</perch:before>
    
    <perch:repeater id="blocks" order="1" label="Blocks" max="2">
    <div class="parallaxContent">
        <h2><perch:content type="text" order="1" label="Title" id="title" required="true" /></h2>
        <perch:content type="textarea" order="2" label="Content" id="content" editor="markitup" markdown="true" required="true" />
    </div>
    </perch:repeater>

<perch:after>
</div>
</perch:after>