<perch:before>
<div class="floatContainer">
</perch:before>
    
    <div class="boxed floatThree productList">
        
        <a href="<perch:content type="pagelist" id="page" label="Page" order="4" />">
            <img src="<perch:content type="image" id="image" label="Image" bucket="products" order="3" width="460" height="384" crop="true" />" alt="<perch:content type="textarea" editor="markitup" size="xs" order="2" id="subtitle" label="Short Description" />">
			<perch:if exists="new">
				<img class="newProduct" src="/images/assets/new-badge.png">
			</perch:if>
        </a>
        
        <div class="productContent">
            
            <a href="<perch:content id="page" />">
                <div class="caseStudyTitle">
                    <h3>
                        <perch:content type="text" id="productName" order="2" title="true" label="Product Name" required="true"/>
                    </h3>
                </div>
            </a>
            <h4>
                <perch:content id="subtitle" />
            </h4>
            <a class="btn" href="/portal/<perch:content id="portalSlug" />">View Ranges</a>
        </div>
        
    </div>

	<perch:content type="checkbox" id="new" label="New Product" value="1" suppress="true" />
    
<perch:after>
</div>
</perch:after>