<perch:before>
<div class="floatContainer">
</perch:before>
    
    <div class="boxed floatThree productList">
        
        <a href="<perch:content type="pagelist" id="page" label="Page" order="4" />">
            <img src="<perch:content type="image" id="image" label="Image" bucket="products" order="3" width="460" height="384" crop="true" />" alt="<perch:content type="textarea" editor="markitup" size="xs" order="2" id="subtitle" label="Short Description" />">
			<perch:if exists="new">
				<img class="newProduct" src="/images/assets/new-badge.png">
			</perch:if>
        </a>
        
        <div class="productContent">
            
            <a href="<perch:content id="page" />">
                <div class="caseStudyTitle">
                    <h3>
                        <perch:content type="text" id="productName" order="2" title="true" label="Product Name" required="true"/>
                    </h3>
                </div>
            </a>
            <h4>
                <perch:content id="subtitle" />
            </h4>
            <a class="btn" href="<perch:content id="page" />">More information</a>
            <ul class="listIcons">
                <perch:categories id="productType" label="Product Type" set="product-type" required="true" order="5" />
                    <perch:if id="catSlug" match="eq" value="charge-only"><li class="tt" data-tip="Charge Only"><img src="/images/icons/list-icons/charge-only.svg"></li></perch:if>
                    <perch:if id="catSlug" match="eq" value="charge-sync"><li class="tt" data-tip="Charge & Sync"><img src="/images/icons/list-icons/charge-and-sync.svg"></li></perch:if>
                    <perch:if id="catSlug" match="eq" value="mobile-storage-charging"><li class="tt" data-tip="Mobile Storage & Charging"><img src="/images/icons/list-icons/mobile.svg"></li></perch:if>
                    <perch:if id="catSlug" match="eq" value="fixed-storage-charging"><li class="tt" data-tip="Fixed Storage & Charging"><img src="/images/icons/list-icons/fixed.svg"></li></perch:if>
                </perch:categories>
                <perch:categories id="device" label="Devices" set="devices" required="true" order="6" />
                    <perch:if id="catSlug" match="eq" value="laptops"><li class="tt" data-tip="Suitable for Laptops or Chromebooks"><img src="/images/icons/list-icons/laptops.svg"></li></perch:if>
                    <perch:if id="catSlug" match="eq" value="tablets"><li class="tt" data-tip="Suitable for tablets & eReaders"><img src="/images/icons/list-icons/tablets.svg"></li></perch:if>
                </perch:categories>
            </ul>
        </div>
        
    </div>

	<perch:content type="checkbox" id="new" label="New Product" value="1" suppress="true" />
    <perch:content id="portalSlug" for="productName" label="Portal Slug" type="slug" editable="true" indelible="true" />
    
<perch:after>
</div>
</perch:after>