<section class="parallaxHeader large" style="background-image:url('<perch:content type="image" id="header" label="Banner" bucket="headers" width="1600" height="800" crop="true" order="3" />'); background-attachment: fixed;">
    <div class="productIntroduction">
        <div class="container">
            <div class="ten columns offset-by-three">
                <perch:if exists="title" /><h1><perch:content type="text" label="Product Name" id="title" order="1" /></h1></perch:if>
                <perch:content type="textarea" label="Short Introduction" id="text" required="true" size="xs" editor="redactor" html="true" order="2" />
                <div class="buttons">
                    <a target="_blank" href="<perch:content type="file" id="flyer" accept="pdf" label="Flyer" bucket="downloads" required="true" />">Download Flyer</a>
                    <a target="_blank" href="<perch:content type="file" id="usermanual" accept="pdf" label="User Manual" bucket="downloads" required="true" />">User Manual</a>
                    <a href="#gallery">Image Gallery</a>
                    <a href="/contact-us">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>