<section id="productRange" class="page">
    <div class="container">
        <div class="sixteen columns row">
            <h2><perch:content type="text" id="title" label="Title" required="true" /></h2>
        </div>
        
        <div class="sixteen columns">
            <img src="<perch:content type="image" bucket="products" id="rangeImage" label="Image" />" alt="<perch:content id="imageAlt" label="Image Description" type="text" />">
        </div>
        
        <div class="rangeDesc">
        <perch:repeater id="range" label="Range Description" max="5" />
        
            <div class="<perch:if id="perch_item_count" match="eq" value="1" />eight columns offset-by-four<perch:else /><perch:if id="perch_item_count" match="eq" value="2" />eight columns<perch:else /><perch:if id="perch_item_count" match="eq" value="3" />one-third column<perch:else /><perch:if id="perch_item_count" match="eq" value="4" />four columns<perch:else /><perch:if id="perch_item_count" match="eq" value="5" />three columns</perch:if></perch:if></perch:if></perch:if></perch:if>">
                <p><strong><perch:content type="text" id="productName" label="Product Name" /></strong></p>
                <p><perch:content type="text" id="productDesc" label="Product Description" /></p>
            </div>
        
        </perch:repeater>
        </div>
    
        <perch:if exists="rangeImage2">
        <div class="sixteen columns">
            <img src="<perch:content divider-before="Another Range" type="image" bucket="products" id="rangeImage2" label="Image" />" alt="<perch:content id="imageAlt2" label="Image Description" type="text" />">
        </div>
        
        <div class="rangeDesc">
        <perch:repeater id="range2" label="Range Description" max="5" />
        
            <div class="<perch:if id="perch_item_count" match="eq" value="1" />eight columns offset-by-four<perch:else /><perch:if id="perch_item_count" match="eq" value="2" />eight columns<perch:else /><perch:if id="perch_item_count" match="eq" value="3" />one-third column<perch:else /><perch:if id="perch_item_count" match="eq" value="4" />four columns<perch:else /><perch:if id="perch_item_count" match="eq" value="5" />three columns</perch:if></perch:if></perch:if></perch:if></perch:if>">
                <p><strong><perch:content type="text" id="productName2" label="Product Name" /></strong></p>
                <p><perch:content type="text" id="productDesc" label="Product Description" /></p>
            </div>
        
        </perch:repeater>
        </div>
        </perch:if>
        
    </div>
</section>