<perch:if exists="iframe" />
<section id="tooltip" class="page">
    <div class="container">
        <div class="sixteen columns">
            <h2>Product Rollover</h2>
        </div>
        <div class="sixteen columns">
            <iframe scrolling="no" src="<perch:content type="text" size="xl" id="iframe" label="Tooltip iFrame" html="true" />"></iframe>
        </div>
    </div>
</section>
</perch:if>