<perch:before>
<section id="productDimensions" class="page">
    <div class="container">
        <div class="sixteen columns">
            <h2>Weights & Dimensions</h2>
            <table class="stats">
                <tr>
                    <th>Product Name</th>
                    <th>Width</th>
                    <th>Depth</th>
                    <th>Height</th>
                    <th>Weight</th>
                </tr>
</perch:before>
                <tr>
                    <td data-th="Product Name"><perch:content type="text" label="Product Name" id="product-name"/></td>
                    <td data-th="Width"><perch:content type="text" label="Width" id="width"/></td>
                    <td data-th="Depth"><perch:content type="text" label="Depth" id="depth"/></td>
                    <td data-th="Height"><perch:content type="text" label="Height" id="height"/></td>
                    <td data-th="Weight"><perch:content type="text" label="Weight" id="Weight"/></td>
                </tr>
<perch:after>
            </table>
        </div>
    </div>
</section>
</perch:after>