<perch:before>
<table id="deviceTable" class="stats">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Screen Size</th>
            <th>Trolleys</th>
            <th>Traveller</th>
        </tr>
    </thead>
    <tbody>
</perch:before>
        <tr>
            <td><perch:content type="select" title="true" options="Acer, ASUS, Dell, Google, HP, Lenovo, Samsung, Toshiba" id="make" label="Make" required="true" /></td>
            <td><perch:content type="text" id="model" label="Model" required="true" /></td>
            <td><perch:content type="text" id="screenSize" label="Screen Size" required="true" />&quot;</td>
            <perch:content type="text" help="W x H x D in mm" id="dimensions" label="Dimensions" required="true" suppress="true" />
            <perch:content type="select" required="true" options="Short Side, Long Side" id="chargingSide" label="Charging Side" suppress="true" />
            <perch:content type="checkbox" id="trolley" label="Fits in Trolleys" suppress="true" value="Yes" />
            <perch:content type="checkbox" id="traveller" label="Fits in Traveller Universal" suppress="true" value="Yes" />
            <td><perch:if id="trolley" value="Yes"><i class="fa fa-check"></i><span class="hide">1</span></perch:if></td>
            <td><perch:if id="traveller" value="Yes"><i class="fa fa-check"></i><span class="hide">1</span></perch:if></td>
        </tr>
<perch:after>
    <tbody>
</table>
</perch:after>