                            <h2><perch:content type="text" id="title" label="Title"/></h2>
                            <perch:content id="text" type="textarea" label="Text" markdown="true" editor="markitup"/>
                            <a class="button" href="<perch:content type="pagelist" label="Page" id="link"/>"><perch:content type="text" id="button" label="Button Text"/></a>