                    <div class="eight columns">
                        <perch:content id="left" type="textarea" label="Left Column" markdown="true" editor="markitup"/>
                    </div>
                    
                    <div class="eight columns">
                        <perch:content id="right" type="textarea" label="Right Column" markdown="true" editor="markitup"/>
                    </div>