<div class="signup">
    <perch:form id="subscribe" app="perch_mailchimp" send-welcome="false">
        
        <perch:success>
            <span>Thanks for subscribing!</span>
        </perch:success>
    
        <perch:label for="email">Email</perch:label>
        <perch:input id="email" required="true" type="email" mailer="email" />
        <perch:error type="required" for="email">Required</perch:error>
        
        <perch:label for="firstname">First name</perch:label>
        <perch:input id="firstname" required="true" type="text" mailer="FNAME" />
        <perch:error type="required" for="firstname">Required</perch:error>
        
        <perch:label for="lastname">Last name</perch:label>
        <perch:input id="lastname" required="true" type="text" mailer="LNAME" />
        <perch:error type="required" for="lastname">Required</perch:error>
        
        <perch:input type="submit" value="Send" id="btnsubmit" />
        
    </perch:form>
</div>