<perch:before>
<div class="lapsafe-slider">
    <ul class="slides">
</perch:before>
        <li><perch:if exists="link">
            <a href="<perch:content type="pagelist" id="link" label="Page" order="3" />"></perch:if>
            <img src="<perch:content type="image" id="image" label="Image" bucket="sliders" required="true" width="1920" height="500" crop="true" order="1" />" alt="<perch:content type="text" id="alt" label="Image Alternative Text" required="true" order="2" />"><perch:if exists="link">
            </a></perch:if>
        </li>
<perch:after>
    </ul>
</div>
</perch:after>