html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, p a, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

html {
  position: relative;
  min-height: 100%; }

html, body {
  height: 100%; }

body {
  background: #eee2e8;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-feature-settings: "liga", "kern";
  font-family: "source-sans-pro"; }

h1 {
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  padding: 5px 0; }

h2 {
  font-family: "proxima-nova";
  font-size: 32px;
  font-weight: 200;
  border-bottom: 1px solid #dfccd5;
  display: inline-block;
  padding: 0 20px 5px 5px;
  margin-bottom: 15px; }

h3 {
  font-size: 28px;
  font-weight: 200;
  margin-bottom: 15px;
  text-align: center; }

h4 {
  font-weight: bolder;
  font-size: 1.4em; }

p {
  text-align: left;
  font-size: 16px;
  padding: 5px 0;
  line-height: 1.4em; }

strong, p a {
  color: #6b0035;
  font-weight: 600; }

a {
  color: #6b0035; }

p a {
  text-decoration: none; }
  p a:hover {
    opacity: 0.8; }

em {
  font-style: italic; }

small {
  font-size: 11px; }

ul {
  list-style: disc; }
  ul li {
    line-height: 1.4;
    margin-left: 20px; }

ol {
  list-style: decimal; }
  ol li {
    line-height: 1.4;
    margin-left: 20px; }

p + ul {
  margin-top: 20px; }

.button {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  width: 200px;
  padding: 12px;
  background: #9a4264;
  color: white;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-transition: background 500ms ease 0;
  -webkit-transition: background 500ms ease 0;
  transition: background 500ms ease 0; }
  .button:hover {
    background: #6b0035;
    opacity: 1; }

.border {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 6px solid #6b0035;
  -moz-transition: opacity 500ms ease 0;
  -webkit-transition: opacity 500ms ease 0;
  transition: opacity 500ms ease 0; }
  .border:hover {
    opacity: 0.8; }

.circle {
  box-sizing: border-box;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #dfccd5; }

.ieLogo {
  display: none !important; }

.noPadding {
  padding: 0 !important; }

.opacity-block {
  margin-top: 20px;
  padding: 20px;
  background: white;
  background: rgba(255, 255, 255, 0.9); }

#googlemaps {
  height: 300px;
  position: absolute;
  width: 100%;
  z-index: 0; }

.contactForm form {
  padding: 20px; }
  .contactForm form .field {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%; }
  .contactForm form label, .contactForm form input, .contactForm form textarea {
    display: block;
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; }
  .contactForm form label.error {
    margin-top: 5px;
    color: red; }
  .contactForm form textarea {
    padding-left: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    height: 40px;
    background: white;
    border: 1px solid #dfccd5;
    font-size: 14px; }
    .contactForm form textarea.error {
      border: 1px solid #eee2e8;
      background: url("/images/icons/forms/error.jpg") no-repeat center right;
      padding-right: 30px; }
  .contactForm form input {
    border: 1px solid #dfccd5;
    @inherit textarea;
    font-size: 14px; }
    .contactForm form input.error {
      border: 1px solid #eee2e8;
      background: url("/images/icons/forms/error.jpg") no-repeat center right;
      padding-right: 30px; }
    .contactForm form input[type=submit] {
      font-size: 16px;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizelegibility;
      font-feature-settings: "liga", "kern";
      background: #6b0035;
      background: rgba(107, 0, 53, 0.6);
      margin-bottom: 20px;
      color: white;
      cursor: pointer;
      -moz-transition: all 500ms ease 0;
      -webkit-transition: all 500ms ease 0;
      transition: all 500ms ease 0;
      border: none;
      -webkit-appearance: none; }
      .contactForm form input[type=submit]:hover {
        opacity: 0.8; }
  .contactForm form textarea {
    resize: none;
    height: 80px;
    font-size: 14px; }
.contactForm h2 {
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: none;
  font-size: 20px;
  background: #6b0035;
  background: rgba(107, 0, 53, 0.6);
  box-sizing: border-box;
  color: white;
  font-weight: 600; }

.g-recaptcha {
  display: block;
  width: 304px;
  margin: 0 auto; }

p.address {
  padding-top: 20px;
  text-align: center;
  font-size: 1.6em;
  font-weight: 200; }

p.direct {
  @inherit p.address;
  padding-bottom: 20px; }

.contact-area, .address-area {
  margin-top: 160px;
  width: 1000px;
  position: relative;
  background: #fff;
  margin-left: auto;
  margin-right: auto; }

.cta {
  line-height: 2;
  font-size: 28px;
  color: white;
  font-weight: 600;
  text-align: center;
  display: block; }

.normalContact {
  padding: 10px; }
  .normalContact p, .normalContact a {
    text-align: center; }

.address-area {
  margin-top: 30px; }
  .address-area p {
    padding: 10px 0;
    font-size: 1.2em;
    text-align: center;
    color: #6b0035; }

.address ul, .contactDetails ul, .socialDetails ul {
  padding-left: 140px;
  list-style: none;
  background-size: 50px; }
  .address ul li, .contactDetails ul li, .socialDetails ul li {
    margin-left: 0; }

.address ul {
  background: url("/images/icons/address-icon.jpg") no-repeat 40px center;
  background-size: 55px; }

.contactDetails ul {
  background: url("/images/icons/phone-icon.jpg") no-repeat 50px center;
  background-size: 30px; }

.socialDetails ul {
  background: url("/images/icons/social-icon.jpg") no-repeat 35px center;
  background-size: 60px; }

.contactDetails ul, .socialDetails ul {
  margin-top: 20px; }

.contactDetails ul li, .socialDetails ul li {
  margin-bottom: 6px; }

/* Social Sidebar */
#social-sidebar {
  width: 50px;
  z-index: 1;
  left: 0;
  margin-top: -75px;
  position: fixed;
  top: 50%; }
  #social-sidebar ul {
    list-style: none; }
    #social-sidebar ul li {
      margin: 0; }
      #social-sidebar ul li:first-child a {
        border-radius: 0 5px 0 0; }
      #social-sidebar ul li:last-child a {
        border-radius: 0 0 5px 0; }
  #social-sidebar a {
    background: #6b0035;
    background: rgba(107, 0, 53, 0.9);
    color: white;
    display: block;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    position: relative;
    text-align: center;
    width: 50px; }
    #social-sidebar a:hover span {
      left: 130%;
      opacity: 1; }
    #social-sidebar a span {
      border-radius: 3px;
      line-height: 24px;
      left: -100%;
      margin-top: -16px;
      -ms-filter: "";
      filter: alpha(opacity=0);
      opacity: 0;
      padding: 4px 8px;
      position: absolute;
      -webkit-transition: opacity .3s, left .4s;
      -moz-transition: opacity .3s, left .4s;
      -ms-transition: opacity .3s, left .4s;
      -o-transition: opacity .3s, left .4s;
      transition: opacity .3s, left .4s;
      top: 50%;
      white-space: nowrap;
      z-index: -1; }
      #social-sidebar a span:before {
        content: "";
        display: block;
        height: 8px;
        left: -4px;
        margin-top: -4px;
        position: absolute;
        top: 50%;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 8px;
        z-index: -2; }

#social-sidebar a[class*="twitter"]:hover, #social-sidebar a[class*="twitter"] span, #social-sidebar a[class*="twitter"] span:before {
  background: #00aced; }

#social-sidebar a[class*="facebook"]:hover, #social-sidebar a[class*="facebook"] span, #social-sidebar a[class*="facebook"] span:before {
  background: #3B5998; }

#social-sidebar a[class*="linkedin"]:hover, #social-sidebar a[class*="linkedin"] span, #social-sidebar a[class*="linkedin"] span:before {
  background: #4875B4; }

#social-sidebar a[class*="youtube"]:hover, #social-sidebar a[class*="youtube"] span, #social-sidebar a[class*="youtube"] span:before {
  background: #E52D27; }

#social-sidebar a[class*="google"]:hover, #social-sidebar a[class*="google"] span, #social-sidebar a[class*="google"] span:before {
  background: #D34836; }

.teamMember {
  position: relative;
  height: 440px;
  margin-top: 110px; }
  .teamMember img {
    display: block;
    margin: -100px auto 0 auto;
    border-radius: 100%;
    border: 2px solid #dfccd5;
    box-sizing: border-box;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  .teamMember:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }
  .teamMember h3 {
    margin-top: 10px;
    color: #6b0035;
    margin-bottom: 10px; }
  .teamMember h4 {
    font-weight: 400;
    text-align: center;
    font-style: italic; }
  .teamMember p {
    padding: 0 20px;
    margin-top: 10px;
    text-align: center; }
  .teamMember a {
    position: absolute;
    bottom: 0;
    width: 50%;
    text-align: center;
    background: #6b0035;
    background: rgba(107, 0, 53, 0.5);
    color: white;
    padding: 10px 0;
    box-sizing: border-box; }
    .teamMember a:first-of-type {
      left: 0;
      border-right: 1px solid white; }
    .teamMember a:last-of-type {
      border-left: 1px solid white;
      right: 0; }
    .teamMember a:hover {
      opacity: 0.6; }

.pager {
  width: 170px;
  list-style: none;
  margin: 0 auto;
  display: block;
  margin-bottom: 200px; }
  .pager li {
    background: white;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #dfccd5;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    line-height: 50px;
    width: 50px;
    float: left;
    margin-left: 10px; }
    .pager li:first-of-type {
      margin-left: 0; }
    .pager li.active {
      background: #6b0035; }
      .pager li.active a {
        color: white; }

.home {
  background: white; }
  .home #testimonials {
    background: #eee2e8;
    padding: 40px 0; }
  .home footer {
    margin: 0; }
  .home .cd-testimonials-wrapper {
    margin: 0 auto !important; }

.intro {
  padding: 40px 0; }
  .intro h1 {
    font-size: 38px;
    line-height: 1.8; }

section#introduction h2 {
  font-weight: 400;
  text-align: center; }

.homeSection {
  height: 460px; }

.homeContent {
  box-sizing: border-box;
  margin-top: 40px;
  padding: 20px;
  background: white;
  background: rgba(255, 255, 255, 0.9); }
  .homeContent h2 {
    font-size: 36px;
    line-height: 1.2; }
  .homeContent p {
    line-height: 1.6; }
  .homeContent a.button {
    margin-top: 20px; }

.homeImage {
  position: absolute;
  bottom: 0; }

.parallaxHeader {
  background: none repeat scroll bottom center/cover rgba(107, 0, 53, 0.9);
  margin: 0; }
  .parallaxHeader.large {
    height: 420px; }
  .parallaxHeader.xlarge {
    height: 460px; }
  .parallaxHeader.small {
    height: 300px; }
    .parallaxHeader.small h1 {
      height: 70px;
      line-height: 70px;
      display: inline-block;
      color: white;
      box-sizing: border-box;
      padding: 0 40px;
      margin-top: 145px;
      background: #6b0035;
      background: rgba(107, 0, 53, 0.9); }

.chromebooks h1 {
  font-family: 'Anton', sans-serif;
  background: rgba(7, 158, 217, 0.9) !important; }

.contact h1 {
  position: relative; }

footer {
  margin: 100px 0 0 0;
  left: 0px;
  bottom: 0px;
  width: 100%; }
  footer .content {
    background: #6b0035;
    background: rgba(107, 0, 53, 0.9);
    padding: 20px 0;
    width: 100%; }
    footer .content .title {
      color: #eee2e8;
      display: inline-block;
      font-size: 18px;
      margin-bottom: 18px; }
    footer .content .copyright {
      margin-top: 20px;
      color: white;
      font-size: 12px;
      text-align: center; }
    footer .content ul {
      list-style: none; }
      footer .content ul li {
        margin-left: 0;
        margin-bottom: 14px; }
        footer .content ul li a {
          color: #eee2e8;
          font-size: 14px; }
          footer .content ul li a .fa {
            margin-right: 10px; }
        footer .content ul li:hover {
          color: #eee2e8;
          text-decoration: underline; }
    footer .content .signup label, footer .content .signup input {
      display: block; }
    footer .content .signup span {
      color: white; }
    footer .content .signup label {
      color: white;
      font-size: 14px;
      margin-bottom: 8px; }
    footer .content .signup input {
      margin-bottom: 20px;
      width: 100%;
      background: #9a4264;
      border: none;
      box-sizing: border-box;
      padding: 10px;
      color: white; }
      footer .content .signup input[type=submit] {
        width: 60px;
        height: 60px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        text-align: center;
        display: block;
        margin: 0 auto;
        -moz-transition: all 500ms ease 0;
        -webkit-transition: all 500ms ease 0;
        transition: all 500ms ease 0;
        cursor: pointer;
        -webkit-appearance: none; }
        footer .content .signup input[type=submit]:hover {
          opacity: 0.8; }
  footer .message {
    font-size: 30px;
    color: #6b0035;
    text-align: center;
    font-weight: 600;
    box-sizing: border-box;
    line-height: 100px;
    height: 100px;
    background: #9a4264;
    width: 100%; }
    footer .message .footerButton {
      display: inline-block;
      height: 50px;
      padding: 0 20px;
      line-height: 50px;
      margin-left: 40px;
      color: #9a4264;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      background: #6b0035;
      background: rgba(107, 0, 53, 0.9); }
      footer .message .footerButton:hover {
        opacity: 0.8; }

#progress {
  position: fixed;
  top: 60px;
  z-index: 98;
  height: 4px;
  width: 100%;
  left: 0;
  width: 100%;
  background: #6b0035;
  background: rgba(107, 0, 53, 0.9); }

#bar {
  width: 0%;
  height: 100%;
  position: relative;
  background: #dfccd5;
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  -o-transition: width 0.6s;
  -ms-transition: width 0.6s;
  transition: width 0.3s; }

.centerObject, .button, .centerImg, .listIcons li img {
  display: block;
  margin: 0 auto; }

.boxed, .breadcrumbs {
  box-sizing: border-box;
  background: white;
  border: 1px solid #dfccd5; }

.breadcrumbs {
  margin: 20px auto 0 auto;
  width: 1024px;
  background: white;
  box-sizing: border-box;
  border: 1px solid #dfccd5;
  padding: 0 10px;
  height: 40px; }
  .breadcrumbs.nohead {
    margin-top: 115px; }
  .breadcrumbs .home {
    background: url("/images/icons/next.jpg") no-repeat center right;
    background-size: 10px;
    padding: 0 20px 0 0;
    width: auto; }
    .breadcrumbs .home img {
      height: 20px;
      margin-top: 10px; }
  .breadcrumbs li {
    margin: 0;
    color: grey;
    height: 40px;
    line-height: 40px;
    display: block;
    float: left;
    background: url("/images/icons/next.jpg") no-repeat center right;
    background-size: 10px;
    padding: 0 20px 0 10px;
    overflow: hidden; }
    .breadcrumbs li:last-of-type {
      background: none; }
    .breadcrumbs li a {
      color: grey; }
      .breadcrumbs li a:hover {
        cursor: pointer;
        color: black; }

.page {
  width: 1024px;
  padding: 40px 0 40px 0;
  background: white;
  margin: 20px auto 0 auto;
  box-sizing: border-box;
  border: 1px solid #dfccd5; }

.hlfrow {
  margin-bottom: 20px; }

@media only screen and (max-width: 1020px) {
  .page, .breadcrumbs {
    width: 960px; } }
/* 960 */
@media only screen and (max-width: 1020px) {
  .floatContainer {
    width: 960px; }

  .floatContainer .floatThree {
    width: 306.666px; } }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .parallaxHeader {
    background-attachment: scroll !important; } }
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .homeSection {
    overflow: hidden; }

  .homeImage {
    position: relative;
    margin-top: 240px; }

  .parallaxHeader {
    background-attachment: scroll !important; }
    .parallaxHeader.xlarge {
      height: 500px; }

  .intro h1 {
    font-size: 26px; }

  .homeSection {
    height: 500px; }

  footer .message {
    font-size: 22px; } }
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .intro h1 {
    line-height: 1.2; } }
.caseStudy, .pressRelease {
  margin-top: 30px; }
  .caseStudy h1, .pressRelease h1 {
    font-size: 42px;
    margin-bottom: 30px; }
  .caseStudy h2, .pressRelease h2 {
    font-size: 28px;
    margin-bottom: 20px; }
  .caseStudy article, .pressRelease article {
    padding: 20px 0;
    background: white; }

.listIcons {
  margin: 0 auto;
  height: 40px;
  overflow: visible;
  text-align: center; }
  .listIcons li {
    padding: 5px 10px 5px 10px;
    height: 30px;
    display: inline-block;
    *display: inline;
    /*IE7*/
    *zoom: 1;
    /*IE7*/
    width: 35px;
    margin: 0 auto; }
    .listIcons li img {
      height: 30px; }

.tt {
  display: inline;
  position: relative; }
  .tt:hover:after {
    width: 100px;
    opacity: 0.95;
    background: #6b0035;
    border-radius: 5px;
    bottom: 50px;
    color: white;
    text-align: center;
    content: attr(data-tip);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98; }
  .tt:hover:before {
    border: solid;
    border-color: #6b0035 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 46px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99; }

.caseStudyListContent, .productContent {
  margin-top: -3px; }

.productList {
  position: relative; }

.caseStudyList a, .productList a {
  text-decoration: none; }

.caseStudyList h3, .productList h3 {
  font-size: 22px;
  font-weight: 300;
  background: #a7718b;
  height: 70px;
  text-align: center;
  color: white;
  padding: 0 20px;
  display: table-cell;
  vertical-align: middle;
  width: 600px; }

.caseStudyList h4, .productList h4 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 0 20px;
  display: table-cell;
  vertical-align: middle;
  width: 600px;
  line-height: 1.3; }

.productList h4 {
  height: 200px; }

.caseStudyList a.btn, .productList a.btn {
  display: block;
  width: 100%;
  color: white;
  background: #a7718b;
  height: 38px;
  line-height: 38px;
  text-align: center;
  text-decoration: none; }

.caseStudyList .share img {
  display: block;
  margin: 10px auto; }

.caseStudyList h4 {
  height: 92px; }

#articles, .contentSidebar {
  width: 1024px;
  margin: 20px auto 0 auto; }

.contentSidebar .content {
  padding: 40px; }

#articleList, .content {
  width: 700px;
  float: left; }

#articleSideBar, .sidebar {
  box-sizing: border-box;
  width: 304px;
  float: left;
  margin-left: 20px; }

.articlePost {
  padding-bottom: 20px !important;
  margin: 20px auto 0 auto; }

.articlePost h1 {
  margin-bottom: 10px; }

.articleHeader img {
  width: 100%; }

.articlePostListing {
  margin-bottom: 40px; }

.articlePostListing img {
  width: 100%;
  margin-bottom: 15px; }

.articleContent {
  padding: 0 40px 0 40px;
  margin: 20px 0; }
  .articleContent h1 {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 1.2; }

figure img {
  display: block; }

figcaption {
  margin: 0;
  font-style: italic; }

.colouredBlock {
  padding: 40px;
  color: white;
  background: #6b0035;
  background: rgba(107, 0, 53, 0.9); }

.articleListImage {
  min-height: 120px; }

.articleListImage, .articleHeader {
  position: relative; }

.date {
  padding: 10px 0;
  width: 80px;
  background: white;
  position: absolute;
  top: 0;
  right: 20px;
  border: 1px solid #dfccd5;
  border-top: none;
  color: #6b0035; }

.date .month, .date .year {
  text-align: center;
  display: block; }

.date .day {
  text-align: center;
  display: block;
  font-size: 42px; }

.articleButton {
  margin: -45px auto 0 auto;
  display: block;
  background: #6b0035;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  color: white;
  text-align: center;
  line-height: 70px;
  border: 10px solid #eee2e8; }

.articlePostListing h2 a {
  color: #6b0035;
  margin-bottom: 20px; }

.articlePostListing h2 a:visited {
  color: #6b0035; }

.articlePostListing p {
  margin-bottom: 50px; }

.articleButton a:visited {
  color: white; }

.recentPosts {
  display: block;
  margin: 0 10px 20px 10px !important; }
  .recentPosts img {
    padding-right: 15px; }
  .recentPosts:last-of-type {
    margin: 0 10px 10px 10px !important; }
  .recentPosts a {
    font-weight: 600;
    line-height: 1; }

.slidesjs-pagination {
  margin: 10px 10px 0 0;
  float: right;
  list-style: none; }
  .slidesjs-pagination li {
    float: left;
    margin: 0 2px; }
    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(/images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden; }

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px; }

.slidesjs-pagination li a:hover {
  background-position: 0 -26px; }

#slides a:link,
#slides a:visited {
  color: #333; }

#slides a:hover,
#slides a:active {
  color: #9e2020; }

#slides {
  display: none;
  margin-bottom: 10px; }

.sidebarContent {
  margin-bottom: 20px; }
  .sidebarContent .otherItem {
    position: relative; }
    .sidebarContent .otherItem h3 {
      position: absolute;
      margin: 0;
      top: 20px;
      left: 0; }
  .sidebarContent .blogItem {
    padding: 10px; }
  .sidebarContent h3 {
    text-align: left;
    background: rgba(107, 0, 53, 0.9);
    display: inline-block;
    padding: 10px;
    color: white;
    margin: 10px 0; }
  .sidebarContent .button {
    text-align: center;
    margin: 10px auto 20px auto; }
  .sidebarContent .categories, .sidebarContent .year {
    padding: 10px;
    font-weight: 600; }
    .sidebarContent .categories:hover, .sidebarContent .year:hover {
      opacity: 0.8; }
  .sidebarContent .text {
    padding: 10px;
    text-align: center;
    line-height: 1.2; }
  .sidebarContent .fit {
    width: 100%; }

#articleSideBar ul {
  list-style: none; }

#articleSideBar ul li {
  margin: 0;
  line-height: 1.8; }

#articleSideBar .tweet {
  margin-bottom: 20px; }

#articleSideBar .tweet:last-of-type {
  margin-bottom: 30px; }

.tweetHeader img {
  display: block;
  float: left;
  width: 24px;
  height: 24px; }

.tweetInfo {
  display: block;
  width: 252px;
  float: left;
  margin: 0 0 10px 6px;
  line-height: 24px; }

.tweetContents {
  margin: 0 0 0 30px; }

i {
  font-size: 13px; }

.twitterActions span {
  float: left;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  display: block;
  transition-duration: 300ms; }

.twitterReply {
  background: url("/images/icons/twitter/reply.png"); }

.twitterReply:hover {
  background: url("/images/icons/twitter/reply_hover.png"); }

.twitterRetweet {
  width: 19px !important;
  background: url("/images/icons/twitter/retweet.png"); }

.twitterRetweet:hover {
  background: url("/images/icons/twitter/retweet_hover.png"); }

.twitterFav {
  background: url("/images/icons/twitter/favorite.png"); }

.twitterFav:hover {
  background: url("/images/icons/twitter/favorite_hover.png"); }

/* EXHIBITIONS */
.cmsmap {
  width: 100%;
  height: 300px; }

.expo-title {
  text-align: center;
  margin-top: 20px; }

.expo-title-block h2 {
  text-align: center;
  padding-bottom: 20px; }

.dtstart {
  font-size: 1.2em;
  font-weight: bolder; }

section#expo-intro {
  background: url(../images/exhibitions/exhibitions-header.jpg) top no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.mobile-cal {
  display: none; }

.listed-event {
  height: 600px;
  margin: 20px 0; }

table.openingTimes {
  margin-top: 20px;
  width: 100%; }

table.openingTimes tr:first-of-type {
  font-weight: 600;
  color: #6b0035; }

table.openingTimes tr {
  height: 30px;
  line-height: 30px; }

table .day {
  width: 60%; }

table .time {
  width: 20%; }

ul.eventIcons {
  margin-top: 20px;
  list-style: none; }

ul.eventIcons li {
  font-size: 16px;
  margin-left: 0; }

ul.eventIcons li.addTo {
  background: url("/images/icons/calendar-icon.png") no-repeat left;
  height: 30px;
  padding-left: 40px;
  line-height: 30px;
  margin-bottom: 10px; }

ul.eventIcons li.register {
  background: url("/images/icons/register.png") no-repeat left;
  height: 30px;
  padding-left: 40px;
  line-height: 30px; }

p.stand {
  margin-top: 10px;
  text-align: center;
  font-size: 20px; }

p.stand span {
  font-size: 34px;
  font-weight: 600;
  color: #6b0035; }

/* CALANDER */
.calNav a {
  font-size: 24px;
  color: #6b0035; }

.nextMonth {
  float: right; }

table.calendar {
  width: 100%; }

table.calendar tbody {
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2; }

table.calendar th {
  display: table-cell;
  width: 14.285714286%;
  /* 1/7 of width as there's always 7 days in the week */
  font-weight: bold; }

table.calendar th abbr {
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase; }

table.calendar td {
  border: 1px solid #e2e2e2;
  text-align: left;
  vertical-align: top;
  width: 14.285714286%;
  /* 1/7 of width as there's always 7 days in the week */ }

table.calendar td.notinmonth {
  background: #e2e2e2; }

table.calendar .day {
  display: block; }

table.calendar .vevent {
  border-top: 1px dotted #dee0e0;
  display: block;
  padding: .5em 0; }

table.calendar a.vevent abbr {
  font-weight: bold;
  margin-right: .5em; }

table.calendar .has-event {
  /* just highlight days which have events */
  background: #6b0035;
  color: #fff; }

table.calendar .has-event .eventwrap {
  padding: 0.5em; }

table.calendar .has-event a, table.calendar .has-event span {
  color: #fff; }

/* on narrow widths we hide the summary */
table.calendar tr td .vevent span.summary {
  display: none; }

/* LISTING VIEW */
ul.calendar {
  border-top: 1px solid #dee0e0;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none; }

ul.calendar ul {
  margin: 0;
  padding: 0;
  list-style: none; }

ul.calendar > li {
  border-bottom: 1px solid #dee0e0;
  padding-bottom: .8em;
  margin-left: 0; }

ul.calendar li h3 {
  background: #f0f0f0;
  margin-top: 0;
  margin-bottom: 0;
  padding: .3em .8em; }

ul.calendar li .vevent {
  padding: .8em; }

ul.calendar .vevent:nth-of-type(2n) {
  border-top: 1px dotted #dee0e0; }

ul.calendar .vevent h4 {
  margin: 0; }

ul.calendar .vevent h4 a {
  font-weight: normal; }

@media only screen and (min-width: 460px) {
  ul.calendar-nav li {
    float: left;
    margin-right: 4.3478261%;
    /* 20 / 460 */
    width: 30.4347826%;
    /* 140 / 460 */ }

  ul.calendar-nav li h2 {
    margin-top: 0;
    text-align: center; }

  ul.calendar-nav li:nth-child(3) {
    margin-right: 0;
    text-align: right; }

  ul.calendar-nav li a {
    padding-left: 10%;
    /* 20 / 140 */ }

  ul.calendar-nav li a#next_month {
    padding-right: 10%;
    /* 20 / 140 */
    padding-left: 0; }

  table.calendar td {
    height: 40px; }

  table.calendar td a.vevent {
    border-top: 1px dotted #e2e2e2; }

  table.calendar tr td .vevent span.summary {
    display: block; } }
@media only screen and (min-width: 700px) {
  table.calendar thead {
    /* Reveal table */
    display: table-header-group; }

  table.calendar tbody {
    /* Reveal table */
    display: table-footer-group; }

  table.calendar:after {
    content: "";
    width: 100%; }

  table.calendar td {
    height: 100px; } }
.comments {
  padding-top: 20px !important; }

.comments h4 {
  margin-bottom: 20px; }

#disqus_thread {
  margin-bottom: 20px; }

/* #Midgit Screens
================================================= */
@media only screen and (min-width: 959px) and (max-width: 1023px) {
  #articles,
  .contentSidebar {
    width: 960px; }

  #articleList,
  .contentSidebar .content {
    width: 636px; } }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #articles,
  .contentSidebar {
    width: 960px; }

  #articleList,
  .contentSidebar .content {
    width: 636px; } }
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #articles,
  .contentSidebar {
    width: 748px; }

  #articleList,
  .contentSidebar .content {
    width: 424px; } }
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  #articles,
  #articleList,
  .contentSidebar,
  .contentSidebar .content {
    width: 320px; }

  #articleSideBar,
  .contentSidebar .sidebar {
    display: none; } }
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #articles,
  #articleList,
  .contentSidebar,
  .contentSidebar .content {
    width: 460px; } }
/* TESTIMONIALS */
.cd-testimonials-wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  max-width: 1024px;
  border: 1px solid #dfccd5;
  background-color: white;
  margin: 20px auto 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px 70px;
  z-index: 1; }

@media only screen and (min-width: 768px) {
  .cd-testimonials-wrapper {
    margin: 20px auto 0 auto;
    padding: 64px 50px 114px; } }
.cd-testimonials {
  color: #6b0035;
  text-align: center; }

.cd-testimonials:after {
  content: "";
  display: table;
  clear: both; }

.cd-testimonials > li {
  margin-left: 0;
  position: absolute;
  opacity: 0; }

.cd-testimonials > li:first-child {
  position: relative;
  opacity: 1; }

.cd-testimonials p {
  font-style: italic;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 1em;
  padding: 0 14px; }

@media only screen and (min-width: 768px) {
  .cd-testimonials p {
    font-size: 22px;
    font-size: 1.375rem; } }
@media only screen and (min-width: 1170px) {
  .cd-testimonials p {
    font-size: 20px;
    line-height: 1.6; } }
.cd-author img, .cd-author .cd-author-info {
  display: inline-block;
  vertical-align: middle; }

.cd-author img {
  margin-right: 5px; }

.cd-author .cd-author-info {
  list-style: none;
  text-align: left;
  line-height: 1.2; }

.cd-author .cd-author-info li:first-child {
  font-size: 14px;
  font-size: 0.875rem; }

.cd-author .cd-author-info li:last-child {
  font-size: 12px;
  font-size: 0.75rem;
  color: #6b6b70; }

@media only screen and (min-width: 768px) {
  .cd-author .cd-author-info {
    line-height: 1.4; }

  .cd-author .cd-author-info li:first-child {
    font-size: 16px;
    font-size: 1rem; }

  .cd-author .cd-author-info li:last-child {
    font-size: 14px;
    font-size: 0.875rem; } }
.flex-direction-nav li {
  list-style: none;
  margin-left: 0 !important;
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0; }

.flex-direction-nav li:first-child {
  left: 0; }

.flex-direction-nav li:last-child {
  right: 0; }

.flex-direction-nav li a {
  display: block;
  height: 100%;
  width: 100%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s; }

.no-touch .flex-direction-nav li a:hover {
  background-color: #6b0035; }

.flex-direction-nav li a::before, .flex-direction-nav li a::after {
  /* left and right arrows in css only */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 13px;
  background-color: #6b0035; }

.flex-direction-nav li a::before {
  -webkit-transform: translateY(-35px) rotate(45deg);
  -moz-transform: translateY(-35px) rotate(45deg);
  -ms-transform: translateY(-35px) rotate(45deg);
  -o-transform: translateY(-35px) rotate(45deg);
  transform: translateY(-35px) rotate(45deg); }

.flex-direction-nav li a::after {
  -webkit-transform: translateY(-27px) rotate(-45deg);
  -moz-transform: translateY(-27px) rotate(-45deg);
  -ms-transform: translateY(-27px) rotate(-45deg);
  -o-transform: translateY(-27px) rotate(-45deg);
  transform: translateY(-27px) rotate(-45deg); }

.flex-direction-nav li:last-child a::before {
  -webkit-transform: translateY(-35px) rotate(-45deg);
  -moz-transform: translateY(-35px) rotate(-45deg);
  -ms-transform: translateY(-35px) rotate(-45deg);
  -o-transform: translateY(-35px) rotate(-45deg);
  transform: translateY(-35px) rotate(-45deg); }

.flex-direction-nav li:last-child a::after {
  -webkit-transform: translateY(-27px) rotate(45deg);
  -moz-transform: translateY(-27px) rotate(45deg);
  -ms-transform: translateY(-27px) rotate(45deg);
  -o-transform: translateY(-27px) rotate(45deg);
  transform: translateY(-27px) rotate(45deg); }

@media only screen and (min-width: 768px) {
  .flex-direction-nav li {
    width: 50px; } }
@media only screen and (min-width: 1170px) {
  .flex-direction-nav li a::before, .flex-direction-nav li a::after {
    background-color: #5e5e63;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s; }

  .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
    background-color: white; } }
.cd-see-all {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #dfccd5;
  text-align: center;
  text-transform: uppercase;
  color: #6b0035;
  font-weight: 700;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-transition: color, 0.2s;
  -moz-transition: color, 0.2s;
  transition: color, 0.2s; }

.no-touch .cd-see-all:hover {
  color: #79b6e4; }

.cd-testimonials-all {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }

.cd-testimonials-all .cd-testimonials-all-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.cd-testimonials-all .cd-testimonials-all-wrapper > ul {
  list-style: none;
  width: 90%;
  max-width: 1170px;
  margin: 4em auto; }

.cd-testimonials-all .cd-testimonials-all-wrapper > ul:after {
  content: "";
  display: table;
  clear: both; }

.cd-testimonials-all .cd-testimonials-item {
  margin-bottom: 2em;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0) scale(0.4);
  -moz-transform: translate3d(0, 0, 0) scale(0.4);
  -ms-transform: translate3d(0, 0, 0) scale(0.4);
  -o-transform: translate3d(0, 0, 0) scale(0.4);
  transform: translate3d(0, 0, 0) scale(0.4);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  -moz-transition: -moz-transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s; }

.cd-testimonials-all p {
  position: relative;
  background: #eee2e8;
  color: #6b0035;
  padding: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  border-radius: 0.25em;
  margin-bottom: 1em; }

.cd-testimonials-all p::after {
  /* creating the triangle in css */
  content: '';
  position: absolute;
  top: 100%;
  left: 2em;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-top-color: #eee2e8; }

.cd-testimonials-all .cd-author {
  text-align: left;
  margin-left: 1.5em; }

.cd-testimonials-all .cd-author img {
  box-shadow: 0 0 0 transparent; }

.cd-testimonials-all.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-testimonials-all.is-visible .cd-testimonials-item {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }

@media only screen and (min-width: 768px) {
  .cd-testimonials-all .cd-testimonials-item {
    width: 46%;
    margin: 0 2% 3em; }

  .cd-testimonials-all .cd-author {
    margin-left: 1em; } }
@media only screen and (min-width: 1170px) {
  .cd-testimonials-all .cd-testimonials-item {
    width: 30%;
    margin: 0 1.6666% 3em; } }
.close-btn {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 5%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.close-btn::before, .close-btn::after {
  /* close icon in css */
  content: '';
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 24px;
  top: 8px;
  left: 19px;
  background-color: #39393c; }

.close-btn::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-btn::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.lapsafe-container a:active,
.lapsafe-slider a:active,
.lapsafe-container a:focus,
.lapsafe-slider a:focus {
  outline: none; }

.slides,
.lapsafe-control-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.lapsafe-slider {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden; }

.lapsafe-slider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  margin-left: 0; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.lapsafe-slider .slides img {
  width: 100%;
  display: block; }

.lapsafe-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.lapsafe-slider {
  background: #fff;
  position: relative;
  zoom: 1; }

.lapsafe-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .lapsafe-viewport {
  max-height: 300px; }

.lapsafe-slider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Control Nav */
.lapsafe-control-nav {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center; }

.lapsafe-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.lapsafe-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #FFF;
  background: white;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }

.lapsafe-control-paging li a:hover {
  background: #6b0035;
  background: rgba(107, 0, 53, 0.4); }

.lapsafe-control-paging li a.lapsafe-active {
  background: #6b0035;
  background: rgba(107, 0, 53, 0.9);
  cursor: default; }

.lapsafe-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.lapsafe-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.lapsafe-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.lapsafe-control-thumbs img:hover {
  opacity: 1; }

.lapsafe-control-thumbs .lapsafe-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .lapsafe-direction-nav .lapsafe-prev {
    opacity: 1;
    left: 10px; }

  .lapsafe-direction-nav .lapsafe-next {
    opacity: 1;
    right: 10px; } }
@media only screen and (max-width: 767px) {
  .lapsafe-slider {
    margin: 0; } }
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .lapsafe-slider {
    margin-top: 60px; } }
body:after {
  content: url(/images/assets/close.png) url(/images/assets/loading.gif) url(/images/assets/prev.png) url(/images/assets/next.png);
  display: none; }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

lb-container {
  padding: 4px; }

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(/images/assets/loading.gif) no-repeat; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(/images/assets/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(/images/assets/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-data {
  padding: 0 4px;
  color: #ccc; }

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999; }

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(/images/assets/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

/* END TESTIMONIALS */
/* #Base 960 Grid
================================================== */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0; }

.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px; }

.row {
  margin-bottom: 40px; }

.dblrow {
  margin-bottom: 80px; }

.container .column img,
.container .columns img,
.floatContainer .floatTwo img,
.floatContainer .floatThree img {
  max-width: 100%; }

/* Nested Column Classes */
.column.alpha, .columns.alpha {
  margin-left: 0; }

.column.omega, .columns.omega {
  margin-right: 0; }

/* Base Grid */
.container .one.column,
.container .one.columns {
  width: 40px; }

.container .two.columns {
  width: 100px; }

.container .three.columns {
  width: 160px; }

.container .four.columns {
  width: 220px; }

.container .five.columns {
  width: 280px; }

.container .six.columns {
  width: 340px; }

.container .seven.columns {
  width: 400px; }

.container .eight.columns {
  width: 460px; }

.container .nine.columns {
  width: 520px; }

.container .ten.columns {
  width: 580px; }

.container .eleven.columns {
  width: 640px; }

.container .twelve.columns {
  width: 700px; }

.container .thirteen.columns {
  width: 760px; }

.container .fourteen.columns {
  width: 820px; }

.container .fifteen.columns {
  width: 880px; }

.container .sixteen.columns {
  width: 940px; }

.container .one-third.column {
  width: 300px; }

.container .two-thirds.column {
  width: 620px; }

/* Offsets */
.container .offset-by-one {
  padding-left: 60px; }

.container .offset-by-two {
  padding-left: 120px; }

.container .offset-by-three {
  padding-left: 180px; }

.container .offset-by-four {
  padding-left: 240px; }

.container .offset-by-five {
  padding-left: 300px; }

.container .offset-by-six {
  padding-left: 360px; }

.container .offset-by-seven {
  padding-left: 420px; }

.container .offset-by-eight {
  padding-left: 480px; }

.container .offset-by-nine {
  padding-left: 540px; }

.container .offset-by-ten {
  padding-left: 600px; }

.container .offset-by-eleven {
  padding-left: 660px; }

.container .offset-by-twelve {
  padding-left: 720px; }

.container .offset-by-thirteen {
  padding-left: 780px; }

.container .offset-by-fourteen {
  padding-left: 840px; }

.container .offset-by-fifteen {
  padding-left: 900px; }

.floatContainer {
  width: 1024px;
  margin: 20px auto 0 auto;
  position: relative; }

.floatContainer .floatThree {
  padding: 0;
  margin-right: 20px;
  width: 328px;
  float: left;
  margin-bottom: 20px; }

.floatContainer .floatThree:nth-child(3n+3) {
  margin-right: 0; }

.floatContainer .floatTwo {
  padding: 0;
  margin-right: 20px;
  width: 502px;
  float: left;
  margin-bottom: 20px; }

.floatContainer .floatTwo:nth-child(2n+2) {
  margin-right: 0; }

/* #Midgit Screens
================================================= */
@media only screen and (min-width: 959px) and (max-width: 1023px) {
  .page,
  .breadcrumbs,
  .floatContainer {
    width: 960px; }

  .floatContainer .floatThree {
    width: 306px; }

  .floatContainer .floatTwo {
    width: 470px; } }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .page,
  .breadcrumbs {
    width: 960px; }

  .floatContainer {
    width: 960px; }

  .floatContainer .floatThree {
    width: 306px; }

  .floatContainer .floatTwo {
    width: 470px; } }
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .page,
  .breadcrumbs {
    width: 748px; }

  .container {
    width: 728px; }

  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px; }

  .column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 10px; }

  .column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 10px; }

  .alpha.omega {
    margin-left: 0;
    margin-right: 0; }

  .container .one.column,
  .container .one.columns {
    width: 25.5px; }

  .container .two.columns {
    width: 71px; }

  .container .three.columns {
    width: 116.5px; }

  .container .four.columns {
    width: 162px; }

  .container .five.columns {
    width: 207.5px; }

  .container .six.columns {
    width: 253px; }

  .container .seven.columns {
    width: 298.5px; }

  .container .eight.columns {
    width: 344px; }

  .container .nine.columns {
    width: 389px; }

  .container .ten.columns {
    width: 435px; }

  .container .eleven.columns {
    width: 480px; }

  .container .twelve.columns {
    width: 526px; }

  .container .thirteen.columns {
    width: 571px; }

  .container .fourteen.columns {
    width: 617px; }

  .container .fifteen.columns {
    width: 662px; }

  .container .sixteen.columns {
    width: 708px; }

  .container .one-third.column {
    width: 222.5px; }

  .container .two-thirds.column {
    width: 465px; }

  /* Offsets */
  .container .offset-by-one {
    padding-left: 45.5px; }

  .container .offset-by-two {
    padding-left: 91px; }

  .container .offset-by-three {
    padding-left: 136.5px; }

  .container .offset-by-four {
    padding-left: 182px; }

  .container .offset-by-five {
    padding-left: 127.5px; }

  .container .offset-by-six {
    padding-left: 263px; }

  .container .offset-by-seven {
    padding-left: 318.5px; }

  .container .offset-by-eight {
    padding-left: 364px; }

  .container .offset-by-nine {
    padding-left: 309px; }

  .container .offset-by-ten {
    padding-left: 455px; }

  .container .offset-by-eleven {
    padding-left: 500px; }

  .container .offset-by-twelve {
    padding-left: 546px; }

  .container .offset-by-thirteen {
    padding-left: 591px; }

  .container .offset-by-fourteen {
    padding-left: 537px; }

  .container .offset-by-fifteen {
    padding-left: 728px; }

  .floatContainer {
    width: 748px; }

  .floatContainer .floatThree {
    width: 364px;
    margin-right: 20px; }

  .floatContainer .floatTwo {
    width: 100%; }

  .floatContainer .floatThree:nth-child(3n+3) {
    margin-right: 20px; }

  .floatContainer .floatThree:nth-child(2n+2) {
    margin-right: 0; } }
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .page,
  .breadcrumbs {
    width: 320px; }

  .container {
    width: 280px; }

  .container .columns,
  .container .column {
    margin: 0; }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 280px; }

  /* Offsets */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0; }

  .floatContainer {
    width: 320px; }

  .floatContainer .floatThree,
  .floatContainer .floatTwo {
    width: 320px;
    margin-right: 0; } }
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .page,
  .breadcrumbs {
    width: 460px; }

  .container {
    width: 420px; }

  .container .columns,
  .container .column {
    margin: 0; }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 420px; }

  .floatContainer {
    width: 460px; }

  .floatContainer .floatThree,
  .floatContainer .floatTwo {
    width: 460px;
    margin-right: 0; } }
/* #Clearing
================================================== */
/* Self Clearing Goodness */
.floatContainer:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.hlfrow:before,
.hlfrow:after,
.dblrow:before,
.dblrow:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after,
.hlfrow:after,
.dblrow:after,
.clearfix:after {
  clear: both; }

.row,
.hlfrow,
.dblrow,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* reset */
.lapsafe-menu ul,
.lapsafe-menu li,
.lapsafe-menu a,
.lapsafe-menu p,
.lapsafe-menu ul li ul img,
.lapsafe-menu h2,
.lapsafe-menu h3 {
  text-align: left;
  margin: 0;
  padding: 0;
  display: block;
  line-height: normal;
  text-decoration: none !important;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400; }

.lapsafe-menu a:hover {
  opacity: 1; }

.lapsafe-menu > ul,
.lapsafe-menu .login-form input[type=submit],
.lapsafe-menu .search-bar ul input[type=submit] {
  background-color: none; }

.lapsafe-menu > ul > li {
  border-left-color: #73053c !important; }

.lapsafe-menu .login-form:hover,
.lapsafe-menu .search-bar:hover,
.lapsafe-menu > ul > li:hover > a {
  color: #6b0035 !important; }

.lapsafe-menu .drop-down,
.lapsafe-menu .social-bar ul {
  border-bottom-color: #6b0035 !important; }

@media screen and (max-width: 767px) {
  .lapsafe-menu > ul > li {
    border-bottom-color: #73053c !important; } }
/* menu container */
.lapsafe-menu {
  font-family: "source-sans-pro";
  margin: 0 auto;
  /* margin for align container center */
  padding: 0;
  position: relative;
  z-index: 999;
  font-size: 1em;
  display: block;
  max-width: 1280px;
  /* container max-width 1280px */
  min-height: 60px;
  width: 100%;
  min-width: 180px; }

/* ul tag layout */
.lapsafe-menu > ul {
  float: left;
  width: 100%;
  min-height: 60px; }

/* li tag layout */
.lapsafe-menu > ul > li {
  margin: 0;
  padding: 0;
  float: left;
  min-height: 60px;
  line-height: 60px;
  color: #FFFFFF;
  width: 11.111111%;
  font-weight: 300; }

/* a tag layout */
.lapsafe-menu > ul > li > a {
  line-height: 60px;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em; }

/* .title class layout */
.lapsafe-menu > ul > .title > a {
  text-transform: uppercase;
  font-size: 1.4em;
  line-height: 60px;
  padding-left: 20px;
  text-align: left;
  padding-right: 20px; }

.lapsafe-menu > ul > .title {
  border-left: none;
  min-width: 25%; }

/* hover animation */
.lapsafe-menu > ul > li:hover > a {
  background: #FFFFFF;
  color: #9C59B8;
  /* animation */
  transition: background 0.3s linear 0s, color 0.3s linear 0s;
  -moz-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  -ms-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  -o-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  -webkit-transition: background 0.3s linear 0s, color 0.3s linear 0s; }

.lapsafe-menu > ul > .title:hover > a {
  background: inherit;
  color: inherit !important; }

/*------- Drop down layout start ------*/
.lapsafe-menu .drop-down {
  position: absolute;
  background: #FFFFFF;
  z-index: 999;
  margin-left: 0px;
  width: 100%;
  float: left;
  width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid; }

.lapsafe-menu .drop-down .drop-down {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.lapsafe-menu .drop-down li {
  float: left;
  width: 100%;
  position: relative; }

.lapsafe-menu .drop-down li a {
  color: #555658;
  font-size: 0.9em;
  text-align: left;
  padding: 10px 20px 10px 25px;
  background-color: #FFFFFF;
  /* animation */
  transition: color 0.2s linear 0s, padding-left 0.2s linear 0s;
  -moz-transition: color 0.2s linear 0s, padding-left 0.2s linear 0s;
  -ms-transition: color 0.2s linear 0s, padding-left 0.2s linear 0s;
  -o-transition: color 0.2s linear 0s, padding-left 0.2s linear 0s;
  -webkit-transition: color 0.2s linear 0s, padding-left 0.2s linear 0s; }

/* drop down hover animation */
.lapsafe-menu .drop-down li:hover > a {
  color: #6b003b; }

/* default hover animation to show drop down */
.lapsafe-menu > ul > li:hover .drop-down {
  display: block; }

.lapsafe-menu ul li .drop-down li:hover > .drop-down {
  display: block; }

/* .hover-fade animation to show drop down */
.lapsafe-menu > ul > li .drop-down.hover-fade {
  display: none; }

.lapsafe-menu > ul > li:hover > .drop-down.hover-fade,
.lapsafe-menu > ul > li .drop-down li:hover > .drop-down.hover-fade {
  display: block;
  /* keyframes animation */
  animation: hover-fade 0.3s linear 0s forwards;
  -moz-animation: hover-fade 0.3s linear 0s forwards;
  -ms-animation: hover-fade 0.3s linear 0s forwards;
  -o-animation: hover-fade 0.3s linear 0s forwards;
  -webkit-animation: hover-fade 0.3s linear 0s forwards; }

li.logo img {
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out; }

li.logo img:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg); }

@keyframes hover-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes hover-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes hover-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes hover-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes hover-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.lapsafe-menu .drop-down li i {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 20px;
  bottom: 0;
  height: 16px;
  margin: auto;
  color: #555658; }

/* level 2 .drop-down layout */
.lapsafe-menu .drop-down .drop-down {
  left: 100%;
  top: -10px;
  width: 150px; }

/*------- one column layout ----------*/
.lapsafe-menu .drop-down.one-column {
  width: 250px; }

.lapsafe-menu .drop-down .drop-down.one-column {
  width: 250px; }

/*-------- two column layout ---------*/
.lapsafe-menu .drop-down.two-column {
  width: 322px; }

.lapsafe-menu .drop-down.two-column ul {
  float: left;
  width: 160px;
  margin: 0;
  padding: 0; }

/*--------- .full-width with 4 columns layout -----------*/
.lapsafe-menu .drop-down.full-width {
  width: 100%;
  margin-left: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.lapsafe-menu .drop-down.full-width ul {
  float: left;
  width: 25%;
  cursor: default; }

.lapsafe-menu .drop-down.full-width ul li {
  margin: 0;
  padding: 10px 0;
  float: left;
  width: 100%; }

.lapsafe-menu .drop-down.full-width ul li a {
  margin: 0;
  border: none;
  padding: 0;
  float: left;
  margin-right: 10%;
  margin-left: 10%; }

.lapsafe-menu .drop-down.full-width ul li p {
  margin: 0;
  padding: 10px 10px 10px 11%;
  float: left;
  width: 100%;
  clear: both;
  font-size: 0.9em;
  color: #949598; }

/* hr tag layout */
.lapsafe-menu hr {
  margin: 0;
  padding: 0;
  display: block; }

/* image layout */
.lapsafe-menu ul li ul img {
  width: 100%;
  float: left;
  border-style: solid;
  border-width: 4px;
  border-color: white; }

/* image hover animation */
.lapsafe-menu ul li ul img:hover {
  opacity: 0.8; }

/* h2 layout */
.lapsafe-menu h2, .lapsafe-menu h3 {
  color: #535456;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0;
  padding: 5px 5px 5px 10%;
  padding-top: 10px; }

.lapsafe-menu h3 {
  font-size: 1em; }

@media screen and (max-width: 767px) {
  /* li tag layout */
  .lapsafe-menu > ul > li {
    width: 100%;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid; }

  .lapsafe-menu > ul > li:hover > a,
  .lapsafe-menu > ul > .login-form:hover,
  .lapsafe-menu > ul > .search-bar:hover {
    color: #ffffff !important; }

  /* .title class layout */
  .lapsafe-menu > ul > .title a {
    text-align: center; }

  /* .full-width class layout */
  .lapsafe-menu .drop-down.full-width {
    position: relative;
    left: 0px !important; }

  /* all drop-downs layout */
  .lapsafe-menu .drop-down.one-column,
  .lapsafe-menu .drop-down.two-column,
  .lapsafe-menu .drop-down.full-width,
  .lapsafe-menu .drop-down .drop-down,
  .lapsafe-menu .social-bar ul,
  .lapsafe-menu .search-bar ul,
  .lapsafe-menu .login-form ul {
    width: 100% !important;
    display: block !important;
    position: relative;
    left: 0px;
    transform: scale(1, 1), rotateY(90deg);
    -moz-transform: scale(1, 1), rotateY(90deg);
    -ms-transform: scale(1, 1), rotateY(90deg);
    -o-transform: scale(1, 1), rotateY(90deg);
    -webkit-transform: scale(1, 1), rotateY(90deg); }

  .lapsafe-menu .drop-down .drop-down {
    border: none;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    top: 0;
    padding: 0; }

  .lapsafe-menu .drop-down .drop-down.one-column {
    padding-left: 20px; }

  .lapsafe-menu > ul > li .drop-down.hover-expand,
  .lapsafe-menu > ul > li .drop-down.hover-fade,
  .lapsafe-menu > ul > li .drop-down.hover-zoom {
    display: none;
    border: none; }

  .lapsafe-menu > ul > li:hover > .drop-down.hover-expand,
  .lapsafe-menu > ul > li:hover > .drop-down.hover-fade,
  .lapsafe-menu > ul > li:hover > .drop-down.hover-zoom,
  .lapsafe-menu > ul > li .drop-down li:hover > .drop-down.hover-expand,
  .lapsafe-menu > ul > li .drop-down li:hover > .drop-down.hover-fade,
  .lapsafe-menu > ul > li .drop-down li:hover > .drop-down.hover-zoom {
    display: block;
    /* keyframes animation */
    animation: hover-default 0.2s linear 0s forwards;
    -moz-animation: hover-default 0.2s linear 0s forwards;
    -ms-animation: hover-default 0.2s linear 0s forwards;
    -o-animation: hover-default 0.2s linear 0s forwards;
    -webkit-animation: hover-default 0.2s linear 0s forwards; }

  .lapsafe-menu > ul > .login-form:hover,
  .lapsafe-menu > ul > .search-bar:hover,
  .lapsafe-menu > ul > li:hover > a {
    color: #FFFFFF;
    background: inherit; }

  .lapsafe-menu ul .login-form,
  .lapsafe-menu ul .search-bar {
    margin: 0;
    padding: 0; }

  .lapsafe-menu ul .login-form label {
    text-align: left;
    text-indent: 10px; }

  .lapsafe-menu ul .login-form table td {
    cursor: default; }

  .lapsafe-menu .drop-down.two-column ul,
  .lapsafe-menu .drop-down.full-width ul {
    width: 50%; }

  .lapsafe-menu .drop-down.one-column a,
  .lapsafe-menu .drop-down.two-column a {
    width: auto;
    float: left; }

  .lapsafe-menu ul .social-bar {
    text-align: center; }

  .lapsafe-menu ul .social-bar ul li {
    display: inline-block;
    float: none; }

  /* fontAwesome icons layout */
  .lapsafe-menu .drop-down li .fa.fa-angle-right {
    position: relative;
    z-index: 9999;
    right: 0px;
    float: right;
    height: auto;
    color: #555658;
    padding: 0;
    margin: 0 17px 0 0;
    display: block;
    line-height: 38px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg); }

  /* mobile button layout */
  .lapsafe-menu #mobile-button {
    position: absolute;
    display: none; }

  .lapsafe-menu > ul {
    height: 60px;
    overflow: hidden; }

  /* mobile button click to show drop down */
  .lapsafe-menu #mobile-button:checked + ul {
    height: auto;
    overflow: visible; }

  /* label tag layout */
  .lapsafe-menu > label {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 60px;
    font-size: 2em;
    color: #FFFFFF;
    cursor: pointer; }

  .lapsafe-menu > label i {
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none; }

  .lapsafe-menu ul .title {
    padding-left: 60px; }

  /* collapse class layout */
  .lapsafe-menu .collapse .drop-down.one-column,
  .lapsafe-menu .collapse .drop-down.two-column,
  .lapsafe-menu .collapse .drop-down.full-width,
  .lapsafe-menu .collapse .drop-down .drop-down,
  .lapsafe-menu .collapse .social-bar ul,
  .lapsafe-menu .collapse .search-bar ul,
  .lapsafe-menu .collapse .login-form ul {
    width: 100% !important;
    display: none !important;
    position: relative;
    left: 0px;
    transform: scale(1, 1), rotateY(90deg);
    -moz-transform: scale(1, 1), rotateY(90deg);
    -ms-transform: scale(1, 1), rotateY(90deg);
    -o-transform: scale(1, 1), rotateY(90deg);
    -webkit-transform: scale(1, 1), rotateY(90deg); }

  .lapsafe-menu > .collapse > li:hover > .drop-down.hover-expand,
  .lapsafe-menu > .collapse > li:hover > .drop-down.hover-fade,
  .lapsafe-menu > .collapse > li:hover > .drop-down.hover-zoom,
  .lapsafe-menu > .collapse > li .drop-down li:hover > .drop-down.hover-expand,
  .lapsafe-menu > .collapse > li .drop-down li:hover > .drop-down.hover-fade,
  .lapsafe-menu > .collapse > li .drop-down li:hover > .drop-down.hover-zoom {
    display: block !important;
    /* keyframes animation */
    animation: hover-fade 0.2s linear 0s forwards;
    -moz-animation: hover-fade 0.2s linear 0s forwards;
    -ms-animation: hover-fade 0.2s linear 0s forwards;
    -o-animation: hover-fade 0.2s linear 0s forwards;
    -webkit-animation: hover-fade 0.2s linear 0s forwards; }

  @keyframes hover-fade {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @-moz-keyframes hover-fade {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @-ms-keyframes hover-fade {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @-o-keyframes hover-fade {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @-webkit-keyframes hover-fade {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } } }
.lapsafe-menu > label, .lapsafe-menu > input {
  display: none; }

/* media query */
@media screen and (max-width: 320px) {
  /* ul tag layout */
  .lapsafe-menu .drop-down.two-column ul,
  .lapsafe-menu .drop-down.full-width ul {
    width: 100%; }

  /* .search-bar layout */
  .lapsafe-menu ul .search-bar td {
    width: 100% !important;
    float: left;
    padding: 5px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default; }

  .lapsafe-menu ul .search-bar input[type=text],
  .lapsafe-menu ul .search-bar input[type=submit] {
    width: 100%;
    margin: 0;
    border: none; }

  /* .login-form layout */
  .lapsafe-menu ul .login-form ul {
    padding: 20px; }

  .lapsafe-menu ul .login-form td {
    float: left;
    width: 100%;
    cursor: default; }

  .lapsafe-menu ul .login-form input[type=submit] {
    width: 100%; }

  /* .title class layout */
  .lapsafe-menu ul .title {
    padding-left: 0px;
    text-indent: 60px; } }
li.logo {
  line-height: 0;
  margin-left: 2%;
  border: none;
  padding-top: 15px; }

.logo img {
  height: 75px;
  display: block;
  margin: 10px auto; }

.mobile-logo {
  display: none; }

header {
  z-index: 99;
  height: 60px;
  border: none;
  position: fixed;
  width: 100%;
  top: 0;
  background: #6b0035;
  background: rgba(107, 0, 53, 0.9); }

.lapsafe-menu > ul > li.logo {
  border-left: none; }

.latestTitle {
  height: 60px; }

.menuLatest {
  height: 150px;
  overflow: hidden; }

.menuRollover {
  display: none;
  opacity: 0;
  transition-duration: 200ms; }

a:hover .menuRollover {
  display: block;
  opacity: 1; }

/* TABLET PORTRAIT Note: Design for a width of 768px */
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  a.notice {
    font-size: 14px; }

  .drop {
    display: none !important; }

  .lapsafe-menu > ul > li {
    width: 14.2%; } }
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .lapsafe-menu > label, .lapsafe-menu > input {
    display: block; }

  header {
    position: static;
    display: block; }

  .collapse {
    background: #6b0035; }

  li.logo {
    display: none; }

  .lapsafe-menu {
    min-height: 60px; }

  .lapsafe-menu > ul {
    min-height: 40px; }

  .lapsafe-menu > ul > li {
    min-height: 40px;
    line-height: 40px;
    border: none; }

  .lapsafe-menu > ul > li > a {
    line-height: 40px; }

  .lapsafe-menu > ul > .title > a {
    line-height: 40px; }

  .logo img {
    padding: 0;
    display: none; }

  .mobile-logo {
    display: block;
    color: white;
    text-align: right;
    font-size: 24px;
    line-height: 30px;
    margin-top: 15px;
    padding-right: 15px; }

  #progress {
    top: 0; } }
#chromebookIntro {
  margin-top: 40px;
  color: #666666; }

#chromebookComparison {
  margin-top: 40px; }
  #chromebookComparison img {
    margin-bottom: 140px; }

.comparison .heading {
  text-align: center; }
  .comparison .heading > span {
    display: block;
    padding: 10px;
    color: white;
    background: rgba(107, 0, 53, 0.2); }
.comparison .productName {
  height: 100px;
  line-height: 100px; }
  .comparison .productName span {
    color: white;
    font-size: 32px;
    font-weight: 600; }
.comparison .points {
  height: 180px;
  padding: 40px 0 20px 0; }
  .comparison .points ul {
    list-style: none; }
    .comparison .points ul li {
      margin: 0 0 10px 25px;
      padding-left: 38px; }
.comparison a {
  display: block;
  background: url("../images/icons/grey-arrow.png") center top no-repeat #f49719;
  padding: 20px 0;
  text-align: center;
  color: #f3f3f3;
  -moz-transition: all 500ms ease 0;
  -webkit-transition: all 500ms ease 0;
  transition: all 500ms ease 0; }
  .comparison a:hover {
    opacity: 0.8; }
.comparison.red .heading {
  background: #d22e2e; }
.comparison.red a {
  background: url("../images/icons/grey-arrow.png") center top no-repeat #d22e2e; }
.comparison.red .points {
  background: url("../images/icons/comparison-table/red-arrow.png") center top no-repeat #f3f3f3; }
  .comparison.red .points ul li.chromebook {
    height: 26px;
    line-height: 26px;
    background: url("../images/icons/comparison-table/red-laptop.png") left no-repeat; }
  .comparison.red .points ul li.secure {
    height: 30px;
    line-height: 30px;
    background: url("../images/icons/comparison-table/red-lock.png") left no-repeat; }
  .comparison.red .points ul li.smart {
    height: 27px;
    line-height: 27px;
    background: url("../images/icons/comparison-table/red-lightbulb.png") left no-repeat; }
  .comparison.red .points ul li.ac {
    height: 30px;
    line-height: 30px;
    background: url("../images/icons/comparison-table/red-cable.png") left no-repeat; }
  .comparison.red .points ul li.power {
    height: 32px;
    line-height: 32px;
    background: url("../images/icons/comparison-table/red-pwer.png") left no-repeat; }
.comparison.blue .heading {
  background: #08a8de; }
.comparison.blue a {
  background: url("../images/icons/grey-arrow.png") center top no-repeat #08a8de; }
.comparison.blue .points {
  background: url("../images/icons/comparison-table/blue-arrow.png") center top no-repeat #f3f3f3; }
  .comparison.blue .points ul li.chromebook {
    height: 26px;
    line-height: 26px;
    background: url("../images/icons/comparison-table/blue-laptop.png") left no-repeat; }
  .comparison.blue .points ul li.fan {
    height: 27px;
    line-height: 27px;
    background: url("../images/icons/comparison-table/blue-fan.png") left no-repeat; }
  .comparison.blue .points ul li.doors {
    height: 32px;
    line-height: 32px;
    background: url("../images/icons/comparison-table/blue-doors.png") left no-repeat; }
  .comparison.blue .points ul li.wheel {
    height: 32px;
    line-height: 32px;
    background: url("../images/icons/comparison-table/blue-wheel.png") left no-repeat; }
  .comparison.blue .points ul li.power {
    height: 32px;
    line-height: 32px;
    background: url("../images/icons/comparison-table/red-pwer.png") left no-repeat; }
.comparison.green .heading {
  background: #3cb50d; }
.comparison.green a {
  background: url("../images/icons/grey-arrow.png") center top no-repeat #3cb50d; }
.comparison.green .points {
  background: url("../images/icons/comparison-table/green-arrow.png") center top no-repeat #f3f3f3; }
  .comparison.green .points ul li.chromebook {
    height: 26px;
    line-height: 26px;
    background: url("../images/icons/comparison-table/green-laptop.png") left no-repeat; }
  .comparison.green .points ul li.cost {
    height: 27px;
    line-height: 27px;
    background: url("../images/icons/comparison-table/green-pig.png") left no-repeat; }
  .comparison.green .points ul li.footprint {
    height: 20px;
    line-height: 20px;
    background: url("../images/icons/comparison-table/green-footprint.png") left no-repeat; }

.stats {
  margin: 1em 0;
  min-width: 300px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  background: #6b0035;
  background: rgba(107, 0, 53, 0.9);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }
  .stats tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-color: rgba(107, 0, 53, 0.9); }
    .stats tr:hover {
      background: #6b0035;
      background: rgba(107, 0, 53, 0.8); }
    .stats tr:first-of-type {
      font-weight: 600; }
  .stats .rwd-table, .stats th {
    text-align: left; }
  .stats th {
    display: none;
    background: #6b0035;
    background: #6b0035;
    margin: .5em 1em; }
  .stats td {
    margin: .5em 1em;
    display: block; }
    .stats td:first-child {
      padding-top: .5em; }
    .stats td:last-child {
      padding-bottom: .5em; }
    .stats td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }

@media (min-width: 480px) {
  .stats th {
    display: table-cell;
    padding: .25em .5em;
    padding: 1em !important; }
    .stats th:first-child {
      padding-left: 0; }
    .stats th:last-child {
      padding-right: 0; }
    .stats th:before {
      color: #fff;
      font-weight: 600; }
  .stats td {
    display: table-cell;
    padding: .25em .5em;
    padding: 1em !important; }
    .stats td:before {
      display: none;
      color: #fff;
      font-weight: 600; }
    .stats td:first-child {
      padding-left: 0; }
    .stats td:last-child {
      padding-right: 0; } }
.tabContainer {
  width: 1024px;
  box-sizing: border-box;
  margin: 20px auto 0 auto; }
  .tabContainer .tabs {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    .tabContainer .tabs li {
      border: 1px solid #dfccd5;
      border-bottom: 1px solid white;
      background: #dfccd5;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
      margin: 0 10px 0 0;
      color: #222;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
      transition-duration: 500ms; }
      .tabContainer .tabs li.current {
        background: white;
        color: #6b0035; }
  .tabContainer .tab-content {
    margin-top: -2px;
    display: none;
    background: white;
    border: 1px solid #dfccd5;
    padding: 40px 0;
    transition-duration: 1100ms; }
    .tabContainer .tab-content.current {
      display: inherit; }

#video {
  margin: 20px auto;
  width: 1024px;
  border: 1px solid #dfccd5;
  box-sizing: border-box;
  background: white; }

.productIntroduction {
  padding-top: 120px; }
  .productIntroduction h1 {
    display: block;
    background: white;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
    color: #6b0035; }
  .productIntroduction h2 {
    display: block;
    background: white;
    font-weight: 300;
    text-align: center;
    border: none;
    font-size: 28px;
    padding-bottom: 5px;
    margin: 0;
    text-decoration: none; }
  .productIntroduction p {
    background: white;
    padding: 0 20px 20px 20px;
    text-align: center; }
  .productIntroduction a {
    display: block;
    width: 25%;
    float: left;
    background: #6b0035;
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; }

#productInfo {
  position: relative; }

.overviewImg {
  position: absolute;
  width: 380px;
  right: 0;
  top: 60px; }

.parallax {
  margin-top: 40px;
  height: 820px;
  background: #6b0035;
  width: 100%;
  margin: 20px 0;
  position: relative; }
  .parallax .parallaxContent {
    position: absolute;
    bottom: 60px;
    right: 60px;
    background: white;
    padding: 40px;
    width: 580px; }
    .parallax .parallaxContent:last-of-type {
      top: 60px;
      bottom: auto; }

.newProduct {
  position: absolute;
  top: 0;
  right: 0; }

/* PRODUCT PAGE SECTIONS */
.rangeDesc p {
  text-align: center; }

.additionalOptions img {
  margin: 15px 0;
  border: 5px solid rgba(107, 0, 53, 0.9);
  box-sizing: border-box; }

#tooltip iframe {
  width: 940px;
  height: 500px; }

.keyBenefit img {
  display: block;
  margin: 0 auto;
  height: 50px;
  margin-bottom: 8px; }

.keyBenefit p {
  font-size: 14px;
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center; }

.productForm {
  background: #6b0035;
  background: rgba(107, 0, 53, 0.9); }
  .productForm h2 {
    font-size: 44px;
    text-align: center;
    display: block;
    color: white;
    border: none;
    margin-bottom: 20px; }
  .productForm input {
    box-sizing: border-box;
    color: white;
    display: inline-block;
    width: 100%;
    background: #9a4264;
    border: none;
    padding: 15px;
    margin-bottom: 18px;
    font-size: 16px; }
    .productForm input[type=submit] {
      -webkit-appearance: none;
      -moz-transition: all 500ms ease 0;
      -webkit-transition: all 500ms ease 0;
      transition: all 500ms ease 0;
      margin-bottom: 0; }
      .productForm input[type=submit]:hover {
        opacity: 0.8;
        cursor: pointer; }
  .productForm label {
    color: white;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 8px; }
  .productForm textarea {
    display: inline-block;
    color: white;
    box-sizing: border-box;
    width: 100%;
    background: #9a4264;
    border: none;
    height: 232px;
    resize: none;
    margin-bottom: 8px; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #testimonials {
    display: none; }

  .parallaxHeader, .parallax {
    background-attachment: scroll !important; } }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #testimonials {
    display: none; }

  .parallaxHeader, .parallax {
    background-attachment: scroll !important; } }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #video {
    width: 960px; }
    #video iframe {
      width: 960px !important; }

  .tabContainer {
    width: 960px; } }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #video {
    width: 748px; }
    #video iframe {
      width: 748px !important;
      height: 432px; }

  .tabContainer {
    width: 748px; }
    .tabContainer .tabs li {
      display: block;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      border: none;
      margin: 0 auto; } }
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .breadcrumbs.nohead {
    margin-top: 20px; }

  footer .content .copyright {
    margin-top: 0; }

  .parallaxHeader.small {
    height: 200px;
    background-attachment: scroll !important; }
    .parallaxHeader.small h1 {
      margin-top: 70px;
      font-size: 24px; }

  .parallaxHeader.large {
    height: 690px;
    background-attachment: scroll !important; }

  .productIntroduction a {
    width: 100%; }

  #tooltip {
    display: none; }

  .overviewImg {
    position: static; }

  .parallax {
    display: none; }

  .cmsmap {
    height: 150px; }

  #googlemaps {
    height: 200px; }

  .homeContent {
    padding: 0; } }
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  section#tooltip iframe {
    width: 768px;
    height: 400px; }

  #product-form input[type=text], #product-form input[type=tel], #product-form input[type=email] {
    width: 340px; }

  #product-form textarea {
    width: 360px; }

  section#fixed {
    height: 550px;
    background-attachment: scroll; }

  .contact-area, .address-area {
    width: 100%; }

  .contact-area {
    margin-top: 150px; }

  #button-container {
    display: none; }

  #social-sidebar {
    display: none; }

  .searchResultBody {
    width: 628px; }

  .chromebooks .header h1 {
    font-size: 60px;
    padding: 40px;
    margin: 150px auto 0 auto; }

  .listItem, .caseStudyFilter {
    height: 440px; }

  .listIcons {
    display: none; } }
/* MOBILE PORTRAIT STYLES */
@media only screen and (max-width: 767px) {
  .tabContainer {
    width: 300px; }
    .tabContainer .tabs li {
      display: block;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      border: none;
      margin: 0 auto; }

  #testimonials, #video {
    display: none; }

  .breadcrumbs, #home {
    margin: 30px auto 0 auto;
    overflow: hidden; }

  a.button {
    margin-bottom: 10px; }

  h1 {
    font-size: 30px; }

  h2 {
    font-size: 30px; }

  h3 {
    font-size: 20px; }

  img {
    max-width: 100%; }

  section#trolleys {
    height: 698px; }

  section#fixed {
    height: 689px; }

  section#fixed img, section#trolleys img {
    height: auto; }

  .testimonial-right, .testimonial-left {
    margin-top: 15px;
    margin-bottom: 30px; }

  section#tooltip iframe {
    width: 300px;
    height: 200px; }

  .product-header .opacity-block {
    height: auto; }

  .floatedbutton {
    width: 100%;
    float: none; }

  #product-form input[type=text], #product-form input[type=tel], #product-form input[type=email] {
    width: 240px; }

  #product-form textarea, #product-form input[type=submit] {
    width: 260px; }

  .contact-area, .address-area {
    width: 100%; }

  .contact-area {
    margin-top: 150px; }

  #social-sidebar {
    display: none; }

  .mobile-cal {
    display: block; }

  .expo-cal {
    display: none; }

  a.paging-next {
    padding-right: 15%; }

  a.paging-prev {
    padding-left: 15%; }

  ul.calendar-nav li:nth-child(1) {
    float: left;
    width: 50%; }

  ul.calendar-nav li:nth-child(3) {
    float: right;
    width: 50%;
    text-align: right; }

  .searchIconCaseStudy, .searchIconMobile, .searchIconTrav, .searchIconFixed, .searchIconPress {
    display: none; }

  .searchResultBody {
    width: 280px; }

  .chromebooks .header h1 {
    font-size: 35px;
    margin: 50px auto 0 auto;
    width: auto;
    padding: 20px; }

  #wrapper {
    margin-top: 50px; }

  .fullBanner {
    margin-top: 0; }

  .caseStudyItem, .caseStudyFilter {
    margin-bottom: 20px !important; }

  .articleDate {
    display: none; }

  .productIntroduction {
    padding-top: 60px; }

  .keyBenefits, #productDimensions {
    display: none; }

  .message {
    display: none; } }
/* MOBILE LANDSCAPE STYLES */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .tabContainer {
    width: 440px; }

  section#trolleys {
    height: 711px; }

  section#fixed {
    height: 600px; }

  body {
    margin: 0 0 425px; }

  section#tooltip iframe {
    width: 100%; }

  #product-form input[type=text], #product-form input[type=tel], #product-form input[type=email] {
    width: 400px; }

  #product-form textarea, #product-form input[type=submit] {
    width: 420px; }

  section#case-study-image-header {
    top: 100px; }

  .contact-area, .address-area {
    width: 100%; }

  .contact-area {
    margin-top: 150px; }

  #button-container {
    display: none; }

  .searchIconCaseStudy, .searchIconMobile, .searchIconTrav, .searchIconFixed, .searchIconPress {
    display: block; }

  .chromebooks .header h1 {
    font-size: 50px;
    margin: 70px auto 0 auto; }

  .caseStudyItem {
    height: 590px; }

  .productList h4 {
    width: 438px; } }

/*# sourceMappingURL=style.css.map */
