<div class="contactForm">
    <perch:form id="brochure" method="post" app="perch_forms">
        <div class="floatContainer">
            <div class="floatTwo boxed contactForm">
                <div class="title">
                    <h2>Your Information</h2>
                </div>
                <div style="padding: 20px;">
                    <div class="field">
                        <perch:label for="name">Name*</perch:label>
                        <perch:input type="text" id="name" required="true" label="Name" />
                        <perch:error for="name" type="required"><label class='error'>Please add your name</label></perch:error>
                    </div>
                    
                    <div class="field">
                        <perch:label for="org">Organisation*</perch:label>
                        <perch:input type="text" id="org" required="true" label="Organisation" />
                        <perch:error for="org" type="required"><label class='error'>Please add your organisation name</label></perch:error>
                    </div>
                    
                    <div class="field">
                        <perch:label for="email">Email*</perch:label>
                        <perch:input type="email" id="email" required="true" label="Email" placeholder="you@company.com" />
                        <perch:error for="email" type="required"><label class='error'>Please add your email address</label></perch:error>
                        <perch:error for="email" type="format"><label class='error'>Please check your email address</label></perch:error>
                    </div>
                    
                    <div class="field">
                        <perch:label for="phone">Phone Number</perch:label>
                        <perch:input type="tel" id="phone" label="Phone Number" />
                    </div>
                </div>
            </div>
            
            <div class="floatTwo boxed contactForm">
                <div class="title">
                    <h2>Deliver to</h2>
                </div>
                <div style="padding: 20px;">
                    <div class="field">
                        <perch:label for="ad1">Address Line 1*</perch:label>
                        <perch:input type="text" id="ad1" required="true" label="Address Line 1" />
                        <perch:error for="ad1" type="required"><label class='error'>Please add your street address</label></perch:error>
                    </div>
                    
                    <div class="field">
                        <perch:label for="town">Town*</perch:label>
                        <perch:input type="text" id="town" required="true" label="Town" />
                        <perch:error for="town" type="required"><label class='error'>Please add your town</label></perch:error>
                    </div>
                    
                    <div class="field">
                        <perch:label for="county">County*</perch:label>
                        <perch:input type="text" id="county" required="true" label="County" />
                        <perch:error for="county" type="required"><label class='error'>Please add your County</label></perch:error>
                    </div>
                    
                    <div class="field">
                        <perch:label for="postcode">Post Code*</perch:label>
                        <perch:input type="text" id="postcode" required="true" label="Post Code" />
                        <perch:error for="postcode" type="required"><label class='error'>Please add your Post Code</label></perch:error>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="four columns offset-by-six">
                <perch:input type="submit" id="submit" value="Send my pack!" />
            </div>
        </div>
        
</perch:form>
</div>