<perch:form id="filter" method="post">
        
    <div class="page">
        <div class="container">
            <div class="sixteen columns">
                <h2>What Devices Do You Have?</h2>
            </div>
            <div class="three columns offset-by-half">
                <label>
                    <perch:input type="checkbox" class="device" id="laptops" value="1" />
                    <div class="filterOption">
                        <img src="/images/icons/devices/laptop.png">
                        <span>Laptops</span>
                    </div>
                </label>
            </div>
            
            <div class="three columns">
                <label>
                    <perch:input type="checkbox" class="device" id="chromebooks" value="1" />
                    <div class="filterOption">
                        <img src="/images/icons/devices/chromebook.png">
                        <span>Chromebooks</span>
                    </div>
                </label>
            </div>
            
            <div class="three columns">
                <label>
                    <perch:input type="checkbox" class="device tablets" id="ipads" value="1" />
                    <div class="filterOption">
                        <img src="/images/icons/devices/ipads.png">
                        <span>iPads</span>
                    </div>
                </label>
            </div>
            
            <div class="three columns">
                <label>
                    <perch:input type="checkbox" class="device tablets" id="tablets" value="1" />
                    <div class="filterOption">
                        <img src="/images/icons/devices/tablets.png">
                        <span>Other Tablets</span>
                    </div>
                </label>
            </div>
            
            <div class="three columns">
                <label>
                    <perch:input type="checkbox" class="device" id="ereaders" value="1" />
                    <div class="filterOption">
                        <img src="/images/icons/devices/ereaders.png">
                        <span>eReaders</span>
                    </div>
                </label>
            </div>
            
        </div>
    </div>
    
    <div class="container">
        <div class="two columns offset-by-seven">
            <div class="nextSection">
            </div>
        </div>
    </div>
    
    <div id="tabletOptions">
        <div class="page">
            <div class="container">
                <div class="sixteen columns">
                    <h2>Do you need to sync your tablets/iPads?</h2>
                </div>
                
                <div class="three columns offset-by-five" style="padding-left: 210px;">
                    <label>
                        <perch:input type="checkbox" class="sync" id="sync" value="1" />
                        <div class="filterOption">
                            <h3>YES</h3>
                        </div>
                    </label>
                </div>
                
                <div class="three columns">
                    <label>
                        <perch:input type="checkbox" class="sync" id="nosync" value="1" />
                        <div class="filterOption">
                            <h3>NO</h3>
                        </div>
                    </label>
                </div>
                
                <div class="three columns">
                    <label>
                        <perch:input type="checkbox" class="sync" id="any" value="1" />
                        <div class="filterOption">
                            <h3>Unsure</h3>
                        </div>
                    </label>
                </div>
                
            </div>
        </div>
        <div class="container">
            <div class="two columns offset-by-seven">
                <div class="nextSection">
                </div>
            </div>
        </div>
        <div class="page">
            <div class="container">
                <div class="sixteen columns">
                    <h2>What cases will your iPads/tablets have on?</h2>
                </div>
                <div class="three columns" style="padding-left: 210px;">
                    <label>
                        <perch:input type="checkbox" class="cases" id="slim" value="1" />
                        <div class="filterOption">
                            <img src="/images/icons/devices/ipads.png">
                            <span>Slim/None</span>
                        </div>
                    </label>
                </div>
                <div class="three columns">
                    <label>
                        <perch:input type="checkbox" class="cases" id="ruggedised" value="1" />
                        <div class="filterOption">
                            <img src="/images/icons/devices/ruggedised.png">
                            <span>Ruggedised</span>
                        </div>
                    </label>
                </div>
                <div class="three columns">
                    <label>
                        <perch:input type="checkbox" class="cases" id="gripcase" value="1" />
                        <div class="filterOption">
                            <img src="/images/icons/devices/gripcase.png">
                            <span>Gripcase</span>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="two columns offset-by-seven">
                <div class="nextSection">
                </div>
            </div>
        </div>
    </div>
    
    <div class="page">
        <div class="container">
            <div class="sixteen columns">
                <h2>How Many Device Per Unit?</h2>
            </div>
            <div class="three columns offset-by-two">
                <label>
                    <perch:input type="checkbox" class="qty" id="10" value="1" />
                    <div class="filterOption">
                        <h3>1 - 10</h3>
                    </div>
                </label>
            </div>
            <div class="three columns">
                <label>
                    <perch:input type="checkbox" class="qty" id="20" value="1" />
                    <div class="filterOption">
                        <h3>11 - 20</h3>
                    </div>
                </label>
            </div>
            <div class="three columns">
                <label>
                    <perch:input type="checkbox" class="qty" id="30" value="1" />
                    <div class="filterOption">
                        <h3>21 - 30</h3>
                    </div>
                </label>
            </div>
            <div class="three columns">
                <label>
                    <perch:input type="checkbox" class="qty" id="31" value="1" />
                    <div class="filterOption">
                        <h3>31 +</h3>
                    </div>
                </label>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="two columns offset-by-seven">
            <div class="nextSection">
            </div>
        </div>
    </div>
    
    <div class="page">
        <div class="container">
            <div class="sixteen columns">
                <h2>What Product Type?</h2>
            </div>
            <div class="three columns" style="padding-left: 210px;">
                <label>
                    <perch:input type="checkbox" class="type" id="trolley" value="1" />
                    <div class="filterOption">
                        <img src="/images/icons/devices/trolley.png">
                        <span>Trolley</span>
                    </div>
                </label>
            </div>
            
            <div class="three columns">
                <label>
                    <perch:input type="checkbox" class="type" id="case" value="1" />
                    <div class="filterOption">
                        <img src="/images/icons/devices/case.png">
                        <span>Portable Case</span>
                    </div>
                </label>
            </div>
            
            <div class="three columns">
                <label>
                    <perch:input type="checkbox" class="type" id="any" value="1" />
                    <div class="filterOption">
                        <h3>ANY</h3>
                    </div>
                </label>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="four columns offset-by-five">
            <perch:input type="submit" class="formButton" value="Find My Perfect Product" />
        </div>
        <div class="two columns">
            <input type='button' class="formButton" onclick='uncheckAll()' value="clear"/>
        </div>
    </div>    
    
</perch:form>