<perch:content id="date" type="date" label="Date of news" format="%A, %e %B %Y" order="1" suppress="true" />
<perch:content type="slug" id="slug" for="title" label="Slug" editable="true" indelible="true" suppress="true" order="3" />

<article class="boxed noPadding clearfix">
    <div class="articleHeader">
        <img src="<perch:content type="image" order="6" divider-before="Images" id="header" label="Header Image" width="700" height="400" crop="true" bucket="news" />" alt="<perch:content type="text" label="Image Description" id="main-alt" order="8" />">
        <div class="date">
            <time datetime="<perch:blog id="date" />" class="icon">
                <span class="month"><perch:content id="date" format="%b" /></span>
                <strong class="day"><perch:content id="date" format="%e" /></strong>
                <span class="year"><perch:content id="date" format="%Y" /></span>
            </time>
        </div>
    </div>
    
    <div class="articleContent">
        <h1><perch:content id="title" type="text" label="News Article Title" order="2" /></h1>
        <perch:if exists="subtitle"><h2><perch:content type="text" id="subtitle" label="Sub Title" order="4" /></h2></perch:if>
        <perch:content type="textarea" id="text" label="News Article" html="true" editor="redactor" order="5" />
    </div>
        
    <perch:blocks order="6">
        
        <perch:template path="content/_Blocks/text_block.html" />
        
        <perch:block type="image" label="Full Image">
            <figure>
                <img width="100%" src="<perch:content id="image" type="image" bucket="news" width="700" label="Image" />" alt="<perch:content id="caption" type="smarttext" label="Caption" />" />
                <perch:if exists="caption"><figcaption class="colouredBlock">
                    <perch:content id="caption" />
                </figcaption></perch:if>
            </figure>
        </perch:block>
        
        <perch:template path="content/_Blocks/button.html" />
        
        <perch:template path="content/_Blocks/attention.html" />
        
        <perch:block type="slideshow" label="Slideshow">
            <div id="slides">
                <perch:repeater id="slideshowImages" max="10">
                    <img src="<perch:content id="images" type="image" label="Image" width="700" height="400" crop="true" bucket="news" />">
                </perch:repeater>
            </div>
        </perch:block>
        
    </perch:blocks>
    
    
</article>

<perch:content id="image" bucket="news" label="List Image" type="image" width="700" help="Width 700px Minimum" suppress="true" order="7" />
<perch:content id="image" bucket="news" type="image" width="100" height="100" crop="true" suppress="true" />