<title><perch:content id="title" /> | LapSafe® News Article</title>
<meta name="description" content="<perch:content id="subtitle" />">

<meta property="og:site_name" content="LapSafe® Products ~ Store, Charge & Sync" />
<meta property="og:url" content="http://www.lapsafe.com/news/<perch:content id="date" format="%Y" />/<perch:content id="slug" />" />
<meta property="og:title" content="<perch:content id="title" />" />
<meta property="og:description" content="<perch:content id="text" striptags="true" type="textarea" chars="140" append="..." />" />
<meta property="og:image" content="http://www.lapsafe.com<perch:content id="header" />" />
<meta property="og:type" content="article" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@lapsafe" />
<meta name="twitter:title" content="<perch:content id="title" />" />
<meta name="twitter:description" content="<perch:content id="text" striptags="true" type="textarea" chars="140" append="..." />" />
<meta property="twitter:image" content="http://www.lapsafe.com<perch:content id="header" />" />
<meta name="twitter:url" content="http://www.lapsafe.com/news/<perch:content id="date" format="%Y" />/<perch:content id="slug" />" />