<perch:before>
    <div id="articleList">
</perch:before>
<article class="articlePostListing">
    <div class="boxed">
        <a href="/news/<perch:content id="date" format="%Y" />/<perch:content id="slug" />">
            <div class="articleListImage">
                <img src="<perch:content id="image" />" alt="<perch:content id="main-alt" />">
                <div class="date">
                    <time datetime="<perch:content id="date" />" class="icon">
                        <span class="month"><perch:content id="date" format="%b" /></span>
                        <strong class="day"><perch:content id="date" format="%e" /></strong>
                        <span class="year"><perch:content id="date" format="%Y" /></span>
                    </time>
                </div>
            </div>
        </a>
        <div class="articleContent">
            <h2>
                <a href="/news/<perch:content id="date" format="%Y" />/<perch:content id="slug" />" class="entry-title"><perch:blog id="postTitle" /><perch:content id="title" /></a>
            </h2>
            <perch:content type="textarea" id="text" label="News Article" html="true" editor="redactor" chars="100" append="..." />
        </div>
    </div>
    <a class="articleButton" href="/news/<perch:content id="date" format="%Y" />/<perch:content id="slug" />">Read</a>
</article>
    
<perch:after>
<perch:template path="pagination/default.html" rescope="parent" />
</div>
</perch:after>