<perch:before>
    <div class="boxed clearfix sidebarContent blogItem">
        <h3>Recent News</h3>
        <div class="blogItem">
            <ul>
</perch:before>
                <li class="recentPosts clearfix">
                    <a href="/news/<perch:content id="date" format="%Y" />/<perch:content id="slug" />">
                        <img style="width: 100px; height: 100px; display:block; float: left;" src="<perch:content id="image" bucket="news" type="image" width="100" height="100" crop="true" />">
                        <perch:content id="title" type="text" chars="55" append="..." />
                    </a>
                </li>
<perch:after>
            </ul>
        </div>
    </div>
</perch:after>