<div class="boxed sidebarContent">
    <div class="otherItem">
        <h3><perch:content type="text" id="title" title="true" label="News Item Name" order="1" required="true"/></h3>
        <a href="<perch:content type="pagelist" label="page" id="page" order="6"/>"><img class="fit" alt="<perch:content type="text" order="4" id="imageAlt" label="Image Description" />" src="<perch:content type="image" order="3" bucket="news" id="image" label="Image" width="350" />"></a>
        <div class="text">
            <perch:content id="subtitle" chars="150" type="textarea" label="Short Description" size="xs" order="2" />
        </div>
        <a href="<perch:content id="page" />" class="button"><perch:content type="text" order="5" id="buttonText" label="Button Text" /></a>
    </div>
</div>