<h2><perch:content type="text" label="Title" id="title" title="true" /></h2>
<perch:content type="textarea" size="s" id="text" label="Message" textile="true" editor="markitup" />
<perch:content type="slug" id="slug" label="Slug" for="title" editable="true" suppress="true" indelible="true" />