<section class="parallaxHeader small" style="background-image:url('<perch:content type="image" id="header" label="Banner" bucket="headers" width="1600" height="800" crop="true" order="2" />'); background-attachment: fixed;">
    <h1><perch:content type="text" id="title" label="Title" required="true" order="1" /></h1>
</section>