<a class="button" target="_blank" href="<perch:content type="file" bucket="downloads" id="download" label="File" required="true" />">
    <perch:content type="text" label="Button Text" id="text" required="true" />
</a>