<perch:before>
<div class="floatContainer">
</perch:before>
    
    <div class="boxed floatThree productList">
        
        <a href="<perch:content type="pagelist" id="page" label="Page" order="4" />">
            <img src="<perch:content type="image" id="image" label="Image" bucket="general-images" order="3" />" alt="<perch:content type="textarea" editor="markitup" size="xs" order="2" id="subtitle" label="Short Description" />">
        </a>
        
        <div class="productContent">
            
            <a href="<perch:content id="page" />">
                <div class="caseStudyTitle">
                    <h3>
                        <perch:content type="text" id="title" order="2" title="true" label="Title" required="true"/>
                    </h3>
                </div>
            </a>
            <h4>
                <perch:content id="subtitle" />
            </h4>
            <a class="btn" href="<perch:content id="page" />"><perch:content type="text" label="Button Text" id="buttontext" /></a>
        </div>
        
    </div>
    
<perch:after>
</div>
</perch:after>