<perch:block type="block" label="Attention Block">
    <div class="colouredBlock">
        <perch:content type="textarea" id="extraText" label="Text" size="m" textile="true" editor="markitup" />
    </div>
</perch:block>