<perch:block type="button" label="Button">
    <div class="articleContent">
        <a class="button" target="_blank" href="<perch:content type="text" id="link" label="Link" />">
            <perch:content type="text" label="Button Text" id="button" />
        </a>
    </div>
</perch:block>