<perch:block type="text" label="Text">
    <div class="articleContent">
        <perch:content type="textarea" id="extraText" label="Text" size="m" textile="true" editor="markitup" />
    </div>
</perch:block>