<perch:before>
<div class="floatContainer">
</perch:before>
    
    <div class="boxed floatThree productList">
        
        <a href="<perch:category type="pagelist" id="page" label="Page" required="true" />">
            <img src="<perch:category id="catImage" label="Image" type="image" bucket="devices" order="3" />" alt="<perch:category type="textarea" editor="markitup" size="xs" order="2" id="desc" label="Short Description" />">
        </a>
        
        <div class="productContent">
            
            <a href="<perch:category id="page" />">
                <div class="caseStudyTitle">
                    <h3>
                        <perch:category id="catTitle" type="smarttext" label="Title" required="true" order="1" />
                    </h3>
                </div>
            </a>
            <h4>
                <perch:category id="desc" />
            </h4>
            <a class="btn" href="<perch:category id="page" />">View our solutions for <perch:category id="catTitle" /></a>
        </div>
        
    </div>
    
<perch:after>
</div>
</perch:after>