<section id="<perch:category id="catSlug" type="slug" for="catTitle" editable="true" label="Slug" order="5" indelible="true" />">
    <div class="container row">
        <div class="sixteen columns">
            <h2><perch:category id="catTitle" type="smarttext" label="Title" required="true" order="1" /></h2>
        </div>
        <div class="eight columns">
            <perch:category id="desc" type="textarea" label="Description" editor="markitup" markdown="true" size="s" order="2" />
        </div>
        <div class="eight columns">
            <img class="border" src="<perch:category id="catImage" label="Image" type="image" bucket="sectors" order="3" />" alt="<perch:category id="catImageAlt" type="text" label="Image Description" order="4" />">
        </div>
    </div>
</section>