<h2><perch:events id="selected_month" format="%B %Y" /></h2>

<perch:if exists="body">
<ul class="calendar">
    <perch:events id="body" encode="false" />
</ul>
<perch:else />
    
</perch:if>

<div class="calNav">
    <a class="prevMonth" href="/news/exhibitions/<perch:events id="prev_month" format="Y-m" />">&lt; <perch:events id="prev_month" format="%b %Y" /></a>
    <a class="nextMonth" href="/news/exhibitions/<perch:events id="next_month" format="Y-m" />"><perch:events id="next_month" format="%b %Y" /> &gt;</a>
</div>