<section class="parallaxHeader xlarge clearfix" style="background-image:url('<perch:content type="image" id="header" label="Banner" bucket="headers" width="1600" height="800" crop="true" order="3" />'); background-attachment: fixed;">
    <div class="container homeSection">
        <div class="ten columns offset-by-six">
            <div class="homeContent">
                <h2><perch:content type="text" label="Title" id="title" required="true" /></h2>
                <perch:content type="textarea" label="Text" id="text" editor="markitup" textile="true" />
                <a href="<perch:content type="pagelist" id="link" label="Page" />" class="button">Read more</a>
            </div>
        </div>
    </div>
</section>