<section class="clearfix">
    <div class="container homeSection">
        <div class="seven columns">
            <img src="<perch:content type="image" id="image" label="Image" height="420" bucket="general-images" />">
        </div>
        <div class="nine columns homeContent">
            <h2><perch:content type="text" label="Title" id="title" required="true" /></h2>
            <perch:content type="textarea" label="Text" id="text" editor="markitup" textile="true" />
            <a href="<perch:content type="pagelist" id="link" label="Page" />" class="button">Read more</a>
        </div>
    </div>
</section>