<perch:before>
    <h1>Search results for &#8220;<perch:search id="search_key" />&#8221;</h1>
    <perch:if exists="paging">
        <p><perch:search id="total" /> results</p>
    </perch:if>
        <ul>
</perch:before>

        <li class="searchResult">
			<div class="searchResultBody">
				<h2>
					<a href="<perch:search id="result_url" />"><perch:search id="result_title" /> <perch:if id="result_url" match="contains" value="case-studies" >- Case Study</perch:if></a>
				</h2>
				<perch:if exists="text"><perch:search id="text" encode="false" type="textarea" chars="300" /></perch:if>
				<p>Continue reading<a href="<perch:search id="result_url" />"> - <perch:search id="result_title" /></a></p>
			</div>
        </li>

<perch:after>
    </ul>

    <perch:if exists="paging">
        <ul class="paging">
           <perch:if exists="not_first_page"><a href="<perch:search id="prev_url" encode="false" />"><li class="previous"></li></a></perch:if>
			<li class="active"><perch:search id="current_page" /></li>
           <perch:if exists="not_last_page"><a href="<perch:search id="next_url" encode="false" />"><li class="next"></li></a></perch:if>
       </ul>
    </perch:if>
</perch:after>


<perch:noresults>
    <perch:if exists="search_key">
        <h2>Search results for &#8220;<perch:search id="search_key" />&#8221;</h2>
    </perch:if>
    <perch:if exists="search_key">
        <p>Sorry, there are no results for &#8220;<perch:search id="search_key" />&#8221;.</p>
    </perch:if>
</perch:noresults>