<perch:form id="search" method="get" action="/search">
    <table>
        <tr>
            <td><perch:input type="text" id="q" placeholder="Type Keyword Here" /></td>
            <td><perch:input type="submit" value="Go" /></td>
        </tr>
    </table>
</perch:form>