<perch:form id="search" class="searchPageForm" method="get" action="/search.php">
    <div class="row">
        <div class="twelve columns">
            <perch:input type="text" id="q" placeholder="Type Keyword Here" />
        </div>
        <div class="four columns">
            <perch:input type="submit" value="Search" />
        </div>
    </div>
</perch:form>