<perch:before><ul></perch:before>
	<li>
		<a href="/blog/category/<perch:category id="catSlug" type="slug" for="catTitle" order="2" />">
			<perch:category id="catTitle" type="smarttext" label="Title" required="true" order="1" />
		</a>
	</li>
<perch:after></ul></perch:after>