<perch:before>
<div class="boxed clearfix sidebarContent blogItem">
<h3>Categories</h3>
    <div class="blogItem">
<ul>
</perch:before>
    <li><a class="categories" href="/blog/category/<perch:category id="catSlug" />"><perch:category id="catTitle" /> (<perch:category id="count.blog.post" when-empty="0" />)</a></li>
<perch:after></ul></div></div></perch:after>