<perch:before>
<ul>
</perch:before>
    <li>
        <a href="/blog/<perch:blog id="postDateTime" format="%Y" />/<perch:blog id="postSlug"/>">
            <perch:blog id="postTitle" />
        </a>
    </li>
<perch:after>
</ul>
</perch:after>