<li>
    <h2>Latest Blog Post</h2>
    <h3 class="latestTitle"><perch:blog type="text" id="postTitle" title="true" label="Organisation Name"/></h3>
    <a href="<perch:blog id="postURL" label="Link" type="text" />">
        <div class="menuLatest">
            <img src="<perch:blog type="image" id="image" bucket="blog" label="image" required="true" />">
        </div>
    </a>
    <perch:blog type="textarea" label="Introduction" words="20" id="excerpt" editor="markitup" textile="true" append="..." />
</li>