<perch:before>
<ul>
</perch:before>
    <li><a href="/blog/<perch:blog id="postDateTime" format="Y" />&amp;month=<perch:blog id="postDateTime" format="m" />"><perch:blog id="postDateTime" format="%B" /> (<perch:blog id="month_qty" />)</a></li>
<perch:after>
</ul>
</perch:after>