<perch:before>
<div class="boxed clearfix sidebarContent blogItem">
<h3>Post Categories</h3>
    <div class="blogItem">
<ul>
</perch:before>
    <li><a class="categories" href="/blog/category/<perch:category id="catSlug" />"><perch:category id="catTitle" /></a></li>
<perch:after></ul></div></div></perch:after>