<article class="noPadding boxed clearfix">
    <div class="articleHeader">
        <perch:if exists="headerImage"><img src="<perch:blog width="700" height="400" crop="true" type="image" id="headerImage" bucket="blog" label="Header Image" order="6" divider-before="Images" help="Width 1024px Minimum" />" <perch:if exists="mainAlt">alt="<perch:blog type="text" label="Image Description" order="8" id="mainAlt" divider-after="Extras" />"</perch:if>></perch:if>
        <div class="date">
            <time datetime="<perch:blog id="postDateTime" label="Date" format="Y-m-d H:i:s" required="true" type="date" time="true" order="1" />" class="icon">
                <span class="month"><perch:blog id="postDateTime" format="%b" /></span>
                <strong class="day"><perch:blog id="postDateTime" format="%e" /></strong>
                <span class="year"><perch:blog id="postDateTime" format="%Y" /></span>
            </time>
        </div>
    </div>
    <div class="articleContent">
        <h1><perch:blog id="postTitle" label="Blog Title" type="text" required="true" order="2" /></h1>
        <perch:blog id="postDescHTML" type="textarea" editor="redactor" html="true" bucket="blog" required="true" label="Blog Text" order="4" />
    </div>
    
    <perch:blocks order="5">
        <perch:block type="text" label="Text">
            <div class="articleContent">
                <perch:blog type="textarea" id="extraText" label="Text" size="m" textile="true" editor="markitup" />
            </div>
        </perch:block>
  
        <perch:block type="image" label="Full Image">
            <figure>
                <img width="100%" src="<perch:blog id="image" type="image" width="700" bucket="blog" label="Image" />" alt="<perch:blog id="caption" type="smarttext" label="Caption" />" />
                <perch:if exists="caption"><figcaption class="colouredBlock">
                    <perch:blog id="caption" />
                </figcaption></perch:if>
            </figure>
        </perch:block>
        
        <perch:block type="button" label="Button">
            <div class="articleContent">
            <a class="button" target="_blank" href="<perch:blog type="text" id="link" label="Link" />">
                <perch:blog type="text" label="Button Text" id="button" />
            </a>
            </div>
        </perch:block>
        
        <perch:block type="block" label="Attention Block">
            <div class="colouredBlock">
                <perch:blog type="textarea" id="extraText" label="Text" size="m" textile="true" editor="markitup" />
            </div>
        </perch:block>
        
        <perch:block type="slideshow" label="Slideshow">
            <div id="slides">
                <perch:repeater id="slideshowImages" max="10">
                    <img src="<perch:blog id="images" type="image" label="Image" width="700" height="400" crop="true" bucket="blog" />">
                </perch:repeater>
            </div>
        </perch:block>
        
    </perch:blocks>

</article>

<perch:categories id="categories" set="blog" label="Categories"></perch:categories>

<perch:blog id="excerpt" type="textarea" editor="redactor" html="true" label="Excerpt" textile="true" order="3" suppress="true" size="xs" />
<perch:blog id="image" bucket="blog" label="List Image" type="image" width="700" help="Width 700px Minimum" suppress="true" order="7" />
<perch:blog id="image" bucket="blog" type="image" width="100" height="100" crop="true" suppress="true" />

<perch:blog id="postDateTime" label="Date" format="Y-m-d H:i:s" required="true" type="date" time="true" order="1" suppress="true" />