<perch:before>
    <div id="articleList">
</perch:before>
<article class="articlePostListing">
    <div class="boxed">
        <a href="/blog/<perch:blog id="postDateTime" format="%Y" />/<perch:blog id="postSlug"/>">
            <div class="articleListImage">
                <perch:if exists="image"><img src="<perch:blog id="image" />" <perch:if exists="main-alt">alt="<perch:blog id="main-alt" />"</perch:if>></perch:if>
                <div class="date">
                    <time datetime="<perch:blog id="postDateTime" />" class="icon">
                        <span class="month"><perch:blog id="postDateTime" format="%b" /></span>
                        <strong class="day"><perch:blog id="postDateTime" format="%e" /></strong>
                        <span class="year"><perch:blog id="postDateTime" format="%Y" /></span>
                    </time>
                </div>
            </div>
        </a>
        <div class="articleContent">
            <h2>
                <a href="/blog/<perch:blog id="postDateTime" format="%Y" />/<perch:blog id="postSlug"/>" rel="bookmark" class="entry-title"><perch:blog id="postTitle" />
                </a>
            </h2>
            <perch:if exists="excerpt">
                <perch:blog id="excerpt" type="textarea" html="true"/>
            <perch:else />
                <perch:blog id="postDescHTML" chars="400" append="..." html="true" />
            </perch:if>
        </div>
    </div>
    <a class="articleButton" href="/blog/<perch:blog id="postDateTime" format="%Y" />/<perch:blog id="postSlug"/>">Read</a>
</article>
<perch:after>
<perch:template path="pagination/blog.html" rescope="parent" />
</div>
</perch:after>