<perch:before>
    <div class="boxed clearfix sidebarContent blogItem">
        <h3>Recent Posts</h3>
        <div class="blogItem">
            <ul>
</perch:before>
                <li class="recentPosts clearfix">
                    <a href="/blog/<perch:blog id="postDateTime" format="%Y" />/<perch:blog id="postSlug"/>">
                        <img style="width: 100px; height: 100px; display:block; float: left;" src="<perch:blog id="image" bucket="blog" type="image" width="100" height="100" />">
                        <perch:blog id="postTitle" chars="55" append="..." />
                    </a>
                </li>
<perch:after>
            </ul>
        </div>
    </div>
</perch:after>