        <item>
           <title><perch:blog id="postTitle" /></title>
           <link>http://www.lapsafe.com/blog/<perch:blog id="postDateTime" format="%Y" />/<perch:blog id="postSlug"/></link>
           <guid>http://www.lapsafe.com/blog/<perch:blog id="postDateTime" format="%Y" />/<perch:blog id="postSlug"/></guid>
           <description><![CDATA[<perch:blog id="postDescHTML" encode="false" />]]></description>
           <pubDate><perch:blog id="postDateTime" format="D, d M Y H:i:s O" /></pubDate>
        </item>