<perch:before>
<div class="boxed clearfix sidebarContent">
<h3>Tags</h3>
<ul>
</perch:before>
    <li><a class="tags" href="archive/tag/<perch:blog id="tagSlug" />" rel="tag"><perch:blog id="tagTitle" /> (<perch:blog id="qty" />)</a></li>
<perch:after></ul></div></perch:after>