<perch:before>
<div class="boxed clearfix sidebarContent">
<h3>Archive by Year</h3>
<div class="blogItem">
<ul>
</perch:before>
    <li><a class="year" href="/blog/<perch:blog id="year" />"><perch:blog id="year" /> (<perch:blog id="year_qty" />)</a></li>
<perch:after></ul></div></div></perch:after>